Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

ci: fail publish on a version-mismatched build artifact (#668)
  .github/workflows/publish.yml
Due: none

feat(demo): add a Tailwind Preflight reset toggle (#669)
  apps/demo/react/src/App.tsx
  apps/demo/shared/preflight.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
Due: biome-check

fix(deps): pin @tiptap to a single core via pnpm catalog
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: clarify which @tiptap packages the catalog overrides pin
  pnpm-workspace.yaml
Due: none

fix(deps): pin @tiptap to a single core via pnpm catalog (#677)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: auto-merge pnpm minor and patch updates in renovate
  renovate.json5
Due: none

ci: auto-merge pnpm minor and patch updates in renovate (#678)
  renovate.json5
Due: none

chore: align Renovate config with shared best practices
  renovate.json5
Due: none

chore: preserve npm semver ranges and auto-merge action digest pins
  renovate.json5
Due: none

docs(spec): add Vitest Browser Mode migration design
  docs/superpowers/specs/2026-06-23-vitest-browser-mode-migration-design.md
Due: none

test(ct): port the full editor scenario to Vitest Browser Mode
  tests/ct/react/specs-bc/CssResetFixture.tsx
  tests/ct/react/specs-bc/Editor.bc.test.tsx
  tests/ct/react/specs-bc/EditorFixture.tsx
  tests/ct/react/specs-bc/EditorFormatting.bc.test.tsx
  tests/ct/react/specs-bc/EditorHostReset.bc.test.tsx
  tests/ct/react/specs-bc/EditorPlaceholder.bc.test.tsx
  tests/ct/scenarios/_vitest-context.ts
  tests/ct/scenarios/editor-bc.scenario.ts
  tests/ct/svelte/specs-bc/CssResetFixture.svelte
  tests/ct/svelte/specs-bc/Editor.bc.test.ts
  tests/ct/svelte/specs-bc/EditorFixture.svelte
  tests/ct/svelte/specs-bc/EditorFormatting.bc.test.ts
  tests/ct/svelte/specs-bc/EditorHostReset.bc.test.ts
  tests/ct/svelte/specs-bc/EditorPlaceholder.bc.test.ts
  tests/ct/vue/specs-bc/CssResetFixture.vue
  tests/ct/vue/specs-bc/Editor.bc.test.ts
  tests/ct/vue/specs-bc/EditorFixture.vue
  tests/ct/vue/specs-bc/EditorFormatting.bc.test.ts
  tests/ct/vue/specs-bc/EditorHostReset.bc.test.ts
  tests/ct/vue/specs-bc/EditorPlaceholder.bc.test.ts
  vitest.browser.config.ts
Due: biome-check

test(ct): render the Vizel editor in Vitest Browser and port render scenario
  .gitignore
  tests/ct/react/specs-bc/Editor.bc.test.tsx
  tests/ct/react/specs-bc/EditorFixture.tsx
  tests/ct/scenarios/_vitest-context.ts
  tests/ct/scenarios/editor-bc.scenario.ts
  vitest.browser.config.ts
Due: biome-check

docs(plan): add Vitest Browser Mode Phase 0 PoC implementation plan
  docs/superpowers/plans/2026-06-23-vitest-browser-migration-phase-0-poc.md
Due: none

test(ct): add Vitest Browser Mode toolchain spike for React
  package.json
  pnpm-lock.yaml
  tests/ct/react/specs-bc/smoke.bc.test.tsx
  vitest.browser.config.ts
Due: biome-check

test(a11y,ct): port accessibility and round-trip suites to Vitest Browser
  package.json
  pnpm-lock.yaml
  tests/a11y/react/specs-bc/Editor.bc.test.tsx
  tests/a11y/react/specs-bc/EditorFixture.tsx
  tests/a11y/react/specs-bc/Outline.bc.test.tsx
  tests/a11y/react/specs-bc/OutlineFixture.tsx
  tests/a11y/react/specs-bc/Toolbar.bc.test.tsx
  tests/a11y/react/specs-bc/ToolbarFixture.tsx
  tests/a11y/scenarios/axe-bc.scenario.ts
  tests/a11y/svelte/specs-bc/Editor.bc.test.ts
  tests/a11y/svelte/specs-bc/EditorFixture.svelte
  tests/a11y/svelte/specs-bc/Outline.bc.test.ts
  tests/a11y/svelte/specs-bc/OutlineFixture.svelte
  tests/a11y/svelte/specs-bc/Toolbar.bc.test.ts
  tests/a11y/svelte/specs-bc/ToolbarFixture.svelte
  tests/a11y/vue/specs-bc/Editor.bc.test.ts
  tests/a11y/vue/specs-bc/EditorFixture.vue
  tests/a11y/vue/specs-bc/Outline.bc.test.ts
  tests/a11y/vue/specs-bc/OutlineFixture.vue
  tests/a11y/vue/specs-bc/Toolbar.bc.test.ts
  tests/a11y/vue/specs-bc/ToolbarFixture.vue
  tests/markdown-roundtrip/specs-bc/Roundtrip.bc.test.ts
  vitest.browser.config.ts
Due: biome-check

test(ct): satisfy parity and lint gates for the Vitest Browser PoC
  biome.json
  tests/ct/parity/check-scenarios.ts
  tests/ct/react/specs-bc/Editor.bc.test.tsx
  tests/ct/react/specs-bc/smoke.bc.test.tsx
  tests/ct/scenarios/_vitest-context.ts
  vitest.browser.config.ts
Due: biome-check

test(ct): run Vitest Browser Mode across React, Vue, and Svelte
  package.json
  pnpm-lock.yaml
  tests/ct/scenarios/editor-bc.scenario.ts
  tests/ct/svelte/specs-bc/Editor.bc.test.ts
  tests/ct/svelte/specs-bc/EditorFixture.svelte
  tests/ct/vue/specs-bc/Editor.bc.test.ts
  tests/ct/vue/specs-bc/EditorFixture.vue
  vitest.browser.config.ts
Due: biome-check

test(visual): port visual regression suite to Vitest toMatchScreenshot
  tests/visual/specs-bc/Editor.bc.test.tsx
  tests/visual/specs-bc/__screenshots__/Editor.bc.test.tsx/editor-dark-chromium-darwin.png
  tests/visual/specs-bc/__screenshots__/Editor.bc.test.tsx/editor-light-chromium-darwin.png
  tests/visual/specs-bc/__screenshots__/Editor.bc.test.tsx/editor-toolbar-only-light-chromium-darwin.png
  vitest.browser.config.ts
Due: biome-check

fix(core): guard the editor-mount disposer against a destroyed editor
  docs/superpowers/specs/2026-06-23-vitest-browser-mode-migration-design.md
  packages/core/src/utils/editorHelpers.ts
Due: biome-check, typecheck-core

build(deps): patch @vitest/browser to url-encode the iframe id
  patches/@vitest__browser@4.1.9.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): drop Playwright CT runner scripts and dependencies
  package.json
  pnpm-lock.yaml
  vitest.browser.config.ts
Due: biome-check

ci: run the browser test matrix on Vitest Browser Mode
  .github/actions/test/action.yml
  .github/workflows/ci.yml
Due: none

docs: describe the Vitest Browser Mode test suite
  .claude/rules/feature-manifest.md
  .claude/rules/git.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/guide/accessibility.md
  docs/superpowers/specs/2026-06-23-vitest-browser-mode-migration-design.md
Due: none

test(ct): harden bubble-menu content polls for Firefox under load
  tests/ct/scenarios/bubble-menu.scenario.ts
Due: biome-check

chore: drop the removed playwright-ct config from the biome override
  biome.json
Due: biome-check

test(ct): make the browser matrix green on Firefox
  tests/ct/react/specs/BlockClipboard.test.tsx
  tests/ct/react/specs/EdgeCases.test.tsx
  tests/ct/scenarios/_vitest-context.ts
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/svelte/specs/BlockClipboard.test.ts
  tests/ct/svelte/specs/EdgeCases.test.ts
  tests/ct/vue/specs/BlockClipboard.test.ts
  tests/ct/vue/specs/EdgeCases.test.ts
Due: biome-check

test(ct): skip synthetic drag-and-drop reorders on WebKit
  tests/ct/react/specs/DragHandle.test.tsx
  tests/ct/scenarios/_vitest-context.ts
  tests/ct/svelte/specs/DragHandle.test.ts
  tests/ct/vue/specs/DragHandle.test.ts
Due: biome-check

docs: align the test skill and notes with Vitest Browser Mode
  .claude/rules/testing.md
  .claude/skills/test/SKILL.md
  .claude/skills/test/examples.md
  .claude/skills/test/reference.md
  .gitignore
Due: none

test(ct): restore screenshot tolerance and exact error-code match
  tests/ct/scenarios/error-model.scenario.ts
  tests/visual/specs/Editor.test.tsx
Due: biome-check

chore: sync package versions to 2.0.2 and fix the ADR-0005 check
  packages/core/package.json
  packages/headless/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  scripts/check-adr-compliance.ts
Due: biome-check

ci: harden the publish workflow (prerelease dist-tag, least privilege, semver)
  .github/workflows/publish.yml
Due: none
