Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

test(react): switch to line reporter and fix broken type imports
  tests/ct/react/playwright-ct.config.ts
  tests/ct/react/specs/ColorPickerFixture.tsx
  tests/ct/react/specs/PortalFixture.tsx
  tests/ct/react/specs/SaveIndicatorFixture.tsx
Due: biome-check

fix: align cross-framework parity for icon, theme, color-picker APIs
  docs/api/vue.md
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useVizelTheme.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelThemeContext.ts
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/runes/getVizelTheme.svelte.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelIconContext.ts
  packages/vue/src/components/VizelIconProvider.vue
  tests/ct/react/specs/ThemeProviderFixture.tsx
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

chore(deps): refresh pnpm-lock after rebase
  pnpm-lock.yaml
Due: none

test(react): restore html-only reporter
  tests/ct/react/playwright-ct.config.ts
Due: biome-check

chore(deps): refresh dependencies and bump pnpm to 11.1.0
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

chore(deps): refresh dependencies and bump pnpm to 11.1.0 (#403)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(svelte): import VizelThemeContext with .js extension
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/runes/getVizelTheme.svelte.ts
Due: biome-check, typecheck-svelte

fix(demo): start cursor at top and enable comments/history by default
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
Due: biome-check

docs: add framework demo navigation to homepage and clarify storage API
  docs/api/core.md
  docs/guide/auto-save.md
  docs/guide/comments.md
  docs/guide/version-history.md
  docs/index.md
Due: none

fix(svelte,demo,docs): unblock pages deploy + add homepage demo nav (#404)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/guide/auto-save.md
  docs/guide/comments.md
  docs/guide/version-history.md
  docs/index.md
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/runes/getVizelTheme.svelte.ts
Due: biome-check, typecheck-svelte

docs: add docs/* and deps:* commands and docs/ layout to CLAUDE.md
  CLAUDE.md
Due: none

docs(rules): record svelte import extension and pnpm allowBuilds gotchas
  .claude/rules/packages/core.md
  .claude/rules/packages/svelte.md
Due: none

docs: surface docs/deps commands and record svelte/pnpm gotchas (#405)
  .claude/rules/packages/core.md
  .claude/rules/packages/svelte.md
  CLAUDE.md
Due: none

fix: critical data-loss, keyboard, and lifecycle bugs
  .claude/rules/packages/svelte.md
  packages/react/src/hooks/useVizelAutoSave.ts
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: critical data-loss, keyboard, and lifecycle bugs (#406)
  .claude/rules/packages/svelte.md
  packages/react/src/hooks/useVizelAutoSave.ts
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: do not rethrow editor init errors when onError is supplied
  docs/api/types/editor.md
  docs/guide/configuration.md
  packages/core/src/types.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: do not rethrow editor init errors when onError is supplied (#407)
  docs/api/types/editor.md
  docs/guide/configuration.md
  packages/core/src/types.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: align consumer API with each framework's idiom
  .claude/rules/cross-framework.md
  apps/demo/react/src/App.tsx
  docs/api/react.md
  docs/guide/auto-save.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/getting-started.md
  docs/guide/performance.md
  docs/guide/react.md
  docs/guide/version-history.md
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/hooks/useVizelAutoSave.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelEditorState.ts
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/react/src/hooks/useVizelState.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelIconContext.ts
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelContext.ts
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelToolbar.vue
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: align consumer API with each framework's idiom (#408)
  .claude/rules/cross-framework.md
  apps/demo/react/src/App.tsx
  docs/api/react.md
  docs/guide/auto-save.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/getting-started.md
  docs/guide/performance.md
  docs/guide/react.md
  docs/guide/version-history.md
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/hooks/useVizelAutoSave.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelEditorState.ts
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/react/src/hooks/useVizelState.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelIconContext.ts
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelContext.ts
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelToolbar.vue
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: rename slash/mention command to select and scope block menu events
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: rename slash/mention command to select and scope block menu events (#409)
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: DX, parity, and polish follow-ups across all three packages
  packages/react/src/components/VizelIconProvider.tsx
  packages/react/src/components/VizelProvider.tsx
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelState.ts
  packages/svelte/src/runes/getVizelTheme.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/composables/useVizelAutoSave.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: DX, parity, and polish follow-ups across all three packages (#410)
  packages/react/src/components/VizelIconProvider.tsx
  packages/react/src/components/VizelProvider.tsx
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelState.ts
  packages/svelte/src/runes/getVizelTheme.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/composables/useVizelAutoSave.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react): break useVizelState infinite loop introduced in 80d2a2d
  packages/react/src/hooks/useVizelState.ts
Due: biome-check, typecheck-react

fix(core): re-apply autofocus position after initialMarkdown setContent
  packages/core/src/utils/editorFactory.ts
Due: biome-check, typecheck-core

fix: hotfix React render loop and Vue/Svelte autofocus scroll (#411)
  packages/core/src/utils/editorFactory.ts
  packages/react/src/hooks/useVizelState.ts
Due: biome-check, typecheck-core, typecheck-react

refactor: address remaining audit follow-ups (H1, H4, H6, M12, L3, L5)
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/hooks/useVizelEditor.ts
  packages/vue/src/composables/useVizelAutoSave.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-react, typecheck-vue

refactor: address remaining audit follow-ups (H1, H4, H6, M12, L3, L5) (#412)
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/hooks/useVizelEditor.ts
  packages/vue/src/composables/useVizelAutoSave.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-react, typecheck-vue

fix: phase 1 cross-framework parity bug fixes
  .claude/rules/cross-framework.md
  packages/core/src/i18n/index.ts
  packages/core/src/i18n/utils.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelPortal.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelProvider.vue
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelEditor.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: phase 1 cross-framework parity bug fixes (#413)
  .claude/rules/cross-framework.md
  packages/core/src/i18n/index.ts
  packages/core/src/i18n/utils.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelPortal.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelProvider.vue
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelEditor.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: unify suggestion menu onKeyDown signature
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-react, typecheck-vue

refactor: unify suggestion menu onKeyDown signature (#416)
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-react, typecheck-vue

refactor: extract pure helpers from framework packages to @vizel/core
  packages/core/src/auto-save.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelEmbedView.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelEmbedView.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelEmbedView.vue
  packages/vue/src/components/VizelSaveIndicator.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract pure helpers from framework packages to @vizel/core (#417)
  packages/core/src/auto-save.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelEmbedView.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelEmbedView.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelEmbedView.vue
  packages/vue/src/components/VizelSaveIndicator.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: introduce framework-agnostic interaction primitives in core
  packages/core/src/index.ts
  packages/core/src/interactions/dismissibleController.ts
  packages/core/src/interactions/editorSubscription.ts
  packages/core/src/interactions/index.ts
  packages/core/src/interactions/listboxController.ts
  packages/core/src/interactions/transactionStore.ts
  packages/react/src/hooks/useVizelState.ts
  packages/svelte/src/runes/createVizelState.svelte.ts
  packages/vue/src/composables/useVizelState.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: introduce framework-agnostic interaction primitives in core (#418)
  packages/core/src/index.ts
  packages/core/src/interactions/dismissibleController.ts
  packages/core/src/interactions/editorSubscription.ts
  packages/core/src/interactions/index.ts
  packages/core/src/interactions/listboxController.ts
  packages/core/src/interactions/transactionStore.ts
  packages/react/src/hooks/useVizelState.ts
  packages/svelte/src/runes/createVizelState.svelte.ts
  packages/vue/src/composables/useVizelState.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(mention): consume resolveVizelListNavigation in mention menu
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(mention): consume resolveVizelListNavigation in mention menu (#419)
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
