Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

test: add user flow integration tests (#202)
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/UserFlows.spec.tsx
  tests/ct/scenarios/user-flows.scenario.ts
  tests/ct/svelte/specs/UserFlowFixture.svelte
  tests/ct/svelte/specs/UserFlows.spec.ts
  tests/ct/vue/specs/UserFlowFixture.vue
  tests/ct/vue/specs/UserFlows.spec.ts
Due: biome-check

feat(core): add plugin system for third-party extensions
  docs/.vitepress/config.mts
  docs/guide/plugins.md
  packages/core/src/index.ts
  packages/core/src/plugin-system.ts
Due: biome-check, typecheck-core

feat(core): add plugin system for third-party extensions (#203)
  docs/.vitepress/config.mts
  docs/guide/plugins.md
  packages/core/src/index.ts
  packages/core/src/plugin-system.ts
Due: biome-check, typecheck-core

feat(core): add wiki links extension for internal linking
  docs/.vitepress/config.mts
  docs/guide/wiki-links.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/wiki-link.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add wiki links extension for internal linking (#204)
  docs/.vitepress/config.mts
  docs/guide/wiki-links.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/wiki-link.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add version history for document snapshots
  docs/.vitepress/config.mts
  docs/guide/version-history.md
  packages/core/src/index.ts
  packages/core/src/version-history.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/svelte/src/runes/createVizelVersionHistory.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add version history for document snapshots (#205)
  docs/.vitepress/config.mts
  docs/guide/version-history.md
  packages/core/src/index.ts
  packages/core/src/version-history.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/svelte/src/runes/createVizelVersionHistory.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add comment/annotation system for text annotations
  docs/.vitepress/config.mts
  docs/guide/comments.md
  packages/core/src/comment.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/comment.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/components/_comment.scss
  packages/core/src/types.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelComment.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add comment/annotation system for text annotations (#206)
  docs/.vitepress/config.mts
  docs/guide/comments.md
  packages/core/src/comment.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/comment.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/components/_comment.scss
  packages/core/src/types.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelComment.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add real-time collaboration support with Yjs integration
  docs/.vitepress/config.mts
  docs/guide/collaboration.md
  packages/core/package.json
  packages/core/src/collaboration.ts
  packages/core/src/extensions/base.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add real-time collaboration support with Yjs integration (#207)
  docs/.vitepress/config.mts
  docs/guide/collaboration.md
  packages/core/package.json
  packages/core/src/collaboration.ts
  packages/core/src/extensions/base.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: update dependencies
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

chore: update dependencies (#208)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

docs: improve API completeness and technical writing consistency
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/api/css-variables/colors.md
  docs/api/css-variables/components.md
  docs/api/css-variables/index.md
  docs/api/css-variables/integrations.md
  docs/api/css-variables/spacing.md
  docs/api/css-variables/typography.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/types/editor.md
  docs/api/types/features.md
  docs/api/vue.md
  docs/guide/accessibility.md
  docs/guide/auto-save.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/performance.md
  docs/guide/plugins.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/version-history.md
  docs/guide/vue.md
  docs/guide/wiki-links.md
  docs/index.md
  packages/core/src/index.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: improve API completeness and technical writing consistency (#209)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/api/css-variables/colors.md
  docs/api/css-variables/components.md
  docs/api/css-variables/index.md
  docs/api/css-variables/integrations.md
  docs/api/css-variables/spacing.md
  docs/api/css-variables/typography.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/types/editor.md
  docs/api/types/features.md
  docs/api/vue.md
  docs/guide/accessibility.md
  docs/guide/auto-save.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/performance.md
  docs/guide/plugins.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/version-history.md
  docs/guide/vue.md
  docs/guide/wiki-links.md
  docs/index.md
  packages/core/src/index.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: improve API completeness and cross-framework consistency
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/packages/core.md
  .claude/rules/testing.md
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/demo-content.md
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/types/editor.md
  docs/api/types/features.md
  docs/api/vue.md
  docs/guide/collaboration.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/troubleshooting.md
  docs/guide/vue.md
  packages/core/README.md
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/react/README.md
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/README.md
  packages/svelte/src/index.ts
  packages/vue/README.md
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: improve API completeness and cross-framework consistency (#210)
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/packages/core.md
  .claude/rules/testing.md
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/demo-content.md
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/types/editor.md
  docs/api/types/features.md
  docs/api/vue.md
  docs/guide/collaboration.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/troubleshooting.md
  docs/guide/vue.md
  packages/core/README.md
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/react/README.md
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/README.md
  packages/svelte/src/index.ts
  packages/vue/README.md
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: use direct dist paths in package.json instead of publishConfig
  packages/core/package.json
  packages/react/package.json
  packages/react/tsconfig.json
  packages/svelte/package.json
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelIcon.svelte
  packages/svelte/src/components/VizelIconProvider.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/svelte/tsconfig.json
  packages/vue/package.json
  packages/vue/tsconfig.json
  tsconfig.json
Due: biome-check, typecheck-svelte

fix: use direct dist paths in package.json instead of publishConfig (#211)
  packages/core/package.json
  packages/react/package.json
  packages/react/tsconfig.json
  packages/svelte/package.json
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelIcon.svelte
  packages/svelte/src/components/VizelIconProvider.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/svelte/tsconfig.json
  packages/vue/package.json
  packages/vue/tsconfig.json
  tsconfig.json
Due: biome-check, typecheck-svelte

fix: correct package dependencies, d.ts paths, and demo dist references
  apps/demo/react/src/entry.tsx
  apps/demo/react/vite.config.ts
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/entry.ts
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/src/entry.ts
  apps/demo/vue/vite.config.ts
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/react/src/tiptap-extensions.ts
  packages/react/tsconfig.build.json
  packages/react/vite.config.ts
  packages/svelte/package.json
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/tiptap-extensions.ts
  packages/vue/tsconfig.build.json
  packages/vue/vite.config.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: correct package dependencies, d.ts paths, and demo dist references (#212)
  apps/demo/react/src/entry.tsx
  apps/demo/react/vite.config.ts
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/entry.ts
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/src/entry.ts
  apps/demo/vue/vite.config.ts
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelVersionHistory.ts
  packages/react/src/tiptap-extensions.ts
  packages/react/tsconfig.build.json
  packages/react/vite.config.ts
  packages/svelte/package.json
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/tiptap-extensions.ts
  packages/vue/tsconfig.build.json
  packages/vue/vite.config.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(core): use z-popover token for BubbleMenu z-index
  packages/core/src/styles/bubble-menu.scss
Due: none

fix: cancel requestAnimationFrame polling on cleanup in useVizelMarkdown
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react): add dependency array to useVizelState useEffect
  packages/react/src/hooks/useVizelState.ts
Due: biome-check, typecheck-react

fix(core): add HTML sanitization for oEmbed rendering
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

docs: fix API documentation errors in core reference
  docs/api/core.md
  docs/api/types/features.md
  docs/api/vue.md
Due: none

docs: fix wikiLink incorrectly documented as enabled-by-default
  README.md
  docs/guide/features.md
  docs/guide/getting-started.md
  packages/core/README.md
Due: none

refactor(core): replace magic number spacing in editor.scss with design tokens
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/editor.scss
Due: none

refactor(core): standardize focus ring and disabled opacity with design tokens
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/bubble-menu.scss
  packages/core/src/styles/components/_find-replace.scss
  packages/core/src/styles/slash-menu.scss
  packages/core/src/styles/toolbar.scss
Due: none

build: add sideEffects field to all package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

docs: document composition patterns (Vizel vs VizelProvider+VizelEditor)
  docs/guide/getting-started.md
Due: none

docs: fix framework guide completeness and consistency gaps
  docs/api/svelte.md
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

refactor(core): improve CSS architecture (tokens docs, print styles, responsive panel)
  apps/demo/shared/styles/base.css
  packages/core/src/styles/_print.scss
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/index.scss
Due: none

fix: resolve cross-framework component inconsistencies
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
Due: biome-check, typecheck-vue, typecheck-svelte

feat(react): add markdown controlled mode to Vizel component
  packages/react/src/components/Vizel.tsx
Due: biome-check, typecheck-react

feat(core): add copy-to-clipboard button for code blocks
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/styles/code-block.scss
Due: biome-check, typecheck-core

feat: add onError callback to all Vizel components
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add platform-aware keyboard shortcut tooltips
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/components/VizelToolbarDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: add sideEffects field to all package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

docs(core): document em-based content spacing rationale in editor.scss
  packages/core/src/styles/editor.scss
Due: none

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
