Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

build(deps): promote @vizel/core to a dependency and pin prosemirror-model
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/guide/getting-started.md
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-publishable.ts
Due: biome-check

build(deps): promote @vizel/core to a dependency and pin prosemirror-model (#637)
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/guide/getting-started.md
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-publishable.ts
Due: biome-check

chore(deps): sync lockfile with the mermaid ^11.15.0 floor
  pnpm-lock.yaml
Due: none

docs: align the v2 CHANGELOG with the breaking release
  CHANGELOG.md
  packages/core/package.json
Due: biome-check

docs: align the v2 CHANGELOG with the breaking release (#611)
  CHANGELOG.md
  packages/core/package.json
  pnpm-lock.yaml
Due: biome-check

docs: fix README dependency model, CSS import, and stale exports
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

docs: fix README dependency model, CSS import, and stale exports (#638)
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

docs(core): resolve TypeDoc reference and duplicate-comment warnings
  packages/core/src/auto-save.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/feature-manifest.ts
  packages/core/src/markdown/augment.ts
  packages/core/src/utils/keyboard.ts
Due: biome-check, typecheck-core

docs(core): resolve TypeDoc reference and duplicate-comment warnings (#639)
  packages/core/src/auto-save.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/feature-manifest.ts
  packages/core/src/markdown/augment.ts
  packages/core/src/utils/keyboard.ts
Due: biome-check, typecheck-core

refactor(core): centralise web-storage backend resolution
  packages/core/src/auto-save.ts
  packages/core/src/comment.ts
  packages/core/src/storage.ts
  packages/core/src/version-history.ts
Due: biome-check, typecheck-core

fix(core): drop unimplemented presence resolveUser option
  packages/core/src/extensions/presence.ts
Due: biome-check, typecheck-core

docs(guide): update slash menu example to the v2 VizelCommand API
  docs/guide/features.md
Due: none

refactor(core): split embed extension into focused modules
  packages/core/src/builders/link-editor.ts
  packages/core/src/extensions/embed-markdown.ts
  packages/core/src/extensions/embed-renderers.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/utils/embed-providers.ts
Due: biome-check, typecheck-core

refactor(core): split mathematics extension into focused modules
  packages/core/src/extensions/mathematics-markdown.ts
  packages/core/src/extensions/mathematics-render.ts
  packages/core/src/extensions/mathematics.ts
Due: biome-check, typecheck-core

refactor(core): split diagram extension into focused modules
  packages/core/src/extensions/diagram-markdown.ts
  packages/core/src/extensions/diagram-render.ts
  packages/core/src/extensions/diagram.ts
Due: biome-check, typecheck-core

refactor(core): split table-controls geometry and selection helpers
  packages/core/src/extensions/table-controls-geometry.ts
  packages/core/src/extensions/table-controls-selection.ts
  packages/core/src/extensions/table-controls.ts
Due: biome-check, typecheck-core

fix(core): ship KaTeX fonts alongside mathematics.css
  packages/core/scripts/build-mathematics-css.mjs
Due: biome-check

chore(demo): add inline SVG favicon to all three demos
  apps/demo/react/index.html
  apps/demo/svelte/index.html
  apps/demo/vue/index.html
Due: none

fix(ci): gate a11y and md-roundtrip via a force-exit reporter
  .claude/rules/testing.md
  .github/workflows/ci.yml
  biome.json
  tests/_support/ct-runner-diagnostics.ts
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/vue/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright-ct.config.ts
Due: biome-check

refactor(core): decompose extensions, fix KaTeX fonts, polish demos
  apps/demo/react/index.html
  apps/demo/svelte/index.html
  apps/demo/vue/index.html
  docs/guide/features.md
  packages/core/scripts/build-mathematics-css.mjs
  packages/core/src/auto-save.ts
  packages/core/src/builders/link-editor.ts
  packages/core/src/comment.ts
  packages/core/src/extensions/diagram-markdown.ts
  packages/core/src/extensions/diagram-render.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed-markdown.ts
  packages/core/src/extensions/embed-renderers.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/mathematics-markdown.ts
  packages/core/src/extensions/mathematics-render.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/presence.ts
  packages/core/src/extensions/table-controls-geometry.ts
  packages/core/src/extensions/table-controls-selection.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/storage.ts
  packages/core/src/utils/embed-providers.ts
  packages/core/src/version-history.ts
Due: biome-check, typecheck-core

fix(core): repair table-of-contents tokens and drop unused tokens
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/table-of-contents.scss
Due: none

docs: surface orphaned guide pages in the sidebar
  docs/.vitepress/config.mts
Due: none

refactor(core): deduplicate helpers and drop dead exports
  packages/core/src/comment.ts
  packages/core/src/extensions/diagram-render.ts
  packages/core/src/extensions/embed-markdown.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/utils/id.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/metadata-comment.ts
  packages/core/src/utils/typeGuards.ts
  packages/core/src/version-history.ts
Due: biome-check, typecheck-core

refactor(core): deduplicate helpers and tidy the public surface
  docs/.vitepress/config.mts
  packages/core/src/comment.ts
  packages/core/src/extensions/diagram-render.ts
  packages/core/src/extensions/embed-markdown.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/table-of-contents.scss
  packages/core/src/utils/id.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/metadata-comment.ts
  packages/core/src/utils/typeGuards.ts
  packages/core/src/version-history.ts
Due: biome-check, typecheck-core

chore(deps): update all dependencies to latest
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/headless/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

chore(deps): require katex 0.17 for the math peer and bump lucide
  packages/core/package.json
  pnpm-lock.yaml
Due: biome-check

ci: make publish idempotent when the source is already at the version
  .github/workflows/publish.yml
Due: none

ci: publish via npm token to bootstrap the new headless package
  .github/workflows/publish.yml
Due: none

fix(core): make list markers and block spacing survive host CSS resets
  packages/core/src/styles/callout.scss
  packages/core/src/styles/details.scss
  packages/core/src/styles/editor.scss
  packages/core/src/styles/link.scss
  packages/core/src/styles/table.scss
  tests/ct/react/specs/Editor.spec.tsx
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/svelte/specs/Editor.spec.ts
  tests/ct/vue/specs/Editor.spec.ts
Due: biome-check

ci: fail publish on a version-mismatched build artifact
  .github/workflows/publish.yml
Due: none

test(ct): cover block spacing and input background under a host CSS reset
  tests/ct/react/specs/CssResetFixture.tsx
  tests/ct/react/specs/Editor.spec.tsx
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/svelte/specs/CssResetFixture.svelte
  tests/ct/svelte/specs/Editor.spec.ts
  tests/ct/vue/specs/CssResetFixture.vue
  tests/ct/vue/specs/Editor.spec.ts
Due: biome-check

feat(demo): add a Tailwind Preflight reset toggle
  apps/demo/react/src/App.tsx
  apps/demo/shared/preflight.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
Due: biome-check

fix(core): make list markers and block spacing survive host CSS resets (#667)
  packages/core/src/styles/callout.scss
  packages/core/src/styles/details.scss
  packages/core/src/styles/editor.scss
  packages/core/src/styles/link.scss
  packages/core/src/styles/table.scss
  tests/ct/react/specs/CssResetFixture.tsx
  tests/ct/react/specs/Editor.spec.tsx
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/svelte/specs/CssResetFixture.svelte
  tests/ct/svelte/specs/Editor.spec.ts
  tests/ct/vue/specs/CssResetFixture.vue
  tests/ct/vue/specs/Editor.spec.ts
Due: biome-check
