Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

fix(scripts): tighten ADR compliance harness regexes and coverage (#567)
  scripts/check-adr-compliance.ts
Due: biome-check

refactor(vue): route document listeners through @vizel/headless
  packages/core/src/controllers/blockMenuTrigger.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/vue/package.json
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/vite.config.ts
  pnpm-lock.yaml
  tests/a11y/vue/playwright-ct.config.ts
  tests/ct/vue/playwright-ct.config.ts
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-vue

refactor(svelte): route document listeners through @vizel/headless
  packages/core/src/controllers/blockMenuTrigger.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/svelte/package.json
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  pnpm-lock.yaml
  tests/a11y/svelte/playwright-ct.config.ts
  tests/ct/svelte/playwright-ct.config.ts
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-svelte

refactor(core,react,vue,svelte): centralise CSS catalogue in @vizel/core (#570)
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/react/scripts/write-style-shims.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/svelte/scripts/write-style-shims.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
  packages/vue/scripts/write-style-shims.mjs
Due: biome-check

ci: add bundle-size and parity jobs, gate v2 publish workflow on manual dispatch
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

feat(svelte): add createVizelEditorState rune backed by createSubscriber (#566)
  apps/demo/svelte/src/App.svelte
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/UseVizelEditorState.spec.tsx
  tests/ct/react/specs/UseVizelEditorStateFixture.tsx
  tests/ct/scenarios/use-vizel-editor-state.scenario.ts
  tests/ct/svelte/specs/CreateVizelEditorState.spec.ts
  tests/ct/svelte/specs/CreateVizelEditorStateFixture.svelte
  tests/ct/svelte/specs/CreateVizelEditorStateInner.svelte
  tests/ct/vue/specs/UseVizelEditorState.spec.ts
  tests/ct/vue/specs/UseVizelEditorStateFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(react): migrate React components to @vizel/headless dismissable controller (#564)
  packages/core/src/controllers/blockMenuTrigger.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/react/package.json
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/vite.config.ts
  pnpm-lock.yaml
  tests/a11y/react/playwright-ct.config.ts
  tests/ct/react/playwright-ct.config.ts
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-react

refactor(vue): route document listeners through @vizel/headless (#569)
  packages/vue/package.json
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/vite.config.ts
  pnpm-lock.yaml
  tests/a11y/vue/playwright-ct.config.ts
  tests/ct/vue/playwright-ct.config.ts
Due: biome-check, typecheck-vue

ci: cache pnpm install, share build artefact, consolidate quality jobs
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

refactor(svelte): route document listeners through @vizel/headless (#571)
  packages/svelte/package.json
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  pnpm-lock.yaml
  tests/a11y/svelte/playwright-ct.config.ts
  tests/ct/svelte/playwright-ct.config.ts
Due: biome-check, typecheck-svelte

chore: close remaining ADR drift (legacy composables, v1 scenarios, css harness regex)
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/StatsBar.vue
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelEditorState.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelEditorState.ts
  scripts/check-adr-compliance.ts
Due: biome-check, typecheck-react, typecheck-vue

chore: close remaining ADR drift (legacy composables, v1 scenarios, css harness regex) (#577)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/StatsBar.vue
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelEditorState.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelEditorState.ts
  scripts/check-adr-compliance.ts
Due: biome-check, typecheck-react, typecheck-vue

chore: retire cross-framework rule and check:parity script
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/feature-manifest.md
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/lint-instructions/reference.md
  .github/actions/test/action.yml
  .github/workflows/quality.yml
  CLAUDE.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0006-retire-cross-framework-rule.md
  docs/adr/ADR-0008-css-belongs-in-core.md
  docs/adr/ADR-0014-bundle-size-budgets.md
  docs/adr/README.md
  docs/guide/migration-v1-to-v2.md
  lefthook.yml
  package.json
  scripts/check-cross-framework-parity.ts
  scripts/check-ct-parity.ts
Due: biome-check

chore: retire cross-framework rule and check:parity script (#574)
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/feature-manifest.md
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/lint-instructions/reference.md
  .github/actions/test/action.yml
  .github/workflows/quality.yml
  CLAUDE.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0006-retire-cross-framework-rule.md
  docs/adr/ADR-0008-css-belongs-in-core.md
  docs/adr/ADR-0014-bundle-size-budgets.md
  docs/adr/README.md
  docs/guide/migration-v1-to-v2.md
  lefthook.yml
  package.json
  scripts/check-cross-framework-parity.ts
  scripts/check-ct-parity.ts
Due: biome-check

fix(demo): hold Svelte flavor in $state.raw to stop mount effect loop
  apps/demo/svelte/src/App.svelte
Due: biome-check

fix(demo): hold Svelte flavor in $state.raw to stop mount effect loop (#578)
  apps/demo/svelte/src/App.svelte
Due: biome-check

refactor(core): remove the visual-hierarchy block-depth feature
  .claude/rules/packages/core.md
  docs/guide/features.md
  docs/migration/v1-to-v2.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/types.ts
  packages/core/src/utils/default-features.ts
Due: biome-check, typecheck-core

fix(core): align task-list markers with bullet and ordered lists
  packages/core/src/styles/task-list.scss
Due: none

refactor(core): align list markers and remove the visual-hierarchy feature (#579)
  .claude/rules/packages/core.md
  docs/guide/features.md
  docs/migration/v1-to-v2.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/task-list.scss
  packages/core/src/types.ts
  packages/core/src/utils/default-features.ts
Due: biome-check, typecheck-core

ci: report Test Summary on docs-only PRs via a changes gate
  .github/workflows/ci.yml
Due: none

ci: report Test Summary on docs-only PRs via a changes gate (#581)
  .github/workflows/ci.yml
Due: none

docs(adr): align records with the Decision and fix drift
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  docs/adr/ADR-0013-adr-compliance-harness.md
  docs/adr/README.md
Due: none

docs(adr): align records with the Decision and fix drift (#580)
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  docs/adr/ADR-0013-adr-compliance-harness.md
  docs/adr/README.md
Due: none

refactor(react): close idiom gaps against ADR-0004 and ADR-0001
  packages/react/src/_reactivity.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelContext.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
Due: biome-check, typecheck-react

refactor(react): close idiom gaps against ADR-0004 and ADR-0001 (#582)
  packages/react/src/_reactivity.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelContext.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
Due: biome-check, typecheck-react

refactor(vue): close Vue 3.5 idiom gaps against ADR-0004
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelEmbedView.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuEmpty.vue
  packages/vue/src/components/VizelToolbar.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/vue/specs/ColorPickerFixture.vue
Due: biome-check, typecheck-vue

refactor(vue): close Vue 3.5 idiom gaps against ADR-0004 (#583)
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelEmbedView.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuEmpty.vue
  packages/vue/src/components/VizelToolbar.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/vue/specs/ColorPickerFixture.vue
Due: biome-check, typecheck-vue

refactor(svelte): close idiom gaps against ADR-0004
  .claude/rules/packages/svelte.md
  apps/demo/svelte/src/App.svelte
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelIconContext.ts
  packages/svelte/src/components/VizelIconProvider.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelThemeContext.ts
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/getVizelTheme.ts
Due: biome-check, typecheck-svelte

refactor(svelte): close idiom gaps against ADR-0004 (#584)
  .claude/rules/packages/svelte.md
  apps/demo/svelte/src/App.svelte
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelIconContext.ts
  packages/svelte/src/components/VizelIconProvider.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelThemeContext.ts
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/getVizelTheme.ts
Due: biome-check, typecheck-svelte

feat(headless): add keyboard navigation primitive and adopt in adapters
  .github/workflows/quality.yml
  lefthook.yml
  packages/core/src/controllers/gridController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard-navigation.ts
  packages/headless/__tests__/dismissable.test.ts
  packages/headless/__tests__/keyboard.test.ts
  packages/headless/package.json
  packages/headless/src/index.ts
  packages/headless/src/keyboard/index.ts
  packages/headless/vite.config.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(headless): add keyboard navigation primitive and adopt in adapters (#585)
  .github/workflows/quality.yml
  lefthook.yml
  packages/core/src/controllers/gridController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard-navigation.ts
  packages/headless/__tests__/dismissable.test.ts
  packages/headless/__tests__/keyboard.test.ts
  packages/headless/package.json
  packages/headless/src/index.ts
  packages/headless/src/keyboard/index.ts
  packages/headless/vite.config.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(headless): add floating and popover primitives, dedupe dismiss
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0014-bundle-size-budgets.md
  packages/core/package.json
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/popoverController.ts
  packages/core/src/index.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/headless/__tests__/floating.test.ts
  packages/headless/__tests__/popover.test.ts
  packages/headless/package.json
  packages/headless/src/dismissable/index.ts
  packages/headless/src/floating/index.ts
  packages/headless/src/index.ts
  packages/headless/src/popover/index.ts
  packages/headless/vite.config.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

feat(headless): add floating and popover primitives, dedupe dismiss (#586)
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0014-bundle-size-budgets.md
  packages/core/package.json
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/popoverController.ts
  packages/core/src/index.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/headless/__tests__/floating.test.ts
  packages/headless/__tests__/popover.test.ts
  packages/headless/package.json
  packages/headless/src/dismissable/index.ts
  packages/headless/src/floating/index.ts
  packages/headless/src/index.ts
  packages/headless/src/popover/index.ts
  packages/headless/vite.config.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

refactor: adopt headless popover primitive in VizelBlockMenu
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/menuPositioning.ts
  packages/headless/__tests__/floating.test.ts
  packages/headless/__tests__/popover.test.ts
  packages/headless/src/floating/index.ts
  packages/headless/src/index.ts
  packages/headless/src/popover/index.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
  tests/ct/svelte/playwright-ct.config.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: adopt headless popover primitive in VizelBlockMenu (#587)
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/menuPositioning.ts
  packages/headless/__tests__/floating.test.ts
  packages/headless/__tests__/popover.test.ts
  packages/headless/src/floating/index.ts
  packages/headless/src/index.ts
  packages/headless/src/popover/index.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
  tests/ct/svelte/playwright-ct.config.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(headless): add focus-trap primitive and adopt in modal forms
  packages/headless/__tests__/focus-trap.test.ts
  packages/headless/package.json
  packages/headless/src/focus-trap/index.ts
  packages/headless/src/index.ts
  packages/headless/vite.config.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(headless): add focus-trap primitive and adopt in modal forms (#588)
  packages/headless/__tests__/focus-trap.test.ts
  packages/headless/package.json
  packages/headless/src/focus-trap/index.ts
  packages/headless/src/index.ts
  packages/headless/vite.config.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(headless): add combobox primitive composing keyboard navigation
  packages/headless/__tests__/combobox.test.ts
  packages/headless/package.json
  packages/headless/src/combobox/index.ts
  packages/headless/src/index.ts
  packages/headless/vite.config.ts
Due: biome-check

refactor: adopt combobox resolver in slash and mention menus
  packages/core/src/builders/slash-menu.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
