Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

ci: use pnpm dlx instead of npx for publint (devEngines blocks npx)
  .github/workflows/quality.yml
Due: none

docs: remove stale Biome references from rules, settings, and comments
  .claude/rules/code-style.md
  .claude/settings.json
  .github/workflows/quality.yml
  packages/core/src/markdown/flavors/compose.ts
Due: biome-check, typecheck-core

chore: remove orphaned c8 config and drop Biome references
  .gitignore
  c8.config.json
  scripts/check-no-let.ts
Due: biome-check

build: align pnpm, Vite, Vitest, Lefthook, and type-checkers
  package.json
  packages/svelte/package.json
  packages/vue/package.json
  patches/@vitest__browser@4.1.9.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

build: pin pnpm to 11.11.0 instead of 11.12.0 (self-installer crash)
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
Due: biome-check

docs: fix remaining capitalized Biome references (case-insensitive sweep)
  .claude/rules/git.md
  .claude/rules/writing.md
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/lint-instructions/reference.md
  CLAUDE.md
  CONTRIBUTING.md
  packages/core/src/utils/errorHandling.ts
Due: biome-check, typecheck-core

ci: pin pnpm version in action-setup to fix self-installer crash
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
Due: none

ci: publish via pnpm for consistency under the pnpm toolchain
  .github/workflows/publish.yml
Due: none

build: add oxlint and oxfmt dev dependencies
  package.json
  pnpm-lock.yaml
Due: biome-check

ci: add format:check gate, group oxc tools, pin composite action
  .github/actions/test/action.yml
  .github/workflows/quality.yml
  renovate.json5
Due: none

test: migrate @vizel/headless from node --test to Vitest
  packages/headless/__tests__/combobox.test.ts
  packages/headless/__tests__/dismissable.test.ts
  packages/headless/__tests__/floating.test.ts
  packages/headless/__tests__/focus-trap.test.ts
  packages/headless/__tests__/keyboard.test.ts
  packages/headless/__tests__/popover.test.ts
  packages/headless/package.json
  packages/headless/vitest.config.ts
  pnpm-lock.yaml
Due: biome-check

fix: avoid oxfmt hook failure when only ignored files are staged
  lefthook.yml
Due: none

chore(deps): sync pnpm-lock.yaml with pinned specifiers
  pnpm-lock.yaml
Due: none

ci: convert npm publish to OIDC trusted publishing
  .github/workflows/publish.yml
Due: none

style: format publish.yml with oxfmt (double-quote empty token)
  .github/workflows/publish.yml
Due: none

fix(ci): resolve the pnpm version from package.json only
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  package.json
Due: biome-check

fix(ci): resolve the pnpm version from package.json only (#717)
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  package.json
Due: biome-check

build: trust the committed lockfile during install
  pnpm-workspace.yaml
Due: none

docs: state that trustLockfile applies to every install
  pnpm-workspace.yaml
Due: none

build: trust the committed lockfile during install (#718)
  pnpm-workspace.yaml
Due: none

fix(core): import markdown-it types as named exports
  packages/core/src/env.d.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/diagram-markdown.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed-markdown.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/markdown.ts
  packages/core/src/extensions/mathematics-markdown.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/extensions/wiki-link.ts
Due: biome-check, typecheck-core

test(ct): assert task text without the checkbox label
  tests/ct/scenarios/drag-handle.scenario.ts
Due: biome-check

test(ct): assert task text without the checkbox label (#736)
  tests/ct/scenarios/drag-handle.scenario.ts
Due: biome-check

chore(lint): disable React Compiler rules split out by oxlint 1.79
  .oxlintrc.json
Due: biome-check

test(ct): adapt text assertions to Vitest 5 strict toHaveTextContent
  tests/ct/scenarios/error-model.scenario.ts
  tests/ct/scenarios/outline.scenario.ts
  tests/ct/scenarios/save-indicator.scenario.ts
Due: biome-check
