Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

fix(core): add viewport boundary detection for block menu and submenu positioning (#315)
  packages/core/src/index.ts
  packages/core/src/styles/block-menu.scss
  packages/core/src/utils/index.ts
  packages/core/src/utils/menuPositioning.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add i18n phase 2 for bubble menu, link editor, and color picker (#317)
  docs/api/core.md
  docs/guide/features.md
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelColorPicker.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: quality improvements — groupByField refactor, block menu viewport detection, i18n phase 2 (#316, #315, #317) (#319)
  docs/api/core.md
  docs/guide/features.md
  packages/core/src/extensions/block-menu.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/block-menu.scss
  packages/core/src/toolbar/actions.ts
  packages/core/src/utils/groupByField.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/menuPositioning.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelColorPicker.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelBubbleMenuColorPicker.svelte
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: upgrade all dependencies to latest versions
  apps/demo/react/package.json
  apps/demo/shared/styles/base.css
  apps/demo/svelte/package.json
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/package.json
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/package.json
  packages/vue/src/composables/useVizelMarkdown.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(core): resolve typecheck errors and lint warnings
  .gitignore
  packages/core/src/env.d.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/extensions/table.ts
  packages/core/src/index.ts
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/createVizelVersionHistory.svelte.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
Due: biome-check, typecheck-core, typecheck-vue, typecheck-svelte

style: disable useNamingConvention for env.d.ts
  biome.json
Due: biome-check

chore: clean up dependencies and align tiptap peer versions
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: biome-check

fix: restore @vue/compiler-dom to root devDependencies
  package.json
  pnpm-lock.yaml
Due: biome-check

ci: bump pnpm/action-setup from v4 to v6 in test action
  .github/actions/test/action.yml
Due: none

chore: upgrade all dependencies to latest versions (#354)
  .github/actions/test/action.yml
  .gitignore
  apps/demo/react/package.json
  apps/demo/shared/styles/base.css
  apps/demo/svelte/package.json
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/core/src/env.d.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/extensions/table.ts
  packages/core/src/index.ts
  packages/react/package.json
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/package.json
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/svelte/src/runes/createVizelVersionHistory.svelte.ts
  packages/vue/package.json
  packages/vue/src/composables/useVizelMarkdown.ts
  packages/vue/src/composables/useVizelVersionHistory.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: migrate from Dependabot to Renovate
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  renovate.json
Due: biome-check

fix: add major update groups and enable playwright automerge
  renovate.json
Due: biome-check

refactor: convert renovate.json to json5 for readability
  renovate.json
  renovate.json5
Due: biome-check

chore: migrate from Dependabot to Renovate (#355)
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  renovate.json5
Due: none

chore: upgrade major dependencies
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome-check

fix: pin root vite plugins to versions compatible with Playwright CT
  package.json
  pnpm-lock.yaml
Due: biome-check

chore: upgrade major dependencies (#356)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome-check

fix(deps): resolve CI errors in Renovate PRs - update all stale dependencies (#365)
  package.json
  packages/core/package.json
  packages/core/src/collaboration.ts
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check, typecheck-core

chore: update dependencies to latest versions
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(deps): pin playwright to 1.58.2 for ct-svelte compatibility
  package.json
  pnpm-lock.yaml
Due: biome-check

chore: update dependencies to latest versions (#366)
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix: resolve blockers for external package consumers
  apps/demo/react/package.json
  apps/demo/svelte/vite.config.ts
  biome.json
  packages/core/package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/vite.config.ts
  packages/svelte/README.md
  packages/svelte/package.json
  packages/svelte/scripts/compile-svelte.mjs
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/tsconfig.build.json
Due: biome-check

fix(svelte): revert granular subpath exports
  packages/svelte/package.json
Due: biome-check

docs: clarify peer dependency handling for consumers
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

fix: resolve blockers for external package consumers (#368)
  apps/demo/react/package.json
  apps/demo/svelte/vite.config.ts
  biome.json
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/README.md
  packages/core/package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/vite.config.ts
  packages/svelte/README.md
  packages/svelte/package.json
  packages/svelte/scripts/compile-svelte.mjs
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/tsconfig.build.json
Due: biome-check

fix: preserve icon renderer init in framework package sideEffects
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix: preserve icon renderer init in framework package sideEffects (#369)
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

feat(core): enable per-item drag-and-drop for lists
  apps/demo/shared/content-commonmark.md
  apps/demo/shared/content-docusaurus.md
  apps/demo/shared/content-gfm.md
  apps/demo/shared/content-obsidian.md
  docs/guide/features.md
  packages/core/package.json
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/styles/drag-handle.scss
  pnpm-lock.yaml
  tests/ct/react/specs/DragHandle.spec.tsx
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/DragHandle.spec.ts
  tests/ct/vue/specs/DragHandle.spec.ts
Due: biome-check, typecheck-core

feat(core): enable per-item drag-and-drop for lists (#370)
  apps/demo/shared/content-commonmark.md
  apps/demo/shared/content-docusaurus.md
  apps/demo/shared/content-gfm.md
  apps/demo/shared/content-obsidian.md
  docs/guide/features.md
  packages/core/package.json
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/styles/drag-handle.scss
  pnpm-lock.yaml
  tests/ct/react/specs/DragHandle.spec.tsx
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/DragHandle.spec.ts
  tests/ct/vue/specs/DragHandle.spec.ts
Due: biome-check, typecheck-core

docs: correct feature descriptions and reflect per-item list drag
  README.md
  docs/api/core.md
  docs/api/types/features.md
  docs/guide/features.md
  docs/guide/index.md
  docs/index.md
  packages/core/README.md
  packages/core/src/types.ts
Due: biome-check, typecheck-core

docs: correct feature descriptions and reflect per-item list drag (#371)
  README.md
  docs/api/core.md
  docs/api/types/features.md
  docs/guide/features.md
  docs/guide/index.md
  docs/index.md
  packages/core/README.md
  packages/core/src/types.ts
Due: biome-check, typecheck-core

build(deps): upgrade vitepress to 2.0.0-alpha.17 for rolldown-vite compatibility
  package.json
  pnpm-lock.yaml
Due: biome-check

build(deps): upgrade vitepress to 2.0.0-alpha.17 for rolldown-vite compatibility (#372)
  package.json
  pnpm-lock.yaml
Due: biome-check

chore: align Claude Code config with official spec
  .claude/CLAUDE.md
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/test/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: biome-check

chore: align Claude Code config with official spec (#392)
  .claude/CLAUDE.md
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/test/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: biome-check

chore(deps): bump dependencies and approve build scripts
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  biome.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-workspace.yaml
Due: biome-check

chore(demo): align react demo vite spec with siblings
  apps/demo/react/package.json
Due: biome-check

chore(deps): bump react and react-dom to 19.2.6
  pnpm-lock.yaml
Due: none

revert(react): roll back Vizel and useVizelEditor refactor
  packages/react/src/components/Vizel.tsx
  packages/react/src/hooks/useVizelEditor.ts
Due: biome-check, typecheck-react

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
