Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

chore: add npm package metadata to all packages
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

ci: improve publish workflow
  .github/actions/test/action.yml
  .github/workflows/publish.yml
Due: none

docs: add npm version badges to README
  README.md
Due: none

docs: add CODE_OF_CONDUCT.md based on Contributor Covenant v2.1
  CODE_OF_CONDUCT.md
Due: none

docs: add SECURITY.md with vulnerability reporting guidelines
  SECURITY.md
Due: none

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: fix CONTRIBUTING.md inaccuracies in check command and commit format
  CONTRIBUTING.md
Due: none

docs: add GitHub templates, toolbar docs, and README updates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/api/core.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/getting-started.md
Due: none

docs: fix Codex review feedback on toolbar documentation
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/getting-started.md
Due: none

feat(docs): add comprehensive SEO optimization for VitePress documentation
  docs/.vitepress/config.mts
  docs/public/robots.txt
Due: none

feat(docs): add comprehensive SEO optimization for VitePress documentation (#175)
  docs/.vitepress/config.mts
  docs/public/robots.txt
Due: none

chore(docs): add Google Search Console verification file
  docs/public/googled282a59f676ac5b0.html
Due: none

chore(docs): add Google Search Console verification file (#176)
  docs/public/googled282a59f676ac5b0.html
Due: none

feat(docs): add Open Graph image for social sharing
  docs/public/og-image.png
  docs/public/og-image.svg
Due: none

feat(docs): add Open Graph image for social sharing (#177)
  docs/public/og-image.png
  docs/public/og-image.svg
Due: none

fix(vue): add cleanup for event listeners in useVizelMarkdown
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-vue

fix(vue): add cleanup for event listeners in useVizelMarkdown (#193)
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-vue

feat(core): add unified error handling utilities
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/index.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add unified error handling utilities (#194)
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/index.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): replace type assertions with type guards
  packages/core/src/extensions/diagram.ts
  packages/core/src/index.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown.ts
  packages/core/src/utils/typeGuards.ts
Due: biome-check, typecheck-core

refactor(core): replace type assertions with type guards (#196)
  packages/core/src/extensions/diagram.ts
  packages/core/src/index.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown.ts
  packages/core/src/utils/typeGuards.ts
Due: biome-check, typecheck-core

fix(core): resolve ProseMirror plugin conflict error in external apps
  package.json
  packages/core/package.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: biome-check

fix(core): resolve ProseMirror plugin conflict error in external apps (#197)
  package.json
  packages/core/package.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: biome-check

docs: add troubleshooting guide
  docs/.vitepress/config.mts
  docs/guide/troubleshooting.md
Due: none

docs: add troubleshooting guide (#198)
  docs/.vitepress/config.mts
  docs/guide/troubleshooting.md
Due: none

test: add code coverage measurement with c8
  c8.config.json
  package.json
  pnpm-lock.yaml
Due: biome-check

test: add code coverage measurement with c8 (#199)
  c8.config.json
  package.json
  pnpm-lock.yaml
Due: biome-check

feat(core): add Find & Replace functionality
  packages/core/src/extensions/find-replace.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/components/_find-replace.scss
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Find & Replace functionality (#200)
  packages/core/src/extensions/find-replace.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/components/_find-replace.scss
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: add performance optimization and accessibility guides
  docs/.vitepress/config.mts
  docs/guide/accessibility.md
  docs/guide/performance.md
Due: none

docs: add performance optimization and accessibility guides (#201)
  docs/.vitepress/config.mts
  docs/guide/accessibility.md
  docs/guide/performance.md
Due: none

test: add user flow integration tests
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/UserFlows.spec.tsx
  tests/ct/scenarios/user-flows.scenario.ts
  tests/ct/svelte/specs/UserFlowFixture.svelte
  tests/ct/svelte/specs/UserFlows.spec.ts
  tests/ct/vue/specs/UserFlowFixture.vue
  tests/ct/vue/specs/UserFlows.spec.ts
Due: biome-check
