Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

refactor: extract VizelBlockMenu DOM skeleton into @vizel/core (#439)
  packages/core/src/index.ts
  packages/core/src/skeletons/block-menu.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/types.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelToolbarDropdown DOM skeleton into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/toolbar-dropdown.ts
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelToolbarDropdown DOM skeleton into @vizel/core (#440)
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/toolbar-dropdown.ts
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelNodeSelector DOM skeleton into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/node-selector.ts
  packages/react/src/components/VizelNodeSelector.tsx
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/vue/src/components/VizelNodeSelector.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelNodeSelector DOM skeleton into @vizel/core (#441)
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/node-selector.ts
  packages/react/src/components/VizelNodeSelector.tsx
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/vue/src/components/VizelNodeSelector.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelLinkEditor form helpers into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/link-editor.ts
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelLinkEditor form helpers into @vizel/core (#442)
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/link-editor.ts
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelFindReplace view-state helper into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/find-replace.ts
  packages/core/src/skeletons/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/vue/src/components/VizelFindReplace.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelFindReplace view-state helper into @vizel/core (#443)
  packages/core/src/index.ts
  packages/core/src/skeletons/find-replace.ts
  packages/core/src/skeletons/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/vue/src/components/VizelFindReplace.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: release v2.0.0
  CHANGELOG.md
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

chore: release v2.0.0 (#444)
  CHANGELOG.md
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

docs(plan): add v2.0.0 redesign design spec and master plan
  .claude/rules/architecture.md
  CLAUDE.md
  docs/superpowers/plans/2026-05-16-vizel-v2-master.md
  docs/superpowers/plans/2026-05-16-vizel-v2-section-01-core-layering.md
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

docs(plan): add v2.0.0 redesign design spec and master plan (#446)
  .claude/rules/architecture.md
  CLAUDE.md
  docs/superpowers/plans/2026-05-16-vizel-v2-master.md
  docs/superpowers/plans/2026-05-16-vizel-v2-section-01-core-layering.md
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

refactor(core): rename skeletons/ directory to builders/
  packages/core/src/builders/block-menu.ts
  packages/core/src/builders/find-replace.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/link-editor.ts
  packages/core/src/builders/mention-menu.ts
  packages/core/src/builders/node-selector.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/builders/toolbar-dropdown.ts
  packages/core/src/builders/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

refactor(core): consolidate interactions/ and DOM utils into controllers/
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/editorSubscription.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/controllers/portal.ts
  packages/core/src/controllers/suggestionContainer.ts
  packages/core/src/controllers/transactionStore.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
Due: biome-check, typecheck-core

refactor(core): extract pure keyboard navigation into utils/
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard-navigation.ts
Due: biome-check, typecheck-core

refactor(core): introduce _internal/ directory for private symbols
  packages/core/src/_internal/.gitkeep
  packages/core/src/_internal/README.md
Due: none

docs(claude): document four-layer core package structure
  .claude/rules/packages/core.md
Due: none

docs(claude): cross-reference core package four-layer structure
  .claude/rules/architecture.md
Due: none

refactor(core): introduce four-layer directory structure (#448)
  .claude/rules/architecture.md
  .claude/rules/packages/core.md
  packages/core/src/_internal/.gitkeep
  packages/core/src/_internal/README.md
  packages/core/src/builders/block-menu.ts
  packages/core/src/builders/find-replace.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/link-editor.ts
  packages/core/src/builders/mention-menu.ts
  packages/core/src/builders/node-selector.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/builders/toolbar-dropdown.ts
  packages/core/src/builders/types.ts
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/editorSubscription.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/controllers/portal.ts
  packages/core/src/controllers/suggestionContainer.ts
  packages/core/src/controllers/transactionStore.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard-navigation.ts
Due: biome-check, typecheck-core

feat(core): add canonical spec types (Popover, Form, Command, Grid)
  .claude/rules/packages/core.md
  docs/superpowers/plans/2026-05-16-vizel-v2-section-02-builder-types.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add canonical spec types (Popover, Form, Command, Grid) (#449)
  .claude/rules/packages/core.md
  docs/superpowers/plans/2026-05-16-vizel-v2-section-02-builder-types.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

refactor(core): rename menu builders *Skeleton -> *Spec
  packages/core/src/builders/index.ts
  packages/core/src/builders/mention-menu.ts
  packages/core/src/builders/node-selector.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/builders/toolbar-dropdown.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): rename menu builders *Skeleton -> *Spec (#450)
  packages/core/src/builders/index.ts
  packages/core/src/builders/mention-menu.ts
  packages/core/src/builders/node-selector.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/builders/toolbar-dropdown.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): rename buildVizelBlockMenuSkeleton to buildVizelBlockMenuSpec
  packages/core/src/builders/block-menu.ts
  packages/core/src/builders/index.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): rename buildVizelBlockMenuSkeleton to buildVizelBlockMenuSpec (#451)
  packages/core/src/builders/block-menu.ts
  packages/core/src/builders/index.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): rename form builders ViewState -> Spec
  packages/core/src/builders/find-replace.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/link-editor.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): rename form builders ViewState -> Spec (#452)
  packages/core/src/builders/find-replace.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/link-editor.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): convert DismissibleController to mount/unmount contract
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-vue

refactor(core): convert DismissibleController to mount/unmount contract (#453)
  packages/core/src/controllers/dismissibleController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-vue

refactor(core): convert SystemThemeListener and RelativeTimeTicker to mount/unmount
  packages/core/src/auto-save.ts
  packages/core/src/index.ts
  packages/core/src/theme.ts
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelThemeProvider.tsx
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelThemeProvider.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): convert SystemThemeListener and RelativeTimeTicker to mount/unmount (#454)
  packages/core/src/auto-save.ts
  packages/core/src/index.ts
  packages/core/src/theme.ts
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelThemeProvider.tsx
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelThemeProvider.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Listbox and Grid controllers
  packages/core/src/controllers/gridController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add Listbox and Grid controllers (#455)
  packages/core/src/controllers/gridController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/listboxController.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add Popover controller
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/popoverController.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add Popover controller (#456)
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/popoverController.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

docs: add Section 7 (error model) sub-plan
  docs/superpowers/plans/2026-05-16-vizel-v2-section-07-error-model.md
Due: none

feat(core): extend VizelError model with severity, context, and emit helper
  packages/core/src/utils/errorHandling.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): expose emitVizelError and VizelErrorSeverity from public API
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
Due: biome-check, typecheck-core

refactor(core): replace image-upload console.warn with emitVizelError
  packages/core/src/plugins/image-upload.ts
Due: biome-check, typecheck-core
