Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

feat(core): extend VizelError model with typed codes and emit helper (#457)
  docs/superpowers/plans/2026-05-16-vizel-v2-section-07-error-model.md
  packages/core/src/index.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/index.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): route markdown helper warnings through emitVizelError
  packages/core/src/utils/markdown.ts
Due: biome-check, typecheck-core

refactor(core): route embed fetch failures through emitVizelError
  packages/core/src/extensions/embed.ts
Due: biome-check, typecheck-core

refactor(core): replace remaining console calls with emitVizelError
  packages/core/src/commands/slash-items.ts
  packages/core/src/icons/types.ts
  packages/core/src/utils/errorHandling.ts
Due: biome-check, typecheck-core

build(core): enforce noConsole for packages/core/src/
  biome.json
Due: biome-check

docs: document VizelError model in architecture and code-style rules
  .claude/rules/architecture.md
  .claude/rules/code-style.md
Due: none

refactor(core): improve error code/severity choice for non-config sites
  packages/core/src/commands/slash-items.ts
  packages/core/src/icons/types.ts
Due: biome-check, typecheck-core

refactor(core): eradicate console calls and enforce noConsole (#458)
  .claude/rules/architecture.md
  .claude/rules/code-style.md
  biome.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/icons/types.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/markdown.ts
Due: biome-check, typecheck-core

docs(spec): expand Section 4 return-type table with preserved extras
  docs/superpowers/plans/2026-05-16-vizel-v2-section-04-return-types.md
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

docs(spec): expand Section 4 return-type table with preserved extras (#459)
  docs/superpowers/plans/2026-05-16-vizel-v2-section-04-return-types.md
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

refactor(vue): return ComputedRef from useVizelState
  packages/vue/src/composables/useVizelState.ts
Due: biome-check, typecheck-vue

refactor(vue): expose readonly shallow ref from useVizelMarkdown
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-vue

refactor(vue): expose useVizelContext as ShallowRef instead of ComputedRef
  .claude/rules/cross-framework.md
  packages/vue/src/components/VizelContext.ts
  packages/vue/src/components/VizelProvider.vue
Due: biome-check, typecheck-vue

refactor(vue): flatten useVizelTheme return to { theme, setTheme }
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-vue

refactor(demo,test): align Vue callers with new composable return shapes
  apps/demo/vue/src/ThemeToggle.vue
  tests/ct/vue/specs/ThemeContent.vue
Due: biome-check

refactor(vue): type useVizelTheme.theme as VizelResolvedTheme
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-vue

docs(vue): update useVizelContext example and add destructure caveat
  .claude/rules/packages/vue.md
Due: none

refactor(vue): apply Option B return-type symmetry (#460)
  .claude/rules/cross-framework.md
  .claude/rules/packages/vue.md
  apps/demo/vue/src/ThemeToggle.vue
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
  packages/vue/src/components/VizelContext.ts
  packages/vue/src/components/VizelProvider.vue
  packages/vue/src/composables/useVizelMarkdown.ts
  packages/vue/src/composables/useVizelState.ts
  packages/vue/src/composables/useVizelTheme.ts
  tests/ct/vue/specs/ThemeContent.vue
Due: biome-check, typecheck-vue

refactor(react): return raw Editor from useVizelContext
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelContext.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelToolbar.tsx
Due: biome-check, typecheck-react

refactor(react): flatten useVizelTheme return to { theme, setTheme }
  packages/react/src/hooks/useVizelTheme.ts
Due: biome-check, typecheck-react

refactor(demo,test): align React callers with new hook return shapes
  apps/demo/react/src/App.tsx
  tests/ct/react/specs/ThemeProviderFixture.tsx
Due: biome-check

refactor: physically narrow setTheme parameter to VizelResolvedTheme
  packages/react/src/hooks/useVizelTheme.ts
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-react, typecheck-vue

refactor(react): apply Option B return-type symmetry (#461)
  .claude/rules/cross-framework.md
  apps/demo/react/src/App.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelContext.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/react/src/hooks/useVizelTheme.ts
  packages/vue/src/composables/useVizelTheme.ts
  tests/ct/react/specs/ThemeProviderFixture.tsx
Due: biome-check, typecheck-react, typecheck-vue

refactor(svelte): rename createVizelState getter current to version
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/createVizelState.svelte.ts
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
Due: biome-check, typecheck-svelte

refactor(svelte): rename createVizelMarkdown getter markdown to current
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
Due: biome-check, typecheck-svelte

refactor(svelte): flatten getVizelTheme return to { current, setTheme }
  packages/svelte/src/runes/getVizelTheme.ts
Due: biome-check, typecheck-svelte

refactor(demo,test): align Svelte callers with new rune return shapes
  apps/demo/svelte/src/ThemeToggle.svelte
  tests/ct/svelte/specs/ThemeContent.svelte
Due: biome-check

docs(svelte): update getVizelContext example to read .current
  .claude/rules/packages/svelte.md
Due: none

refactor(svelte): apply Option B return-type symmetry (#462)
  .claude/rules/packages/svelte.md
  apps/demo/svelte/src/ThemeToggle.svelte
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/svelte/src/runes/createVizelState.svelte.ts
  packages/svelte/src/runes/getVizelTheme.ts
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/ThemeContent.svelte
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
Due: biome-check, typecheck-svelte

docs: add Section 5 (parity) sub-plan
  docs/superpowers/plans/2026-05-16-vizel-v2-section-05-parity.md
Due: none

docs: restructure cross-framework rule around six SSOT parity tables
  .claude/rules/cross-framework.md
Due: none

docs: add Parity Checks section to cross-framework-reviewer agent
  .claude/agents/cross-framework-reviewer.md
Due: none

docs: restructure cross-framework rule around six parity tables (#463)
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/cross-framework.md
  docs/superpowers/plans/2026-05-16-vizel-v2-section-05-parity.md
Due: none

feat(ci): add cross-framework parity check script
  .github/actions/test/action.yml
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/check-cross-framework-parity.ts
Due: biome-check

feat(ci): add cross-framework parity check script (#464)
  .github/actions/test/action.yml
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/check-cross-framework-parity.ts
Due: biome-check

docs: add Section 6 (public API) sub-plan
  docs/superpowers/plans/2026-05-16-vizel-v2-section-06-public-api.md
Due: none

feat: mirror @vizel/core public API from framework packages
  packages/core/src/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(demo): import shared symbols from framework packages
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  tests/ct/react/specs/ColorPickerFixture.tsx
  tests/ct/react/specs/MarkdownFixture.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/react/specs/PortalFixture.tsx
  tests/ct/react/specs/SaveIndicatorFixture.tsx
  tests/ct/react/specs/ThemeProviderFixture.tsx
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
  tests/ct/scenarios/save-indicator.scenario.ts
  tests/ct/svelte/specs/ColorPickerFixture.svelte
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/MarkdownFixture.svelte
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/svelte/specs/PortalFixture.svelte
  tests/ct/svelte/specs/UserFlowFixture.svelte
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
  tests/ct/vue/specs/ColorPickerFixture.vue
  tests/ct/vue/specs/MarkdownFixture.vue
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
  tests/ct/vue/specs/PortalFixture.vue
  tests/ct/vue/specs/UseEditorStateFixture.vue
  tests/ct/vue/specs/UserFlowFixture.vue
  tests/ct/vue/specs/VizelRefStateFixture.vue
Due: biome-check

feat: mirror @vizel/core public API from framework packages (#465)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/superpowers/plans/2026-05-16-vizel-v2-section-06-public-api.md
  packages/core/src/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/ColorPickerFixture.tsx
  tests/ct/react/specs/MarkdownFixture.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/react/specs/PortalFixture.tsx
  tests/ct/react/specs/SaveIndicatorFixture.tsx
  tests/ct/react/specs/ThemeProviderFixture.tsx
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/react/specs/UserFlowFixture.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
  tests/ct/scenarios/save-indicator.scenario.ts
  tests/ct/svelte/specs/ColorPickerFixture.svelte
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/MarkdownFixture.svelte
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/svelte/specs/PortalFixture.svelte
  tests/ct/svelte/specs/UserFlowFixture.svelte
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
  tests/ct/vue/specs/ColorPickerFixture.vue
  tests/ct/vue/specs/MarkdownFixture.vue
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
  tests/ct/vue/specs/PortalFixture.vue
  tests/ct/vue/specs/UseEditorStateFixture.vue
  tests/ct/vue/specs/UserFlowFixture.vue
  tests/ct/vue/specs/VizelRefStateFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(ci): enforce core re-export mirror and symbol reachability
  scripts/check-cross-framework-parity.ts
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
