Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

feat(core): add VizelMinimap canvas component (Section 11e)
  .claude/rules/cross-framework.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/minimap.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMinimap.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelMinimap.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Minimap.spec.tsx
  tests/ct/react/specs/MinimapFixture.tsx
  tests/ct/scenarios/minimap.scenario.ts
  tests/ct/svelte/specs/Minimap.spec.ts
  tests/ct/svelte/specs/MinimapFixture.svelte
  tests/ct/vue/specs/Minimap.spec.ts
  tests/ct/vue/specs/MinimapFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add VizelMinimap canvas component (Section 11e) (#487)
  .claude/rules/cross-framework.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/minimap.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMinimap.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelMinimap.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Minimap.spec.tsx
  tests/ct/react/specs/MinimapFixture.tsx
  tests/ct/scenarios/minimap.scenario.ts
  tests/ct/svelte/specs/Minimap.spec.ts
  tests/ct/svelte/specs/MinimapFixture.svelte
  tests/ct/vue/specs/Minimap.spec.ts
  tests/ct/vue/specs/MinimapFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add block path API and VizelOutline component
  .claude/rules/cross-framework.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/outline.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/index.ts
  packages/core/src/utils/block-path.ts
  packages/core/src/utils/index.ts
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelOutline.svelte
  packages/svelte/src/components/VizelOutlineItems.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelOutlineItems.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Outline.spec.tsx
  tests/ct/react/specs/OutlineFixture.tsx
  tests/ct/scenarios/outline.scenario.ts
  tests/ct/svelte/specs/Outline.spec.ts
  tests/ct/svelte/specs/OutlineFixture.svelte
  tests/ct/vue/specs/Outline.spec.ts
  tests/ct/vue/specs/OutlineFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

test(ct): fix outline scenario editor locator
  tests/ct/scenarios/outline.scenario.ts
Due: biome-check

test(ct): defer outline visibility check until headings render
  tests/ct/scenarios/outline.scenario.ts
Due: biome-check

feat(core): add block path API and VizelOutline component (Section 11d) (#486)
  .claude/rules/cross-framework.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/outline.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/index.ts
  packages/core/src/utils/block-path.ts
  packages/core/src/utils/index.ts
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelOutline.svelte
  packages/svelte/src/components/VizelOutlineItems.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelOutlineItems.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Outline.spec.tsx
  tests/ct/react/specs/OutlineFixture.tsx
  tests/ct/scenarios/outline.scenario.ts
  tests/ct/svelte/specs/Outline.spec.ts
  tests/ct/svelte/specs/OutlineFixture.svelte
  tests/ct/vue/specs/Outline.spec.ts
  tests/ct/vue/specs/OutlineFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add multi-block range selection extension (Section 11b)
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/multi-block-selection.ts
  packages/core/src/index.ts
  tests/ct/react/specs/MultiBlockSelection.spec.tsx
  tests/ct/react/specs/MultiBlockSelectionFixture.tsx
  tests/ct/scenarios/multi-block-selection.scenario.ts
  tests/ct/svelte/specs/MultiBlockSelection.spec.ts
  tests/ct/svelte/specs/MultiBlockSelectionFixture.svelte
  tests/ct/vue/specs/MultiBlockSelection.spec.ts
  tests/ct/vue/specs/MultiBlockSelectionFixture.vue
Due: biome-check, typecheck-core

feat(core): add multi-block range selection extension (Section 11b) (#488)
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/multi-block-selection.ts
  packages/core/src/index.ts
  tests/ct/react/specs/MultiBlockSelection.spec.tsx
  tests/ct/react/specs/MultiBlockSelectionFixture.tsx
  tests/ct/scenarios/multi-block-selection.scenario.ts
  tests/ct/svelte/specs/MultiBlockSelection.spec.ts
  tests/ct/svelte/specs/MultiBlockSelectionFixture.svelte
  tests/ct/vue/specs/MultiBlockSelection.spec.ts
  tests/ct/vue/specs/MultiBlockSelectionFixture.vue
Due: biome-check, typecheck-core

feat(core): add block-aware clipboard and multi-block drag-and-drop
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/block-clipboard.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  tests/ct/react/specs/BlockClipboard.spec.tsx
  tests/ct/react/specs/BlockClipboardFixture.tsx
  tests/ct/scenarios/block-clipboard.scenario.ts
  tests/ct/svelte/specs/BlockClipboard.spec.ts
  tests/ct/svelte/specs/BlockClipboardFixture.svelte
  tests/ct/vue/specs/BlockClipboard.spec.ts
  tests/ct/vue/specs/BlockClipboardFixture.vue
Due: biome-check, typecheck-core

test(ct): skip block-clipboard tests on Firefox
  tests/ct/react/specs/BlockClipboard.spec.tsx
  tests/ct/svelte/specs/BlockClipboard.spec.ts
  tests/ct/vue/specs/BlockClipboard.spec.ts
Due: biome-check

feat(core): add block-aware clipboard and multi-block drag-and-drop (Section 11c) (#489)
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/block-clipboard.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  tests/ct/react/specs/BlockClipboard.spec.tsx
  tests/ct/react/specs/BlockClipboardFixture.tsx
  tests/ct/scenarios/block-clipboard.scenario.ts
  tests/ct/svelte/specs/BlockClipboard.spec.ts
  tests/ct/svelte/specs/BlockClipboardFixture.svelte
  tests/ct/vue/specs/BlockClipboard.spec.ts
  tests/ct/vue/specs/BlockClipboardFixture.vue
Due: biome-check, typecheck-core

feat(core): add SSR factory guard, theme init script, and CI lint
  .claude/rules/packages/core.md
  docs/superpowers/plans/2026-05-21-vizel-v2-section-12-ssr.md
  package.json
  packages/core/src/index.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/ssr.ts
  scripts/check-ssr-safety.ts
Due: biome-check, typecheck-core

feat(core): add SSR factory guard, theme init script, and CI lint (#490)
  .claude/rules/packages/core.md
  docs/superpowers/plans/2026-05-21-vizel-v2-section-12-ssr.md
  package.json
  packages/core/src/index.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/ssr.ts
  scripts/check-ssr-safety.ts
Due: biome-check, typecheck-core

refactor(core): remove host theme selectors and document the two-selector rule
  .claude/rules/architecture.md
  .claude/rules/packages/core.md
  packages/core/src/styles/_variables.scss
  packages/core/src/styles/code-block.scss
  packages/core/src/styles/diagram.scss
Due: none

refactor(core): remove host theme selectors and document the two-selector rule (#491)
  .claude/rules/architecture.md
  .claude/rules/packages/core.md
  packages/core/src/styles/_variables.scss
  packages/core/src/styles/code-block.scss
  packages/core/src/styles/diagram.scss
Due: none

fix(docs): exclude superpowers planning docs from VitePress build
  docs/.vitepress/config.mts
Due: none

fix(docs): exclude superpowers planning docs from VitePress build (#492)
  docs/.vitepress/config.mts
Due: none

chore: tighten lefthook, drop @deprecated shims, rename builder header
  lefthook.yml
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/errorHandling.ts
Due: biome-check, typecheck-core

chore: tighten lefthook, drop @deprecated shims, rename builder header (#493)
  lefthook.yml
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/errorHandling.ts
Due: biome-check, typecheck-core

build(core): ship CSS subpath exports for variables and components
  packages/core/README.md
  packages/core/package.json
  packages/core/src/styles/entries/components.scss
  packages/core/src/styles/entries/variables.scss
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
Due: biome-check

build(core): ship CSS subpath exports for variables and components (#495)
  packages/core/README.md
  packages/core/package.json
  packages/core/src/styles/entries/components.scss
  packages/core/src/styles/entries/variables.scss
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
Due: biome-check

docs(spec): align Section 8 feature options with shipped implementation
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

docs(spec): align Section 8 feature options with shipped implementation (#496)
  docs/superpowers/specs/2026-05-16-vizel-v2-ideal-interface-design.md
Due: none

refactor(core): relocate SystemThemeListener and RelativeTimeTicker
  packages/core/src/auto-save.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/relativeTimeTicker.ts
  packages/core/src/controllers/systemThemeListener.ts
  packages/core/src/index.ts
  packages/core/src/theme.ts
Due: biome-check, typecheck-core

refactor(core): relocate SystemThemeListener and RelativeTimeTicker (#497)
  packages/core/src/auto-save.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/relativeTimeTicker.ts
  packages/core/src/controllers/systemThemeListener.ts
  packages/core/src/index.ts
  packages/core/src/theme.ts
Due: biome-check, typecheck-core

fix(svelte): align onclose casing and getVizelContextSafe null return
  .claude/rules/cross-framework.md
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/runes/getVizelTheme.ts
Due: biome-check, typecheck-svelte

fix(svelte): align onclose casing and getVizelContextSafe null return (#498)
  .claude/rules/cross-framework.md
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/runes/getVizelTheme.ts
Due: biome-check, typecheck-svelte

fix(core): correct block move-down insert position and unblock CT
  packages/core/src/commands/registry/block-ops.ts
  tests/ct/react/specs/BlockOpsFixture.tsx
  tests/ct/scenarios/block-ops.scenario.ts
  tests/ct/svelte/specs/BlockOpsFixture.svelte
  tests/ct/vue/specs/BlockOpsFixture.vue
Due: biome-check, typecheck-core

test(ct): cover block operation commands across all three frameworks
  tests/ct/react/specs/BlockOps.spec.tsx
  tests/ct/react/specs/BlockOpsFixture.tsx
  tests/ct/scenarios/block-ops.scenario.ts
  tests/ct/svelte/specs/BlockOps.spec.ts
  tests/ct/svelte/specs/BlockOpsFixture.svelte
  tests/ct/vue/specs/BlockOps.spec.ts
  tests/ct/vue/specs/BlockOpsFixture.vue
Due: biome-check

test(ct): cover block operation commands across all three frameworks (audit Batch G) (#499)
  packages/core/src/commands/registry/block-ops.ts
  tests/ct/react/specs/BlockOps.spec.tsx
  tests/ct/react/specs/BlockOpsFixture.tsx
  tests/ct/scenarios/block-ops.scenario.ts
  tests/ct/svelte/specs/BlockOps.spec.ts
  tests/ct/svelte/specs/BlockOpsFixture.svelte
  tests/ct/vue/specs/BlockOps.spec.ts
  tests/ct/vue/specs/BlockOpsFixture.vue
Due: biome-check, typecheck-core

fix(core): inline KaTeX CSS into dist/mathematics.css
  packages/core/package.json
  packages/core/scripts/build-mathematics-css.mjs
  packages/core/src/styles/katex-entry.scss
Due: biome-check

fix(core): inline KaTeX CSS into dist/mathematics.css (#500)
  packages/core/package.json
  packages/core/scripts/build-mathematics-css.mjs
  packages/core/src/styles/katex-entry.scss
Due: biome-check

feat(core): add markdown encoding modes for embed and wikiLink
  package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/markdown/roundtrip.ts
  tests/markdown-roundtrip/.gitignore
  tests/markdown-roundtrip/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright/index.html
  tests/markdown-roundtrip/playwright/index.tsx
  tests/markdown-roundtrip/samples/index.ts
  tests/markdown-roundtrip/specs/Probe.spec.tsx
  tests/markdown-roundtrip/specs/Roundtrip.spec.tsx
  tests/markdown-roundtrip/specs/RoundtripFixture.tsx
Due: biome-check, typecheck-core

feat(core): add markdown encoding modes for embed and wikiLink (#501)
  package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/markdown/roundtrip.ts
  tests/markdown-roundtrip/.gitignore
  tests/markdown-roundtrip/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright/index.html
  tests/markdown-roundtrip/playwright/index.tsx
  tests/markdown-roundtrip/samples/index.ts
  tests/markdown-roundtrip/specs/Probe.spec.tsx
  tests/markdown-roundtrip/specs/Roundtrip.spec.tsx
  tests/markdown-roundtrip/specs/RoundtripFixture.tsx
Due: biome-check, typecheck-core

fix(demo): unblock editor render by removing comments-without-provider
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/react/src/components/Vizel.tsx
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue

fix(demo): unblock editor render by removing comments-without-provider (#503)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/react/src/components/Vizel.tsx
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue

ci: add SSR static HTML smoke test job
  .github/workflows/ci.yml
Due: none

feat(core): add generateVizelStaticHtml with linkedom DOM shim
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/staticHtml.ts
  pnpm-lock.yaml
  scripts/test-static-html.ts
Due: biome-check, typecheck-core
