Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

feat(ci): enforce core re-export mirror and symbol reachability (#466)
  scripts/check-cross-framework-parity.ts
Due: biome-check

feat: add CSS subpath exports to framework packages
  apps/demo/react/src/entry.tsx
  apps/demo/svelte/src/entry.ts
  apps/demo/vue/src/entry.ts
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
Due: biome-check

feat: add CSS subpath exports to framework packages (#467)
  apps/demo/react/src/entry.tsx
  apps/demo/svelte/src/entry.ts
  apps/demo/vue/src/entry.ts
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
Due: biome-check

feat: group VizelFeatureOptions into content/interaction/collaboration
  .claude/rules/packages/core.md
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/extensions/base.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/markdown.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelEditor.ts
  tests/ct/react/specs/DetailsFixture.tsx
  tests/ct/react/specs/DiagramFixture.tsx
  tests/ct/react/specs/EditorFixture.tsx
  tests/ct/react/specs/EmbedFixture.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/DetailsFixture.svelte
  tests/ct/svelte/specs/DiagramFixture.svelte
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/EmbedFixture.svelte
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/DetailsFixture.vue
  tests/ct/vue/specs/DiagramFixture.vue
  tests/ct/vue/specs/EditorFixture.vue
  tests/ct/vue/specs/EmbedFixture.vue
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): polish VizelFeatureOptions JSDoc and style
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat: group VizelFeatureOptions into content/interaction/collaboration (#468)
  .claude/rules/packages/core.md
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/extensions/base.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/markdown.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/useVizelCollaboration.ts
  packages/react/src/hooks/useVizelComment.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelCollaboration.svelte.ts
  packages/svelte/src/runes/createVizelComment.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/useVizelCollaboration.ts
  packages/vue/src/composables/useVizelComment.ts
  packages/vue/src/composables/useVizelEditor.ts
  tests/ct/react/specs/DetailsFixture.tsx
  tests/ct/react/specs/DiagramFixture.tsx
  tests/ct/react/specs/EditorFixture.tsx
  tests/ct/react/specs/EmbedFixture.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/DetailsFixture.svelte
  tests/ct/svelte/specs/DiagramFixture.svelte
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/EmbedFixture.svelte
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/DetailsFixture.vue
  tests/ct/vue/specs/DiagramFixture.vue
  tests/ct/vue/specs/EditorFixture.vue
  tests/ct/vue/specs/EmbedFixture.vue
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): split highlight into its own feature
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/highlight.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): split highlight into its own feature (#469)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/highlight.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add interaction features (placeholder, historyDepth, typography options)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/typography.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add interaction features (placeholder, historyDepth, typography options) (#470)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/typography.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add visual hierarchy extension
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add visual hierarchy extension (#471)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add collaboration features (provider, versionHistory, presence)
  packages/core/src/collaboration-provider.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/presence.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add collaboration features (provider, versionHistory, presence) (#472)
  packages/core/src/collaboration-provider.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/presence.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add vizelDefaultFeatures helper and dependency validation
  .claude/rules/packages/core.md
  packages/core/src/index.ts
  packages/core/src/utils/default-features.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
Due: biome-check, typecheck-core

feat(core): add vizelDefaultFeatures helper and dependency validation (#473)
  .claude/rules/packages/core.md
  packages/core/src/index.ts
  packages/core/src/utils/default-features.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
Due: biome-check, typecheck-core

feat(core): add VizelCommand unified type foundation
  docs/superpowers/plans/2026-05-18-vizel-v2-section-08-feature-grouping.md
  docs/superpowers/plans/2026-05-19-vizel-v2-section-09-command-unification.md
  packages/core/src/commands/derive.ts
  packages/core/src/commands/index.ts
  packages/core/src/commands/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add default command registries and slash-menu derivation
  packages/core/src/builders/slash-menu.ts
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/block.ts
  packages/core/src/commands/registry/format.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/commands/registry/insert.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add VizelCommand unified type foundation (#474)
  docs/superpowers/plans/2026-05-18-vizel-v2-section-08-feature-grouping.md
  docs/superpowers/plans/2026-05-19-vizel-v2-section-09-command-unification.md
  packages/core/src/commands/derive.ts
  packages/core/src/commands/index.ts
  packages/core/src/commands/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add toolbar/bubble/block builders and shortcut registry
  packages/core/src/builders/block-menu-from-commands.ts
  packages/core/src/builders/bubble-menu.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/toolbar.ts
  packages/core/src/extensions/command-shortcuts.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add default command registries and slash-menu derivation (#478)
  packages/core/src/builders/slash-menu.ts
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/block.ts
  packages/core/src/commands/registry/format.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/commands/registry/insert.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add command auto-derivation and Command Layer rule docs
  .claude/rules/packages/core.md
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/from-node-types.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add toolbar/bubble/block builders and shortcut registry (#479)
  packages/core/src/builders/block-menu-from-commands.ts
  packages/core/src/builders/bubble-menu.ts
  packages/core/src/builders/index.ts
  packages/core/src/builders/toolbar.ts
  packages/core/src/extensions/command-shortcuts.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add command auto-derivation and Command Layer rule docs (#480)
  .claude/rules/packages/core.md
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/from-node-types.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): promote VizelMarkdownFlavor to plugin object type
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/superpowers/plans/2026-05-19-vizel-v2-section-10-markdown-roundtrip.md
  packages/core/src/extensions/base.ts
  packages/core/src/index.ts
  packages/core/src/markdown/flavors/commonmark.ts
  packages/core/src/markdown/flavors/compose.ts
  packages/core/src/markdown/flavors/docusaurus.ts
  packages/core/src/markdown/flavors/gfm.ts
  packages/core/src/markdown/flavors/index.ts
  packages/core/src/markdown/flavors/obsidian.ts
  packages/core/src/markdown/index.ts
  packages/core/src/markdown/types.ts
  packages/core/src/types.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
Due: biome-check, typecheck-core

test(ct): pass flavor by name from MarkdownFlavors fixtures
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check

feat(core): promote VizelMarkdownFlavor to plugin object type (Section 10a) (#481)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/superpowers/plans/2026-05-19-vizel-v2-section-10-markdown-roundtrip.md
  packages/core/src/extensions/base.ts
  packages/core/src/index.ts
  packages/core/src/markdown/flavors/commonmark.ts
  packages/core/src/markdown/flavors/compose.ts
  packages/core/src/markdown/flavors/docusaurus.ts
  packages/core/src/markdown/flavors/gfm.ts
  packages/core/src/markdown/flavors/index.ts
  packages/core/src/markdown/flavors/obsidian.ts
  packages/core/src/markdown/index.ts
  packages/core/src/markdown/types.ts
  packages/core/src/types.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core

feat(core): swap markdown library to tiptap-markdown (Section 10b)
  package.json
  packages/core/package.json
  packages/core/src/env.d.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/details.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/markdown.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/extensions/table-base.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/markdown/augment.ts
  packages/core/src/markdown/flavors/index.ts
  packages/core/src/markdown/flavors/pandoc.ts
  packages/core/src/markdown/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
  packages/core/src/utils/markdown.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

feat(core): swap markdown library to tiptap-markdown (Section 10b) (#482)
  package.json
  packages/core/package.json
  packages/core/src/env.d.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/details.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/markdown.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/extensions/table-base.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/markdown/augment.ts
  packages/core/src/markdown/flavors/index.ts
  packages/core/src/markdown/flavors/pandoc.ts
  packages/core/src/markdown/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
  packages/core/src/utils/markdown.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

test(ct): pass flavor under markdown option in fixtures
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check

feat(core): add markdown option with flavor + encoding (Section 10c)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add markdown option with flavor + encoding (Section 10c) (#483)
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add assertMarkdownRoundtrip helper and Markdown Pipeline docs
  .claude/rules/packages/core.md
  packages/core/src/index.ts
  packages/core/src/markdown/index.ts
  packages/core/src/markdown/roundtrip.ts
Due: biome-check, typecheck-core

feat(core): add assertMarkdownRoundtrip helper and Markdown Pipeline docs (#484)
  .claude/rules/packages/core.md
  packages/core/src/index.ts
  packages/core/src/markdown/index.ts
  packages/core/src/markdown/roundtrip.ts
Due: biome-check, typecheck-core

feat(core): add block operation commands to VizelCommand registry
  docs/superpowers/plans/2026-05-21-vizel-v2-section-11-block-ux.md
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/block-ops.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

feat(core): add block operation commands to VizelCommand registry (#485)
  docs/superpowers/plans/2026-05-21-vizel-v2-section-11-block-ux.md
  packages/core/src/commands/index.ts
  packages/core/src/commands/registry/block-ops.ts
  packages/core/src/commands/registry/index.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/index.ts
Due: biome-check, typecheck-core

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
