Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

feat(core): add generateVizelStaticHtml with linkedom DOM shim (audit Batch F) (#502)
  .github/workflows/ci.yml
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/utils/errorHandling.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/staticHtml.ts
  pnpm-lock.yaml
  scripts/test-static-html.ts
Due: biome-check, typecheck-core

fix(core): improve dark mode visibility for borders and diagrams
  packages/core/src/extensions/diagram.ts
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/diagram.scss
Due: biome-check, typecheck-core

fix(core): improve dark mode visibility for borders and diagrams (#504)
  packages/core/src/extensions/diagram.ts
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/diagram.scss
Due: biome-check, typecheck-core

chore: align .claude/ docs with shipped v2.0.0 surface (Section 17)
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/skills/lint-instructions/SKILL.md
Due: none

chore: align .claude/ docs with shipped v2.0.0 surface (Section 17) (#505)
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/skills/lint-instructions/SKILL.md
Due: none

feat(ct): document seven testing pillars and ship CT parity check (Section 14)
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/testing.md
  .claude/skills/test/SKILL.md
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  scripts/check-ct-parity.ts
Due: biome-check

feat(ct): document seven testing pillars and ship CT parity check (Section 14) (#506)
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/testing.md
  .claude/skills/test/SKILL.md
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  scripts/check-ct-parity.ts
Due: biome-check

fix(core): keep list-item paragraphs flush with their bullet
  packages/core/src/styles/_block-hierarchy.scss
Due: none

fix(core): keep list-item paragraphs flush with their bullet (#507)
  packages/core/src/styles/_block-hierarchy.scss
Due: none

feat(docs): integrate TypeDoc and ship v1->v2 migration guide (Section 15)
  .gitignore
  docs/.vitepress/config.mts
  docs/api/index.md
  docs/guide/blocks.md
  docs/guide/editor.md
  docs/guide/markdown.md
  docs/guide/ssr.md
  docs/migration/v1-to-v2.md
  package.json
  pnpm-lock.yaml
  scripts/postprocess-typedoc.ts
  typedoc.json
Due: biome-check

feat(docs): integrate TypeDoc and ship v1->v2 migration guide (Section 15) (#508)
  .gitignore
  docs/.vitepress/config.mts
  docs/api/index.md
  docs/guide/blocks.md
  docs/guide/editor.md
  docs/guide/markdown.md
  docs/guide/ssr.md
  docs/migration/v1-to-v2.md
  package.json
  pnpm-lock.yaml
  scripts/postprocess-typedoc.ts
  typedoc.json
Due: biome-check

feat(demo): wire static view, outline, minimap, and three-state theme toggle
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
Due: biome-check

feat(demo): wire static view, outline, minimap, and three-state theme toggle (#509)
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
Due: biome-check

fix(core): polish list spacing, outline indentation, and demo aside layout
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/outline.scss
Due: biome-check

fix(core): align nested-list indent and fix minimap viewport scaling
  packages/core/src/builders/minimap.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/svelte/src/components/VizelMinimap.svelte
  packages/vue/src/components/VizelMinimap.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): replace the visual-hierarchy / minimap dirty fixes
  packages/core/src/builders/minimap.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/pageScrollListener.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/svelte/src/components/VizelMinimap.svelte
  packages/vue/src/components/VizelMinimap.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix(core): polish list spacing, outline indentation, and demo aside layout (#510)
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  packages/core/src/builders/minimap.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/pageScrollListener.ts
  packages/core/src/extensions/visual-hierarchy.ts
  packages/core/src/index.ts
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/outline.scss
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/svelte/src/components/VizelMinimap.svelte
  packages/vue/src/components/VizelMinimap.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(demo): sync Vue and Svelte demos with React Section 16 surface
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
Due: biome-check

feat(demo): sync Vue and Svelte demos with React Section 16 surface (#511)
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
Due: biome-check

feat(ct): add a11y suite with axe-core (Section 14 Pillar 5)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/check-no-let.ts
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/react/playwright/index.html
  tests/a11y/react/playwright/index.tsx
  tests/a11y/react/specs/Editor.spec.tsx
  tests/a11y/react/specs/EditorFixture.tsx
  tests/a11y/react/specs/Outline.spec.tsx
  tests/a11y/react/specs/OutlineFixture.tsx
  tests/a11y/react/specs/Toolbar.spec.tsx
  tests/a11y/react/specs/ToolbarFixture.tsx
  tests/a11y/scenarios/axe.scenario.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/svelte/playwright/index.html
  tests/a11y/svelte/playwright/index.ts
  tests/a11y/svelte/specs/Editor.spec.ts
  tests/a11y/svelte/specs/EditorFixture.svelte
  tests/a11y/svelte/specs/Outline.spec.ts
  tests/a11y/svelte/specs/OutlineFixture.svelte
  tests/a11y/svelte/specs/Toolbar.spec.ts
  tests/a11y/svelte/specs/ToolbarFixture.svelte
  tests/a11y/vue/playwright-ct.config.ts
  tests/a11y/vue/playwright/index.html
  tests/a11y/vue/playwright/index.ts
  tests/a11y/vue/specs/Editor.spec.ts
  tests/a11y/vue/specs/EditorFixture.vue
  tests/a11y/vue/specs/Outline.spec.ts
  tests/a11y/vue/specs/OutlineFixture.vue
  tests/a11y/vue/specs/Toolbar.spec.ts
  tests/a11y/vue/specs/ToolbarFixture.vue
Due: biome-check

feat(ct): add a11y suite with axe-core (Section 14 Pillar 5) (#512)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/check-no-let.ts
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/react/playwright/index.html
  tests/a11y/react/playwright/index.tsx
  tests/a11y/react/specs/Editor.spec.tsx
  tests/a11y/react/specs/EditorFixture.tsx
  tests/a11y/react/specs/Outline.spec.tsx
  tests/a11y/react/specs/OutlineFixture.tsx
  tests/a11y/react/specs/Toolbar.spec.tsx
  tests/a11y/react/specs/ToolbarFixture.tsx
  tests/a11y/scenarios/axe.scenario.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/svelte/playwright/index.html
  tests/a11y/svelte/playwright/index.ts
  tests/a11y/svelte/specs/Editor.spec.ts
  tests/a11y/svelte/specs/EditorFixture.svelte
  tests/a11y/svelte/specs/Outline.spec.ts
  tests/a11y/svelte/specs/OutlineFixture.svelte
  tests/a11y/svelte/specs/Toolbar.spec.ts
  tests/a11y/svelte/specs/ToolbarFixture.svelte
  tests/a11y/vue/playwright-ct.config.ts
  tests/a11y/vue/playwright/index.html
  tests/a11y/vue/playwright/index.ts
  tests/a11y/vue/specs/Editor.spec.ts
  tests/a11y/vue/specs/EditorFixture.vue
  tests/a11y/vue/specs/Outline.spec.ts
  tests/a11y/vue/specs/OutlineFixture.vue
  tests/a11y/vue/specs/Toolbar.spec.ts
  tests/a11y/vue/specs/ToolbarFixture.vue
Due: biome-check

docs(guide): consolidate guide pages into concept-first structure
  docs/.vitepress/config.mts
  docs/api/core.md
  docs/guide/accessibility.md
  docs/guide/auto-save.md
  docs/guide/blocks.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/editor.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/markdown.md
  docs/guide/performance.md
  docs/guide/plugins.md
  docs/guide/react.md
  docs/guide/ssr.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/version-history.md
  docs/guide/vue.md
  docs/index.md
Due: none

docs(guide): consolidate guide pages into concept-first structure (#513)
  docs/.vitepress/config.mts
  docs/api/core.md
  docs/guide/accessibility.md
  docs/guide/auto-save.md
  docs/guide/blocks.md
  docs/guide/collaboration.md
  docs/guide/comments.md
  docs/guide/configuration.md
  docs/guide/editor.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/markdown.md
  docs/guide/performance.md
  docs/guide/plugins.md
  docs/guide/react.md
  docs/guide/ssr.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/version-history.md
  docs/guide/vue.md
  docs/index.md
Due: none

feat(ct): add visual regression suite (Section 14 Pillar 6)
  .claude/rules/testing.md
  .github/workflows/ci.yml
  package.json
  tests/visual/.gitignore
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-dark.png
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-light.png
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-toolbar-only-light.png
  tests/visual/playwright-ct.config.ts
  tests/visual/playwright/index.html
  tests/visual/playwright/index.tsx
  tests/visual/specs/Editor.spec.tsx
Due: biome-check

feat(ct): add visual regression suite (Section 14 Pillar 6) (#514)
  .claude/rules/testing.md
  .github/workflows/ci.yml
  package.json
  tests/visual/.gitignore
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-dark.png
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-light.png
  tests/visual/__snapshots__/Editor.spec.tsx-snapshots/editor-toolbar-only-light.png
  tests/visual/playwright-ct.config.ts
  tests/visual/playwright/index.html
  tests/visual/playwright/index.tsx
  tests/visual/specs/Editor.spec.tsx
Due: biome-check

docs: align guides and READMEs with v2 feature/rune/composable surface
  apps/demo/vue/src/App.vue
  docs/guide/collaboration.md
  docs/guide/editor.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/performance.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/vue.md
  docs/guide/wiki-links.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: biome-check

fix(react,vue,svelte): provide editor context from all-in-one Vizel component
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(vue,svelte): make editable prop reactive in useVizelEditor / createVizelEditor
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-vue, typecheck-svelte

fix(core,react,vue,svelte,docs): rethrow init VizelError even when onError is set
  .claude/rules/demo.md
  .gitignore
  docs/guide/troubleshooting.md
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

build(react,vue,svelte): declare @tiptap/extension-* as peerDependencies
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix(react,vue,svelte): wire VizelLinkEditor / VizelFindReplace to context
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core,react,vue,svelte): move VizelBubbleMenu Escape listener into core controller
  packages/core/src/controllers/bubbleMenuEscapeController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): expose the bound editor on VizelExposed
  packages/react/src/components/VizelEditor.tsx
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat: remove Static View API and demo
  .claude/rules/testing.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/guide/ssr.md
  package.json
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/staticHtml.ts
  scripts/test-static-html.ts
Due: biome-check, typecheck-core

docs: align guides and READMEs with v2 feature/rune/composable surface (#515)
  apps/demo/vue/src/App.vue
  docs/guide/collaboration.md
  docs/guide/editor.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/performance.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  docs/guide/vue.md
  docs/guide/wiki-links.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: biome-check

feat: remove Static View API and demo (#535)
  .claude/rules/testing.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/guide/ssr.md
  package.json
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/staticHtml.ts
  scripts/test-static-html.ts
Due: biome-check, typecheck-core

feat: remove VizelMinimap, consolidate on VizelOutline
  .claude/rules/cross-framework.md
  .claude/rules/testing.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/builders/index.ts
  packages/core/src/builders/minimap.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/pageScrollListener.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMinimap.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelMinimap.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Minimap.spec.tsx
  tests/ct/react/specs/MinimapFixture.tsx
  tests/ct/scenarios/minimap.scenario.ts
  tests/ct/svelte/specs/Minimap.spec.ts
  tests/ct/svelte/specs/MinimapFixture.svelte
  tests/ct/vue/specs/Minimap.spec.ts
  tests/ct/vue/specs/MinimapFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

ci: replace removed test:ssr with check:ssr lint-only step
  .github/workflows/ci.yml
Due: none

fix(react,vue,svelte): provide editor context from all-in-one Vizel component (#516)
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): replace markdown reentrancy flag with value comparison
  packages/react/src/components/Vizel.tsx
  packages/react/src/hooks/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
