Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: bunx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: bun run --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: bun run --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: bun run --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: bun run --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: bun run lint

    typecheck:
      run: bun run typecheck

feat(core): add collapsible details/accordion extension (#76)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/details.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/details.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  tests/ct/react/specs/Details.spec.tsx
  tests/ct/react/specs/DetailsFixture.tsx
  tests/ct/scenarios/details.scenario.ts
  tests/ct/svelte/specs/Details.spec.ts
  tests/ct/svelte/specs/DetailsFixture.svelte
  tests/ct/vue/specs/Details.spec.ts
  tests/ct/vue/specs/DetailsFixture.vue
Due: biome-check, typecheck-core

feat(core): add collapsible details/accordion extension (#76) (#77)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/details.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/details.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  tests/ct/react/specs/Details.spec.tsx
  tests/ct/react/specs/DetailsFixture.tsx
  tests/ct/scenarios/details.scenario.ts
  tests/ct/svelte/specs/Details.spec.ts
  tests/ct/svelte/specs/DetailsFixture.svelte
  tests/ct/vue/specs/Details.spec.ts
  tests/ct/vue/specs/DetailsFixture.vue
Due: biome-check, typecheck-core

feat(core): add interactive table controls with row/column handles
  apps/demo/shared/content.ts
  bun.lock
  package.json
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/table-base.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/extensions/table.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/index.css
  packages/core/src/styles/table-controls.css
  packages/core/src/styles/table.css
  tests/ct/react/specs/TableControls.spec.tsx
  tests/ct/scenarios/table-controls.scenario.ts
  tests/ct/svelte/specs/TableControls.spec.ts
  tests/ct/vue/specs/TableControls.spec.ts
Due: biome-check, typecheck-core

test(core): add comprehensive table controls test coverage
  tests/ct/react/specs/TableControls.spec.tsx
  tests/ct/scenarios/table-controls.scenario.ts
  tests/ct/svelte/specs/TableControls.spec.ts
  tests/ct/vue/specs/TableControls.spec.ts
Due: biome-check

feat(core): add interactive table controls with row/column handles (#78)
  apps/demo/shared/content.ts
  bun.lock
  package.json
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/table-base.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/extensions/table.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/index.css
  packages/core/src/styles/table-controls.css
  packages/core/src/styles/table.css
  tests/ct/react/specs/TableControls.spec.tsx
  tests/ct/scenarios/table-controls.scenario.ts
  tests/ct/svelte/specs/TableControls.spec.ts
  tests/ct/vue/specs/TableControls.spec.ts
Due: biome-check, typecheck-core

test: add parallel execution and Image/ImageResize tests
  .claude/skills/test/SKILL.md
  package.json
  packages/core/src/styles/table-controls.css
  packages/svelte/src/components/ThemeProvider.svelte
  tests/ct/react/playwright-ct.config.ts
  tests/ct/react/specs/Image.spec.tsx
  tests/ct/react/specs/ImageResize.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/scenarios/details.scenario.ts
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/scenarios/image-resize.scenario.ts
  tests/ct/scenarios/image.scenario.ts
  tests/ct/scenarios/mathematics.scenario.ts
  tests/ct/scenarios/table-controls.scenario.ts
  tests/ct/svelte/playwright-ct.config.ts
  tests/ct/svelte/specs/Image.spec.ts
  tests/ct/svelte/specs/ImageResize.spec.ts
  tests/ct/vue/playwright-ct.config.ts
  tests/ct/vue/specs/Image.spec.ts
  tests/ct/vue/specs/ImageResize.spec.ts
Due: biome-check, typecheck-svelte

ci: add browser matrix for cross-browser E2E testing
  .github/workflows/ci.yml
Due: none

test: add parallel execution and Image/ImageResize tests (#79)
  .claude/skills/test/SKILL.md
  .github/workflows/ci.yml
  package.json
  packages/core/src/styles/table-controls.css
  packages/svelte/src/components/ThemeProvider.svelte
  tests/ct/react/playwright-ct.config.ts
  tests/ct/react/specs/Image.spec.tsx
  tests/ct/react/specs/ImageResize.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/scenarios/details.scenario.ts
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/scenarios/image-resize.scenario.ts
  tests/ct/scenarios/image.scenario.ts
  tests/ct/scenarios/mathematics.scenario.ts
  tests/ct/scenarios/table-controls.scenario.ts
  tests/ct/svelte/playwright-ct.config.ts
  tests/ct/svelte/specs/Image.spec.ts
  tests/ct/svelte/specs/ImageResize.spec.ts
  tests/ct/vue/playwright-ct.config.ts
  tests/ct/vue/specs/Image.spec.ts
  tests/ct/vue/specs/ImageResize.spec.ts
Due: biome-check, typecheck-svelte

docs: clarify project as visual editor for Markdown
  .claude/CLAUDE.md
  README.md
Due: none

docs: clarify project as visual editor for Markdown (#80)
  .claude/CLAUDE.md
  README.md
Due: none

feat(core): add portal rendering system for floating UI elements
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/portal.css
  packages/core/src/utils/index.ts
  packages/core/src/utils/portal.ts
  packages/react/src/components/Portal.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Portal.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Portal.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Portal.spec.tsx
  tests/ct/react/specs/PortalFixture.tsx
  tests/ct/scenarios/portal.scenario.ts
  tests/ct/svelte/specs/Portal.spec.ts
  tests/ct/svelte/specs/PortalFixture.svelte
  tests/ct/vue/specs/Portal.spec.ts
  tests/ct/vue/specs/PortalFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add portal rendering system for floating UI elements (#81)
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/portal.css
  packages/core/src/utils/index.ts
  packages/core/src/utils/portal.ts
  packages/react/src/components/Portal.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Portal.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Portal.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Portal.spec.tsx
  tests/ct/react/specs/PortalFixture.tsx
  tests/ct/scenarios/portal.scenario.ts
  tests/ct/svelte/specs/Portal.spec.ts
  tests/ct/svelte/specs/PortalFixture.svelte
  tests/ct/vue/specs/Portal.spec.ts
  tests/ct/vue/specs/PortalFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add comprehensive styling system
  bun.lock
  packages/core/src/styles/variables-shadcn.css
  packages/styles/package.json
  packages/styles/postcss.config.js
  packages/styles/src/index.css
  packages/styles/src/variables-shadcn.css
  packages/styles/src/variables.css
  packages/tailwind/package.json
  packages/tailwind/src/index.ts
  packages/tailwind/src/plugin.ts
  packages/tailwind/src/preset.ts
  packages/tailwind/tsconfig.json
Due: biome-check

test(core): add comprehensive CSS variable tests
  tests/ct/react/specs/ThemeProvider.spec.tsx
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/svelte/specs/ThemeProvider.spec.ts
  tests/ct/vue/specs/ThemeProvider.spec.ts
Due: biome-check

feat(core): add comprehensive styling system (#82)
  bun.lock
  packages/core/src/styles/variables-shadcn.css
  packages/styles/package.json
  packages/styles/postcss.config.js
  packages/styles/src/index.css
  packages/styles/src/variables-shadcn.css
  packages/styles/src/variables.css
  packages/tailwind/package.json
  packages/tailwind/src/index.ts
  packages/tailwind/src/plugin.ts
  packages/tailwind/src/preset.ts
  packages/tailwind/tsconfig.json
  tests/ct/react/specs/ThemeProvider.spec.tsx
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/svelte/specs/ThemeProvider.spec.ts
  tests/ct/vue/specs/ThemeProvider.spec.ts
Due: biome-check

fix(core): use setNodeMarkup for code block toolbar updates
  packages/core/src/extensions/code-block-lowlight.ts
Due: biome-check, typecheck-core

fix(core): use setNodeMarkup for code block toolbar updates (#83)
  packages/core/src/extensions/code-block-lowlight.ts
Due: biome-check, typecheck-core

feat(core): add file handler extension with drag-drop and paste support
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/file-handler.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  tests/ct/react/specs/FileHandler.spec.tsx
  tests/ct/scenarios/file-handler.scenario.ts
  tests/ct/svelte/specs/FileHandler.spec.ts
  tests/ct/vue/specs/FileHandler.spec.ts
Due: biome-check, typecheck-core

feat(core): add file handler extension with drag-drop and paste support (#84)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/file-handler.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  tests/ct/react/specs/FileHandler.spec.tsx
  tests/ct/scenarios/file-handler.scenario.ts
  tests/ct/svelte/specs/FileHandler.spec.ts
  tests/ct/vue/specs/FileHandler.spec.ts
Due: biome-check, typecheck-core

ci: add caching for bun dependencies
  .github/workflows/ci.yml
Due: none

ci: add caching for bun dependencies (#85)
  .github/workflows/ci.yml
Due: none

docs: update project documentation and add AGENTS.md symlink
  .claude/CLAUDE.md
  AGENTS.md
  README.md
  package.json
Due: biome-check

docs: update project documentation and add AGENTS.md symlink (#86)
  .claude/CLAUDE.md
  AGENTS.md
  README.md
  package.json
Due: biome-check

refactor: improve code quality across all framework packages
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/image-resize.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/styles/variables.css
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/components/BubbleMenuButton.tsx
  packages/react/src/components/ColorPicker.tsx
  packages/react/src/components/EditorContent.tsx
  packages/react/src/components/SlashMenu.tsx
  packages/react/src/hooks/useAutoSave.ts
  packages/styles/src/variables.css
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuButton.svelte
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/ColorPicker.svelte
  packages/svelte/src/components/EditorContent.svelte
  packages/svelte/src/components/EmbedView.svelte
  packages/svelte/src/components/SaveIndicator.svelte
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/runes/createAutoSave.svelte.ts
  packages/svelte/src/runes/createEditorState.svelte.ts
  packages/vue/src/components/BubbleMenuButton.vue
  packages/vue/src/components/ColorPicker.vue
  packages/vue/src/components/EditorContent.vue
  packages/vue/src/components/EditorContext.ts
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/composables/useAutoSave.ts
  packages/vue/src/composables/useEditorState.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: allow console.error/warn in Biome config and remove unused suppression
  biome.json
  packages/core/src/plugins/image-upload.ts
Due: biome-check, typecheck-core

refactor: improve code quality across all framework packages (#87)
  biome.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/image-resize.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/extensions/table-controls.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/styles/variables.css
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/components/BubbleMenuButton.tsx
  packages/react/src/components/ColorPicker.tsx
  packages/react/src/components/EditorContent.tsx
  packages/react/src/components/SlashMenu.tsx
  packages/react/src/hooks/useAutoSave.ts
  packages/styles/src/variables.css
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuButton.svelte
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/ColorPicker.svelte
  packages/svelte/src/components/EditorContent.svelte
  packages/svelte/src/components/EmbedView.svelte
  packages/svelte/src/components/SaveIndicator.svelte
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/runes/createAutoSave.svelte.ts
  packages/svelte/src/runes/createEditorState.svelte.ts
  packages/vue/src/components/BubbleMenuButton.vue
  packages/vue/src/components/ColorPicker.vue
  packages/vue/src/components/EditorContent.vue
  packages/vue/src/components/EditorContext.ts
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/composables/useAutoSave.ts
  packages/vue/src/composables/useEditorState.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: update README with correct styles import and shadcn/ui integration
  README.md
Due: none

docs: update README with correct styles import and shadcn/ui integration (#88)
  README.md
Due: none

refactor(styles): unify color values to OKLCH format and CSS variables
  README.md
  apps/demo/react/src/styles.css
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/styles.css
  apps/demo/vue/src/styles.css
  biome.json
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/code-block.css
  packages/core/src/styles/details.css
  packages/core/src/styles/drag-handle.css
  packages/core/src/styles/editor.css
  packages/core/src/styles/embed.css
  packages/core/src/styles/image.css
  packages/core/src/styles/link.css
  packages/core/src/styles/mathematics.css
  packages/core/src/styles/slash-menu.css
  packages/core/src/styles/table-controls.css
  packages/core/src/styles/task-list.css
  packages/core/src/styles/variables-shadcn.css
  packages/core/src/styles/variables.css
  packages/styles/src/variables-shadcn.css
  packages/styles/src/variables.css
  packages/tailwind/package.json
  packages/tailwind/src/index.ts
  packages/tailwind/src/plugin.ts
  packages/tailwind/src/preset.ts
  packages/tailwind/src/vizel.css
  packages/tailwind/tsconfig.json
Due: biome-check

fix(test): update ThemeProvider tests to check CSS variable existence
  tests/ct/scenarios/theme-provider.scenario.ts
Due: biome-check

fix(styles): update editor.css to use new CSS variable names
  packages/core/src/styles/editor.css
Due: none

fix(test): remove legacy bgColor variable check from ThemeProvider tests
  tests/ct/scenarios/theme-provider.scenario.ts
Due: biome-check

refactor(styles): unify color values to OKLCH format and CSS variables (#89)
  README.md
  apps/demo/react/src/styles.css
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/styles.css
  apps/demo/vue/src/styles.css
  biome.json
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/code-block.css
  packages/core/src/styles/details.css
  packages/core/src/styles/drag-handle.css
  packages/core/src/styles/editor.css
  packages/core/src/styles/embed.css
  packages/core/src/styles/image.css
  packages/core/src/styles/link.css
  packages/core/src/styles/mathematics.css
  packages/core/src/styles/slash-menu.css
  packages/core/src/styles/table-controls.css
  packages/core/src/styles/task-list.css
  packages/core/src/styles/variables-shadcn.css
  packages/core/src/styles/variables.css
  packages/styles/src/variables-shadcn.css
  packages/styles/src/variables.css
  packages/tailwind/package.json
  packages/tailwind/src/index.ts
  packages/tailwind/src/plugin.ts
  packages/tailwind/src/preset.ts
  packages/tailwind/src/vizel.css
  packages/tailwind/tsconfig.json
  tests/ct/scenarios/theme-provider.scenario.ts
Due: biome-check

feat(core): add Mermaid diagram extension with live preview
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/diagram.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  tests/ct/react/specs/Diagram.spec.tsx
  tests/ct/react/specs/DiagramFixture.tsx
  tests/ct/scenarios/diagram.scenario.ts
  tests/ct/svelte/specs/Diagram.spec.ts
  tests/ct/svelte/specs/DiagramFixture.svelte
  tests/ct/vue/specs/Diagram.spec.ts
  tests/ct/vue/specs/DiagramFixture.vue
Due: biome-check, typecheck-core

feat(core): add GraphViz support to diagram extension
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/index.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Diagram.spec.tsx
  tests/ct/scenarios/diagram.scenario.ts
  tests/ct/svelte/specs/Diagram.spec.ts
  tests/ct/vue/specs/Diagram.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: exclude node_modules and .bun from Biome linting
  biome.json
Due: biome-check

feat(core): add diagram extension with Mermaid and GraphViz support (#90)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  biome.json
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/diagram.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Diagram.spec.tsx
  tests/ct/react/specs/DiagramFixture.tsx
  tests/ct/scenarios/diagram.scenario.ts
  tests/ct/svelte/specs/Diagram.spec.ts
  tests/ct/svelte/specs/DiagramFixture.svelte
  tests/ct/vue/specs/Diagram.spec.ts
  tests/ct/vue/specs/DiagramFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: update bun.lock after removing packages
  bun.lock
Due: none

fix(test): update E2E test imports to use SCSS
  tests/ct/react/playwright/index.tsx
  tests/ct/svelte/playwright/index.ts
  tests/ct/vue/playwright/index.ts
Due: biome-check
