Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

feat(headless): add combobox primitive and adopt in suggestion menus (#589)
  packages/core/src/builders/slash-menu.ts
  packages/headless/__tests__/combobox.test.ts
  packages/headless/package.json
  packages/headless/src/combobox/index.ts
  packages/headless/src/index.ts
  packages/headless/vite.config.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: align find-replace labels and polish adapter idioms
  packages/core/src/builders/link-editor.ts
  packages/core/src/controllers/transactionStore.ts
  packages/react/src/components/VizelFindReplace.tsx
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue

refactor: delegate ColorPicker and NodeSelector keyboard logic to headless
  packages/react/src/components/VizelColorPicker.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelNodeSelector.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: adopt headless grid and combobox in ColorPicker and NodeSelector
  packages/core/src/builders/link-editor.ts
  packages/core/src/controllers/transactionStore.ts
  packages/react/src/components/VizelColorPicker.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelNodeSelector.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix: publish @vizel/headless and ship license and repository metadata
  packages/core/LICENSE
  packages/core/package.json
  packages/headless/LICENSE
  packages/headless/README.md
  packages/headless/package.json
  packages/react/LICENSE
  packages/react/package.json
  packages/svelte/LICENSE
  packages/svelte/package.json
  packages/vue/LICENSE
  packages/vue/package.json
Due: biome-check

ci: publish @vizel/headless and guard against workspace dependency leaks
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  package.json
  scripts/check-publishable.ts
  scripts/rewrite-workspace-deps.mjs
Due: biome-check

fix: emit node16-resolvable declaration imports
  package.json
  scripts/add-dts-extensions.mjs
Due: biome-check

test(ct): add an executable find-replace scenario across frameworks
  tests/ct/react/specs/FindReplace.spec.tsx
  tests/ct/react/specs/FindReplaceFixture.tsx
  tests/ct/scenarios/find-replace.scenario.ts
  tests/ct/svelte/specs/FindReplace.spec.ts
  tests/ct/svelte/specs/FindReplaceFixture.svelte
  tests/ct/vue/specs/FindReplace.spec.ts
  tests/ct/vue/specs/FindReplaceFixture.vue
Due: biome-check

test(ct): add an executable find-replace scenario across frameworks (#610)
  tests/ct/react/specs/FindReplace.spec.tsx
  tests/ct/react/specs/FindReplaceFixture.tsx
  tests/ct/scenarios/find-replace.scenario.ts
  tests/ct/svelte/specs/FindReplace.spec.ts
  tests/ct/svelte/specs/FindReplaceFixture.svelte
  tests/ct/vue/specs/FindReplace.spec.ts
  tests/ct/vue/specs/FindReplaceFixture.vue
Due: biome-check

ci: migrate GitHub App auth from app-id to client-id
  .github/workflows/publish.yml
Due: none

ci: migrate GitHub App auth from app-id to client-id (#612)
  .github/workflows/publish.yml
Due: none

docs(plan): add v2 P0/P1 hardening plan
  docs/superpowers/plans/2026-06-02-vizel-v2-hardening-p0p1.md
Due: none

docs(plan): add v2 P0/P1 hardening plan (#614)
  docs/superpowers/plans/2026-06-02-vizel-v2-hardening-p0p1.md
Due: none

fix: rewrite source-extension declaration specifiers and add attw gate
  .attw.json
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
  scripts/add-dts-extensions.mjs
Due: biome-check

fix: rewrite source-extension declaration specifiers and add attw gate (#615)
  .attw.json
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
  scripts/add-dts-extensions.mjs
Due: biome-check

build: raise the Node.js baseline to >=24
  .claude/rules/architecture.md
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  .node-version
  .nvmrc
  CLAUDE.md
  README.md
  docs/adr/ADR-0015-node-24-baseline.md
  docs/adr/README.md
  docs/guide/getting-started.md
  package.json
  packages/core/package.json
  packages/headless/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

build: raise the Node.js baseline to >=24 (#616)
  .claude/rules/architecture.md
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  .node-version
  .nvmrc
  CLAUDE.md
  README.md
  docs/adr/ADR-0015-node-24-baseline.md
  docs/adr/README.md
  docs/guide/getting-started.md
  package.json
  packages/core/package.json
  packages/headless/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix: make feature-parity check resolve the real adapter export surface
  .claude/rules/feature-manifest.md
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  scripts/check-feature-parity.ts
Due: biome-check

fix: make feature-parity check resolve the real adapter export surface (#627)
  .claude/rules/feature-manifest.md
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  scripts/check-feature-parity.ts
Due: biome-check

test(ct): retire scenarios/v2 stubs and enforce flat-scenario coverage
  .claude/rules/feature-manifest.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  scripts/check-adr-compliance.ts
  tests/ct/parity/check-scenarios.ts
  tests/ct/scenarios/v2/auto-save/index.ts
  tests/ct/scenarios/v2/block-menu/index.ts
  tests/ct/scenarios/v2/bubble-menu/index.ts
  tests/ct/scenarios/v2/collaboration/index.ts
  tests/ct/scenarios/v2/color-picker/index.ts
  tests/ct/scenarios/v2/comment/index.ts
  tests/ct/scenarios/v2/editor-core/index.ts
  tests/ct/scenarios/v2/embed-view/index.ts
  tests/ct/scenarios/v2/find-replace/index.ts
  tests/ct/scenarios/v2/icon/index.ts
  tests/ct/scenarios/v2/index.ts
  tests/ct/scenarios/v2/link-editor/index.ts
  tests/ct/scenarios/v2/mention-menu/index.ts
  tests/ct/scenarios/v2/node-selector/index.ts
  tests/ct/scenarios/v2/outline/index.ts
  tests/ct/scenarios/v2/portal/index.ts
  tests/ct/scenarios/v2/provider/index.ts
  tests/ct/scenarios/v2/save-indicator/index.ts
  tests/ct/scenarios/v2/slash-menu/index.ts
  tests/ct/scenarios/v2/theme/index.ts
  tests/ct/scenarios/v2/toolbar-dropdown/index.ts
  tests/ct/scenarios/v2/toolbar-overflow/index.ts
  tests/ct/scenarios/v2/toolbar/index.ts
  tests/ct/scenarios/v2/types.ts
  tests/ct/scenarios/v2/version-history/index.ts
Due: biome-check

test(ct): retire scenarios/v2 stubs and enforce flat-scenario coverage (#628)
  .claude/rules/feature-manifest.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  scripts/check-adr-compliance.ts
  tests/ct/parity/check-scenarios.ts
  tests/ct/scenarios/v2/auto-save/index.ts
  tests/ct/scenarios/v2/block-menu/index.ts
  tests/ct/scenarios/v2/bubble-menu/index.ts
  tests/ct/scenarios/v2/collaboration/index.ts
  tests/ct/scenarios/v2/color-picker/index.ts
  tests/ct/scenarios/v2/comment/index.ts
  tests/ct/scenarios/v2/editor-core/index.ts
  tests/ct/scenarios/v2/embed-view/index.ts
  tests/ct/scenarios/v2/find-replace/index.ts
  tests/ct/scenarios/v2/icon/index.ts
  tests/ct/scenarios/v2/index.ts
  tests/ct/scenarios/v2/link-editor/index.ts
  tests/ct/scenarios/v2/mention-menu/index.ts
  tests/ct/scenarios/v2/node-selector/index.ts
  tests/ct/scenarios/v2/outline/index.ts
  tests/ct/scenarios/v2/portal/index.ts
  tests/ct/scenarios/v2/provider/index.ts
  tests/ct/scenarios/v2/save-indicator/index.ts
  tests/ct/scenarios/v2/slash-menu/index.ts
  tests/ct/scenarios/v2/theme/index.ts
  tests/ct/scenarios/v2/toolbar-dropdown/index.ts
  tests/ct/scenarios/v2/toolbar-overflow/index.ts
  tests/ct/scenarios/v2/toolbar/index.ts
  tests/ct/scenarios/v2/types.ts
  tests/ct/scenarios/v2/version-history/index.ts
Due: biome-check

ci: harden a11y/round-trip CT configs; defer their PR-gating
  .claude/rules/testing.md
  .github/workflows/ci.yml
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/vue/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright-ct.config.ts
Due: biome-check

ci: harden a11y/round-trip CT configs; defer their PR-gating (#629)
  .claude/rules/testing.md
  .github/workflows/ci.yml
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/vue/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright-ct.config.ts
Due: biome-check

refactor: AST React view-line metric and reactivity-primitive checks
  scripts/check-adr-compliance.ts
Due: biome-check

refactor: AST React view-line metric and reactivity-primitive checks (#631)
  scripts/check-adr-compliance.ts
Due: biome-check

docs: clear comment rot, dangling references, and ADR-0009 narrative drift
  .claude/rules/packages/react.md
  .claude/rules/packages/vue.md
  .claude/rules/testing.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0013-adr-compliance-harness.md
  packages/svelte/src/index.ts
  scripts/check-adr-compliance.ts
Due: biome-check, typecheck-svelte

docs: clear comment rot, dangling references, and ADR-0009 narrative drift (#632)
  .claude/rules/packages/react.md
  .claude/rules/packages/vue.md
  .claude/rules/testing.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0013-adr-compliance-harness.md
  packages/svelte/src/index.ts
  scripts/check-adr-compliance.ts
Due: biome-check, typecheck-svelte

feat(core): statically enforce the manifest ARIA/keyboard contract
  .claude/rules/feature-manifest.md
  .github/workflows/quality.yml
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  lefthook.yml
  package.json
  packages/core/src/feature-manifest.ts
  scripts/check-aria-contract.ts
Due: biome-check, typecheck-core

feat(core): statically enforce the manifest ARIA/keyboard contract (#633)
  .claude/rules/feature-manifest.md
  .github/workflows/quality.yml
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  lefthook.yml
  package.json
  packages/core/src/feature-manifest.ts
  scripts/check-aria-contract.ts
Due: biome-check, typecheck-core

fix(core): surface upload failures through onError and type raw throws
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/image.ts
  packages/core/src/plugin-system.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/lazy-import.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
  tests/ct/react/specs/UploadError.spec.tsx
  tests/ct/react/specs/UploadErrorFixture.tsx
  tests/ct/scenarios/error-model.scenario.ts
  tests/ct/svelte/specs/UploadError.spec.ts
  tests/ct/svelte/specs/UploadErrorFixture.svelte
  tests/ct/vue/specs/UploadError.spec.ts
  tests/ct/vue/specs/UploadErrorFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix(core): surface upload failures through onError and type raw throws (#634)
  .claude/rules/packages/core.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/image.ts
  packages/core/src/plugin-system.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/lazy-import.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
  tests/ct/react/specs/UploadError.spec.tsx
  tests/ct/react/specs/UploadErrorFixture.tsx
  tests/ct/scenarios/error-model.scenario.ts
  tests/ct/svelte/specs/UploadError.spec.ts
  tests/ct/svelte/specs/UploadErrorFixture.svelte
  tests/ct/vue/specs/UploadError.spec.ts
  tests/ct/vue/specs/UploadErrorFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): remove the legacy slash-items command system
  docs/guide/migration-v1-to-v2.md
  docs/superpowers/plans/2026-05-19-vizel-v2-section-09-command-unification.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/commands/types.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/keyboard.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): remove the legacy slash-items command system (#635)
  docs/guide/migration-v1-to-v2.md
  docs/superpowers/plans/2026-05-19-vizel-v2-section-09-command-unification.md
  packages/core/src/builders/index.ts
  packages/core/src/builders/slash-menu.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/commands/types.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/keyboard.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(react): selector receives the {editor,transaction} snapshot
  apps/demo/react/src/App.tsx
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  packages/react/package.json
  packages/react/src/_reactivity.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/_reactivity.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
  tests/ct/react/specs/UseVizelEditorState.spec.tsx
  tests/ct/react/specs/UseVizelEditorStateFixture.tsx
  tests/ct/scenarios/use-vizel-editor-state.scenario.ts
  tests/ct/svelte/specs/CreateVizelEditorState.spec.ts
  tests/ct/svelte/specs/CreateVizelEditorStateInner.svelte
  tests/ct/vue/specs/UseVizelEditorState.spec.ts
  tests/ct/vue/specs/UseVizelEditorStateFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(react): selector receives the {editor,transaction} snapshot (#636)
  apps/demo/react/src/App.tsx
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  packages/react/package.json
  packages/react/src/_reactivity.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/_reactivity.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
  tests/ct/react/specs/UseVizelEditorState.spec.tsx
  tests/ct/react/specs/UseVizelEditorStateFixture.tsx
  tests/ct/scenarios/use-vizel-editor-state.scenario.ts
  tests/ct/svelte/specs/CreateVizelEditorState.spec.ts
  tests/ct/svelte/specs/CreateVizelEditorStateInner.svelte
  tests/ct/vue/specs/UseVizelEditorState.spec.ts
  tests/ct/vue/specs/UseVizelEditorStateFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte
