Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

build(react,vue,svelte): declare @tiptap/extension-* as peerDependencies (#520)
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

ci: replace removed test:ssr with check:ssr lint-only step (#536)
  .github/workflows/ci.yml
Due: none

fix(vue,svelte): make editable prop reactive in useVizelEditor / createVizelEditor (#517)
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): wire VizelLinkEditor / VizelFindReplace to context (#521)
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat: remove VizelMinimap, consolidate on VizelOutline (#534)
  .claude/rules/cross-framework.md
  .claude/rules/testing.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/builders/index.ts
  packages/core/src/builders/minimap.ts
  packages/core/src/controllers/index.ts
  packages/core/src/controllers/pageScrollListener.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/minimap-render.ts
  packages/react/src/components/VizelMinimap.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMinimap.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelMinimap.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/Minimap.spec.tsx
  tests/ct/react/specs/MinimapFixture.tsx
  tests/ct/scenarios/minimap.scenario.ts
  tests/ct/svelte/specs/Minimap.spec.ts
  tests/ct/svelte/specs/MinimapFixture.svelte
  tests/ct/vue/specs/Minimap.spec.ts
  tests/ct/vue/specs/MinimapFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): replace markdown reentrancy flag with value comparison (#524)
  packages/react/src/components/Vizel.tsx
  packages/react/src/hooks/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core,react,vue,svelte): move VizelBubbleMenu Escape listener into core controller (#522)
  packages/core/src/controllers/bubbleMenuEscapeController.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix(core,react,vue,svelte): replay initialValue updates and SSR-guard rAF in useVizelMarkdown
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/raf.ts
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): expose the bound editor on VizelExposed (#523)
  packages/react/src/components/VizelEditor.tsx
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(core,react,vue,svelte,docs): rethrow init VizelError even when onError is set (#519)
  .claude/rules/demo.md
  .gitignore
  docs/guide/troubleshooting.md
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(core,react,vue,svelte): replay initialValue updates and SSR-guard rAF in useVizelMarkdown (#518)
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/raf.ts
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore(deps): bulk update all dependencies after v2 polish series
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  docs/.vitepress/config.mts
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(vue): always forward errors via error emit and seed v-model:markdown on mount
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-vue

fix(vue): always forward errors via error emit and seed v-model:markdown on mount (#538)
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-vue

fix(demo): wire ThemeToggle System button so it actually re-enters system mode
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
Due: biome-check

fix(react): route VizelBlockMenu rAF calls through SSR-safe helper
  packages/react/src/components/VizelBlockMenu.tsx
Due: biome-check, typecheck-react

fix(react): route VizelBlockMenu rAF calls through SSR-safe helper (#540)
  packages/react/src/components/VizelBlockMenu.tsx
Due: biome-check, typecheck-react

fix(demo): wire ThemeToggle System button so it actually re-enters system mode (#539)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
Due: biome-check

chore(deps): keep playwright family at ~1.58.2 (@playwright/experimental-ct-svelte gate)
  package.json
  pnpm-lock.yaml
Due: biome-check

chore(deps): bulk update all dependencies after v2 polish series (#537)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  docs/.vitepress/config.mts
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(react,vue,svelte): throw VizelError(MISSING_CONTEXT) from context hooks
  packages/react/src/components/VizelContext.tsx
  packages/svelte/src/components/VizelContext.ts
  packages/vue/src/components/VizelContext.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): throw VizelError(MISSING_CONTEXT) from context hooks (#541)
  packages/react/src/components/VizelContext.tsx
  packages/svelte/src/components/VizelContext.ts
  packages/vue/src/components/VizelContext.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

docs: fix drift in troubleshooting, theming, and SSR guides
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

fix(react): drop render-time ref mutation and guard BlockMenu rAF in strict mode
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/hooks/useVizelAutoSave.ts
Due: biome-check, typecheck-react

fix: tighten Vizel.vue embed prop and Svelte floating-promise voids
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-vue, typecheck-svelte

docs: fix drift in troubleshooting, theming, and SSR guides (#542)
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/troubleshooting.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

fix(core): align bullet, ordered, and task list indents
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/editor.scss
  packages/core/src/styles/task-list.scss
Due: none

fix(react): drop render-time ref mutation and guard BlockMenu rAF in strict mode (#543)
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/hooks/useVizelAutoSave.ts
Due: biome-check, typecheck-react

fix(core): align bullet, ordered, and task list indents (#545)
  packages/core/src/styles/_block-hierarchy.scss
  packages/core/src/styles/editor.scss
  packages/core/src/styles/task-list.scss
Due: none

fix: tighten Vizel.vue embed prop and Svelte floating-promise voids (#544)
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-vue, typecheck-svelte

fix(react,svelte): document or implement on* callback freshness
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/components/Vizel.svelte
Due: biome-check, typecheck-react, typecheck-svelte

fix(react,svelte): document or implement on* callback freshness (#546)
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/components/Vizel.svelte
Due: biome-check, typecheck-react, typecheck-svelte

fix(svelte): void-prefix the remaining floating tick() in VizelFindReplace
  packages/svelte/src/components/VizelFindReplace.svelte
Due: biome-check, typecheck-svelte

fix(svelte): void-prefix the remaining floating tick() in VizelFindReplace (#547)
  packages/svelte/src/components/VizelFindReplace.svelte
Due: biome-check, typecheck-svelte

fix(react,vue,svelte): guard slash menu and toolbar dropdown nav on empty items
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): guard slash menu and toolbar dropdown nav on empty items (#548)
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): guard mention menu Enter and trim Vizel root class
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): guard mention menu Enter and trim Vizel root class (#549)
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

ci: gate PRs on lint, typecheck, parity, no-let, and build
  .github/workflows/ci.yml
  biome.json
  package.json
  packages/core/src/markdown/flavors/compose.ts
  scripts/postprocess-typedoc.ts
Due: biome-check, typecheck-core

ci: gate PRs on lint, typecheck, parity, no-let, and build (#550)
  .github/workflows/ci.yml
  biome.json
  package.json
  packages/core/src/markdown/flavors/compose.ts
  scripts/postprocess-typedoc.ts
Due: biome-check, typecheck-core
