Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

fix(react): use index for block-menu group key to match Vue/Svelte
  packages/react/src/components/VizelBlockMenu.tsx
Due: biome-check, typecheck-react

fix(core): throw on conflicting initialContent + initialMarkdown options
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/errorHandling.ts
Due: biome-check, typecheck-core

fix(vue): react to all theme-provider inputs and memoize locale props
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelThemeProvider.vue
Due: biome-check, typecheck-vue

docs(core,vue): tighten editable/autofocus jsdoc and fix vue import extensions
  packages/core/src/types.ts
  packages/vue/src/components/VizelIcon.vue
  packages/vue/src/components/VizelThemeProvider.vue
Due: biome-check, typecheck-core, typecheck-vue

fix: v2.x parity polish batch (M17, L14, M19, M4, M16, H5) (#420)
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/errorHandling.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelIcon.vue
  packages/vue/src/components/VizelThemeProvider.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue

docs(guide): replace VizelPortal container prop with layer in framework guides
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
Due: none

docs(guide): replace VizelPortal container prop with layer in framework guides (#421)
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
Due: none

fix(a11y): give VizelMentionMenu container proper listbox semantics
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(a11y): give VizelMentionMenu container proper listbox semantics (#422)
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract mountVizelEditorView to core
  packages/core/src/index.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/components/VizelEditor.tsx
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract mountVizelEditorView to core (#423)
  packages/core/src/index.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/components/VizelEditor.tsx
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: lift bubble-menu action list into @vizel/core
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/vue/src/components/VizelBubbleMenuDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: lift bubble-menu action list into @vizel/core (#424)
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/vue/src/components/VizelBubbleMenuDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(svelte): convert provider context to { get current() } accessor
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelToolbar.svelte
Due: biome-check, typecheck-svelte

refactor(svelte): convert provider context to { get current() } accessor (#425)
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelContext.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelToolbar.svelte
Due: biome-check, typecheck-svelte

docs(v2): add changelog and document the new core helpers
  CHANGELOG.md
  docs/api/core.md
Due: none

docs(v2): add changelog and document the new core helpers (#426)
  CHANGELOG.md
  docs/api/core.md
Due: none

feat(i18n,docs): add locale.mentionMenu, fix markdown debounce=0 cleanup, expand framework guides
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/utils/markdown.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(i18n,docs): add locale.mentionMenu, fix markdown debounce=0 cleanup, expand framework guides (#427)
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/types.ts
  packages/core/src/utils/markdown.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: cover VizelEditor provider fallback, Svelte $state factories, and renderer slots
  .claude/rules/cross-framework.md
  .claude/rules/packages/svelte.md
  docs/guide/react.md
Due: none

docs: cover VizelEditor provider fallback, Svelte $state factories, and renderer slots (#428)
  .claude/rules/cross-framework.md
  .claude/rules/packages/svelte.md
  docs/guide/react.md
Due: none

refactor: rename VizelSlashMenuRendererOptions to VizelSuggestionRendererOptions
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: rename VizelSlashMenuRendererOptions to VizelSuggestionRendererOptions (#429)
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/createVizelSlashMenuRenderer.ts
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.svelte.ts
  packages/svelte/src/runes/createVizelSlashMenuRenderer.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/createVizelSlashMenuRenderer.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract React useLatest helper and adopt dismissible controller in Vue block menu
  packages/react/src/components/Vizel.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useLatest.ts
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-react, typecheck-vue

refactor: extract React useLatest helper and adopt dismissible controller in Vue block menu (#430)
  packages/react/src/components/Vizel.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useLatest.ts
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-react, typecheck-vue

chore(deps): refresh dependencies via taze and pin playwright stack
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

chore(deps): refresh dependencies via taze and pin playwright stack (#431)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

refactor(core): add required id field to VizelSlashCommandItem
  packages/core/src/commands/slash-items.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): add required id field to VizelSlashCommandItem (#432)
  packages/core/src/commands/slash-items.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: document the state subscription tick rationale and fix useVizelMarkdown jsdoc
  .claude/rules/cross-framework.md
  packages/react/src/hooks/useVizelMarkdown.ts
Due: biome-check, typecheck-react

docs: document the state subscription tick rationale and fix useVizelMarkdown jsdoc (#433)
  .claude/rules/cross-framework.md
  packages/react/src/hooks/useVizelMarkdown.ts
Due: biome-check, typecheck-react

fix(core): surface slash command upload-image delete failures via console.warn
  packages/core/src/commands/slash-items.ts
Due: biome-check, typecheck-core

fix(core): surface slash command upload-image delete failures via console.warn (#436)
  packages/core/src/commands/slash-items.ts
Due: biome-check, typecheck-core

refactor(react): convert Vizel toolbarContent and bubbleMenuContent to render props
  docs/guide/react.md
  packages/react/src/components/Vizel.tsx
Due: biome-check, typecheck-react

refactor(react): convert Vizel toolbarContent and bubbleMenuContent to render props (#435)
  docs/guide/react.md
  packages/react/src/components/Vizel.tsx
Due: biome-check, typecheck-react

refactor: extract VizelMentionMenu DOM skeleton into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/mention-menu.ts
  packages/core/src/skeletons/types.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelMentionMenu DOM skeleton into @vizel/core (#437)
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/mention-menu.ts
  packages/core/src/skeletons/types.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/vue/src/components/VizelMentionMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelSlashMenu DOM skeleton into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/slash-menu.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelSlashMenu DOM skeleton into @vizel/core (#438)
  packages/core/src/index.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/slash-menu.ts
  packages/react/src/components/VizelSlashMenu.tsx
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/vue/src/components/VizelSlashMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: extract VizelBlockMenu DOM skeleton into @vizel/core
  packages/core/src/index.ts
  packages/core/src/skeletons/block-menu.ts
  packages/core/src/skeletons/index.ts
  packages/core/src/skeletons/types.ts
  packages/react/src/components/VizelBlockMenu.tsx
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/vue/src/components/VizelBlockMenu.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte
