Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: pnpm --filter @vizel/core typecheck

typecheck-react:
  run: pnpm --filter @vizel/react typecheck

typecheck-vue:
  run: pnpm --filter @vizel/vue typecheck

typecheck-svelte:
  run: pnpm --filter @vizel/svelte typecheck

fix(react,vue,svelte): align theme/context errors and VizelNodeSelector ergonomics
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/hooks/useVizelTheme.ts
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/runes/getVizelTheme.ts
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): align theme/context errors and VizelNodeSelector ergonomics (#551)
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/hooks/useVizelTheme.ts
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/runes/getVizelTheme.ts
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(react,vue,svelte): rename VizelExposed to VizelEditorRef
  .claude/rules/cross-framework.md
  docs/guide/react.md
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(react,vue,svelte): rename VizelExposed to VizelEditorRef (#552)
  .claude/rules/cross-framework.md
  docs/guide/react.md
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): add resetToSystem to theme hook/composable/rune
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
  packages/react/src/hooks/useVizelTheme.ts
  packages/svelte/src/runes/getVizelTheme.ts
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): add resetToSystem to theme hook/composable/rune (#553)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
  packages/react/src/hooks/useVizelTheme.ts
  packages/svelte/src/runes/getVizelTheme.ts
  packages/vue/src/composables/useVizelTheme.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): mention menu renderer seams and JSDoc wording
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelOutline.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(react,vue,svelte): mention menu renderer seams and JSDoc wording (#554)
  .claude/rules/cross-framework.md
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/VizelOutline.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/VizelOutline.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: hostile-review polish across the three framework packages
  packages/react/src/components/VizelIcon.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/src/hooks/useLatest.ts
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelOutlineItems.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: hostile-review polish across the three framework packages (#555)
  packages/react/src/components/VizelIcon.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/src/hooks/useLatest.ts
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/components/VizelOutline.vue
  packages/vue/src/components/VizelOutlineItems.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): re-register BubbleMenu plugin on shouldShow toggle
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte): re-register BubbleMenu plugin on shouldShow toggle (#556)
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte,core): drop duplicate id from VizelLinkEditor embed toggle
  packages/core/src/styles/embed.scss
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(react,vue,svelte,core): drop duplicate id from VizelLinkEditor embed toggle (#557)
  packages/core/src/styles/embed.scss
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

docs: add ADR-0001..0012 for v2 idiomatic-API breaking rebuild
  docs/adr/ADR-0001-feature-parity-over-api-symmetry.md
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0005-v2-breaking-release.md
  docs/adr/ADR-0006-retire-cross-framework-rule.md
  docs/adr/ADR-0007-component-size-and-controller-delegation.md
  docs/adr/ADR-0008-css-belongs-in-core.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0010-claude-config-official-format.md
  docs/adr/ADR-0011-technical-writing-style.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  docs/adr/README.md
Due: none

docs: add ADR-0001..0012 for v2 idiomatic-API breaking rebuild (#558)
  docs/adr/ADR-0001-feature-parity-over-api-symmetry.md
  docs/adr/ADR-0002-feature-manifest-as-parity-ssot.md
  docs/adr/ADR-0003-vizel-headless-package.md
  docs/adr/ADR-0004-per-framework-idiomatic-api.md
  docs/adr/ADR-0005-v2-breaking-release.md
  docs/adr/ADR-0006-retire-cross-framework-rule.md
  docs/adr/ADR-0007-component-size-and-controller-delegation.md
  docs/adr/ADR-0008-css-belongs-in-core.md
  docs/adr/ADR-0009-first-party-editor-reactivity.md
  docs/adr/ADR-0010-claude-config-official-format.md
  docs/adr/ADR-0011-technical-writing-style.md
  docs/adr/ADR-0012-playwright-ct-three-layer-rebuild.md
  docs/adr/README.md
Due: none

chore: align .claude/ artefacts with official Claude Code format
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/feature-manifest.md
  .claude/rules/packages/headless.md
  .claude/rules/writing.md
  .claude/settings.json
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/lint-instructions/examples.md
  .claude/skills/lint-instructions/reference.md
  .claude/skills/test/SKILL.md
  .claude/skills/test/examples.md
  .claude/skills/test/reference.md
  CLAUDE.md
Due: biome-check

feat(core): add feature manifest as the cross-framework parity SSOT
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/core/src/feature-manifest.ts
  packages/core/src/index.ts
  scripts/check-feature-parity.ts
Due: biome-check, typecheck-core

test(ct): land the v2 scenario foundation under tests/ct/scenarios/v2/
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  tests/ct/parity/check-scenarios.ts
  tests/ct/scenarios/v2/auto-save/index.ts
  tests/ct/scenarios/v2/block-menu/index.ts
  tests/ct/scenarios/v2/bubble-menu/index.ts
  tests/ct/scenarios/v2/collaboration/index.ts
  tests/ct/scenarios/v2/color-picker/index.ts
  tests/ct/scenarios/v2/comment/index.ts
  tests/ct/scenarios/v2/editor-core/index.ts
  tests/ct/scenarios/v2/embed-view/index.ts
  tests/ct/scenarios/v2/find-replace/index.ts
  tests/ct/scenarios/v2/icon/index.ts
  tests/ct/scenarios/v2/index.ts
  tests/ct/scenarios/v2/link-editor/index.ts
  tests/ct/scenarios/v2/mention-menu/index.ts
  tests/ct/scenarios/v2/node-selector/index.ts
  tests/ct/scenarios/v2/outline/index.ts
  tests/ct/scenarios/v2/portal/index.ts
  tests/ct/scenarios/v2/provider/index.ts
  tests/ct/scenarios/v2/save-indicator/index.ts
  tests/ct/scenarios/v2/slash-menu/index.ts
  tests/ct/scenarios/v2/theme/index.ts
  tests/ct/scenarios/v2/toolbar-dropdown/index.ts
  tests/ct/scenarios/v2/toolbar-overflow/index.ts
  tests/ct/scenarios/v2/toolbar/index.ts
  tests/ct/scenarios/v2/types.ts
  tests/ct/scenarios/v2/version-history/index.ts
Due: biome-check

feat(headless): scaffold @vizel/headless with the dismissable primitive
  packages/headless/package.json
  packages/headless/src/dismissable/index.ts
  packages/headless/src/index.ts
  packages/headless/tsconfig.json
  packages/headless/vite.config.ts
  pnpm-lock.yaml
Due: biome-check

feat(headless): scaffold @vizel/headless with the dismissable primitive (#562)
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/core/src/feature-manifest.ts
  packages/core/src/index.ts
  packages/headless/package.json
  packages/headless/src/dismissable/index.ts
  packages/headless/src/index.ts
  packages/headless/tsconfig.json
  packages/headless/vite.config.ts
  pnpm-lock.yaml
  scripts/check-feature-parity.ts
  tests/ct/parity/check-scenarios.ts
  tests/ct/scenarios/v2/auto-save/index.ts
  tests/ct/scenarios/v2/block-menu/index.ts
  tests/ct/scenarios/v2/bubble-menu/index.ts
  tests/ct/scenarios/v2/collaboration/index.ts
  tests/ct/scenarios/v2/color-picker/index.ts
  tests/ct/scenarios/v2/comment/index.ts
  tests/ct/scenarios/v2/editor-core/index.ts
  tests/ct/scenarios/v2/embed-view/index.ts
  tests/ct/scenarios/v2/find-replace/index.ts
  tests/ct/scenarios/v2/icon/index.ts
  tests/ct/scenarios/v2/index.ts
  tests/ct/scenarios/v2/link-editor/index.ts
  tests/ct/scenarios/v2/mention-menu/index.ts
  tests/ct/scenarios/v2/node-selector/index.ts
  tests/ct/scenarios/v2/outline/index.ts
  tests/ct/scenarios/v2/portal/index.ts
  tests/ct/scenarios/v2/provider/index.ts
  tests/ct/scenarios/v2/save-indicator/index.ts
  tests/ct/scenarios/v2/slash-menu/index.ts
  tests/ct/scenarios/v2/theme/index.ts
  tests/ct/scenarios/v2/toolbar-dropdown/index.ts
  tests/ct/scenarios/v2/toolbar-overflow/index.ts
  tests/ct/scenarios/v2/toolbar/index.ts
  tests/ct/scenarios/v2/types.ts
  tests/ct/scenarios/v2/version-history/index.ts
Due: biome-check, typecheck-core

feat(react): add useSyncExternalStore-backed reactivity primitive
  apps/demo/react/src/App.tsx
  packages/core/src/index.ts
  packages/core/src/utils/equality.ts
  packages/core/src/utils/index.ts
  packages/react/src/_reactivity.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(react): add useSyncExternalStore-backed reactivity primitive (#563)
  apps/demo/react/src/App.tsx
  packages/core/src/index.ts
  packages/core/src/utils/equality.ts
  packages/core/src/utils/index.ts
  packages/react/src/_reactivity.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(vue): add useVizelEditorState backed by shallowRef and onScopeDispose
  apps/demo/vue/src/App.vue
  packages/vue/package.json
  packages/vue/src/_reactivity.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-vue

feat(svelte): add createVizelEditorState rune backed by createSubscriber
  apps/demo/svelte/src/App.svelte
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
Due: biome-check, typecheck-svelte

feat(vue): add useVizelEditorState backed by shallowRef and onScopeDispose (#565)
  apps/demo/react/src/App.tsx
  apps/demo/vue/src/App.vue
  packages/core/src/index.ts
  packages/core/src/utils/equality.ts
  packages/core/src/utils/index.ts
  packages/react/src/_reactivity.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/package.json
  packages/vue/src/_reactivity.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: add ADR compliance harness and phase-review subagent
  .claude/agents/phase-review.md
  .github/workflows/ci.yml
  docs/adr/ADR-0013-adr-compliance-harness.md
  docs/adr/README.md
  lefthook.yml
  package.json
  scripts/check-adr-compliance.ts
Due: biome-check

chore: align .claude/ artefacts with official Claude Code format (#559)
  .claude/agents/cross-framework-reviewer.md
  .claude/rules/architecture.md
  .claude/rules/cross-framework.md
  .claude/rules/feature-manifest.md
  .claude/rules/packages/headless.md
  .claude/rules/writing.md
  .claude/settings.json
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/lint-instructions/examples.md
  .claude/skills/lint-instructions/reference.md
  .claude/skills/test/SKILL.md
  .claude/skills/test/examples.md
  .claude/skills/test/reference.md
  CLAUDE.md
Due: biome-check

chore: replace tsx with Node native TS execution and move pnpm overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/vue/playwright-ct.config.ts
  tests/ct/react/playwright-ct.config.ts
  tests/ct/svelte/playwright-ct.config.ts
  tests/ct/vue/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright-ct.config.ts
  tests/visual/playwright-ct.config.ts
Due: biome-check

fix(svelte): reset transaction snapshot on editor identity change and add selector tests
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/UseVizelEditorState.spec.tsx
  tests/ct/react/specs/UseVizelEditorStateFixture.tsx
  tests/ct/scenarios/use-vizel-editor-state.scenario.ts
  tests/ct/svelte/specs/CreateVizelEditorState.spec.ts
  tests/ct/svelte/specs/CreateVizelEditorStateFixture.svelte
  tests/ct/svelte/specs/CreateVizelEditorStateInner.svelte
  tests/ct/vue/specs/UseVizelEditorState.spec.ts
  tests/ct/vue/specs/UseVizelEditorStateFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core,react,vue,svelte): centralise CSS catalogue in @vizel/core
  packages/react/package.json
  packages/react/scripts/copy-styles.mjs
  packages/react/scripts/write-style-shims.mjs
  packages/svelte/package.json
  packages/svelte/scripts/copy-styles.mjs
  packages/svelte/scripts/write-style-shims.mjs
  packages/vue/package.json
  packages/vue/scripts/copy-styles.mjs
  packages/vue/scripts/write-style-shims.mjs
Due: biome-check

docs: add v1-to-v2 migration guide and refresh demos
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/.vitepress/config.mts
  docs/guide/getting-started-react.md
  docs/guide/getting-started-svelte.md
  docs/guide/getting-started-vue.md
  docs/guide/migration-v1-to-v2.md
Due: biome-check

ci: gate A11y matrix on manual dispatch to unblock the merge queue
  .github/workflows/ci.yml
Due: none

ci: gate A11y matrix on manual dispatch to unblock the merge queue (#575)
  .github/workflows/ci.yml
Due: none

chore: replace tsx with Node native TS execution and move pnpm overrides (#568)
  .claude/agents/phase-review.md
  .github/workflows/ci.yml
  docs/adr/ADR-0013-adr-compliance-harness.md
  docs/adr/README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-adr-compliance.ts
  tests/a11y/react/playwright-ct.config.ts
  tests/a11y/svelte/playwright-ct.config.ts
  tests/a11y/vue/playwright-ct.config.ts
  tests/ct/react/playwright-ct.config.ts
  tests/ct/svelte/playwright-ct.config.ts
  tests/ct/vue/playwright-ct.config.ts
  tests/markdown-roundtrip/playwright-ct.config.ts
  tests/visual/playwright-ct.config.ts
Due: biome-check

refactor(react): route document listeners through @vizel/headless
  packages/core/src/controllers/blockMenuTrigger.ts
  packages/core/src/controllers/index.ts
  packages/core/src/index.ts
  packages/react/package.json
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelBubbleMenuColorPicker.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-react

fix(ct): add @vizel/headless alias to React CT and A11y configs
  tests/a11y/react/playwright-ct.config.ts
  tests/ct/react/playwright-ct.config.ts
Due: biome-check

docs(react): record captureEscape rationale on dismissable call-sites
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
Due: biome-check, typecheck-react

fix(scripts): tighten ADR compliance harness regexes and coverage
  scripts/check-adr-compliance.ts
Due: biome-check

docs: add v1-to-v2 migration guide and refresh demos (#573)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/.vitepress/config.mts
  docs/guide/getting-started-react.md
  docs/guide/getting-started-svelte.md
  docs/guide/getting-started-vue.md
  docs/guide/migration-v1-to-v2.md
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
