Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: bunx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: bun run --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: bun run --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: bun run --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: bun run --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: bun run lint

    typecheck:
      run: bun run typecheck

fix(ci): add missing lint scripts and dependencies
  bun.lock
  package.json
Due: biome-check

fix(ci): add missing lint scripts and dependencies (#42)
  bun.lock
  package.json
Due: biome-check

feat: add npm build configuration for packages
  .gitignore
  biome.json
  bun.lock
  package.json
  packages/core/package.json
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/vite.config.ts
  packages/svelte/package.json
  packages/svelte/svelte.config.js
  packages/vue/package.json
  packages/vue/vite.config.ts
Due: biome-check

feat: add npm build configuration for packages (#44)
  .gitignore
  biome.json
  bun.lock
  package.json
  packages/core/package.json
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/vite.config.ts
  packages/svelte/package.json
  packages/svelte/svelte.config.js
  packages/vue/package.json
  packages/vue/vite.config.ts
Due: biome-check

fix(ci): build packages before typecheck
  .github/workflows/ci.yml
Due: none

fix(ci): build packages before typecheck (#45)
  .github/workflows/ci.yml
Due: none

fix(ci): reorder to lint/typecheck -> build
  .github/workflows/ci.yml
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix(ci): reorder to lint/typecheck -> build (#46)
  .github/workflows/ci.yml
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

chore(vue): update vue-tsc to v3
  bun.lock
  packages/vue/package.json
Due: biome-check

chore(vue): update vue-tsc to v3 (#47)
  bun.lock
  packages/vue/package.json
Due: biome-check

feat(core): implement image upload with drag-and-drop
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/plugins/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

fix(demo): align React/Vue/Svelte demos and fix EditorContent components
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/tsconfig.json
  apps/demo/svelte/index.html
  apps/demo/svelte/package.json
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/entry.ts
  apps/demo/svelte/src/main.ts
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/svelte.config.js
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/index.html
  apps/demo/vue/package.json
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/entry.ts
  apps/demo/vue/src/main.ts
  apps/demo/vue/src/styles.css
  apps/demo/vue/vite.config.ts
  biome.json
  bun.lock
  package.json
  packages/react/src/components/EditorContent.tsx
  packages/svelte/src/components/EditorContent.svelte
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/EditorContent.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement image upload with drag-and-drop (#48)
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/tsconfig.json
  apps/demo/svelte/index.html
  apps/demo/svelte/package.json
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/entry.ts
  apps/demo/svelte/src/main.ts
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/svelte.config.js
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/index.html
  apps/demo/vue/package.json
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/entry.ts
  apps/demo/vue/src/main.ts
  apps/demo/vue/src/styles.css
  apps/demo/vue/vite.config.ts
  biome.json
  bun.lock
  package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/plugins/index.ts
  packages/react/src/components/EditorContent.tsx
  packages/react/src/index.ts
  packages/svelte/src/components/EditorContent.svelte
  packages/svelte/src/index.ts
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/EditorContent.vue
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement image resize functionality
  packages/core/src/extensions/image-resize.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/editor.css
  packages/core/src/styles/image.css
  packages/core/src/styles/index.css
  packages/core/src/styles/link.css
  packages/core/src/styles/placeholder.css
  packages/core/src/styles/slash-menu.css
  packages/core/src/styles/table.css
  packages/core/src/styles/variables.css
  packages/core/src/types.ts
  packages/react/src/components/SlashMenu.tsx
Due: biome-check, typecheck-core, typecheck-react

feat(core): implement image resize functionality (#49)
  packages/core/src/extensions/image-resize.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/editor.css
  packages/core/src/styles/image.css
  packages/core/src/styles/index.css
  packages/core/src/styles/link.css
  packages/core/src/styles/placeholder.css
  packages/core/src/styles/slash-menu.css
  packages/core/src/styles/table.css
  packages/core/src/styles/variables.css
  packages/core/src/types.ts
  packages/react/src/components/SlashMenu.tsx
Due: biome-check, typecheck-core, typecheck-react

feat: improve CSS architecture and slash menu integration
  apps/demo/react/package.json
  apps/demo/react/server.ts
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/vite.config.ts
  apps/demo/svelte/server.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/server.ts
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/styles.css
  biome.json
  bun.lock
  package.json
  packages/core/src/commands/slash-items.ts
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/index.ts
  packages/svelte/src/runes/index.ts
  packages/svelte/src/runes/useVizelEditor.svelte.ts
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-vue, typecheck-svelte

feat: improve CSS architecture and slash menu integration (#50)
  apps/demo/react/package.json
  apps/demo/react/server.ts
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/vite.config.ts
  apps/demo/svelte/server.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/server.ts
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/styles.css
  biome.json
  bun.lock
  package.json
  packages/core/src/commands/slash-items.ts
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/index.ts
  packages/svelte/src/runes/index.ts
  packages/svelte/src/runes/useVizelEditor.svelte.ts
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/composables/useVizelEditor.ts
Due: biome-check, typecheck-core, typecheck-vue, typecheck-svelte

ci: add PR automation workflows
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-labeler.yml
Due: none

ci: add PR automation workflows (#51)
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-labeler.yml
Due: none

refactor(core): replace @tiptap/starter-kit with individual packages
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/vite.config.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: add Claude Code project rules and guidelines
  .claude/CLAUDE.md
  .claude/rules/code-style.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
Due: none

docs: add Claude Code project rules and guidelines (#53)
  .claude/CLAUDE.md
  .claude/rules/code-style.md
  .claude/rules/demo.md
  .claude/rules/git.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
Due: none

chore: update Biome and TSConfig settings
  biome.json
  tsconfig.json
Due: biome-check

chore: enable exactOptionalPropertyTypes
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/utils/editorHelpers.ts
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/hooks/createSlashMenuRenderer.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/runes/createSlashMenuRenderer.ts
  packages/svelte/src/runes/useVizelEditor.svelte.ts
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/composables/createSlashMenuRenderer.ts
  packages/vue/src/composables/useVizelEditor.ts
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: add cross-framework rules and lint-instructions skill
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
  .claude/skills/lint-instructions/SKILL.md
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  biome.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/variables.css
  packages/core/src/utils/editorHelpers.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createSlashMenuRenderer.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: enhance Biome config and add cross-framework guidelines (#54)
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/packages/core.md
  .claude/rules/packages/react.md
  .claude/rules/packages/svelte.md
  .claude/rules/packages/vue.md
  .claude/skills/lint-instructions/SKILL.md
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  biome.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/src/plugins/image-upload.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/variables.css
  packages/core/src/utils/editorHelpers.ts
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/hooks/createSlashMenuRenderer.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/react/src/index.ts
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createSlashMenuRenderer.ts
  packages/svelte/src/runes/useVizelEditor.svelte.ts
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/composables/createSlashMenuRenderer.ts
  packages/vue/src/composables/useVizelEditor.ts
  packages/vue/src/index.ts
  tsconfig.json
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Markdown import/export support
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/markdown.ts
  packages/core/src/extensions/starter-kit.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  tests/ct/react/specs/Markdown.spec.tsx
  tests/ct/react/specs/MarkdownFixture.tsx
  tests/ct/scenarios/markdown.scenario.ts
  tests/ct/svelte/specs/Markdown.spec.ts
  tests/ct/svelte/specs/MarkdownFixture.svelte
  tests/ct/vue/specs/Markdown.spec.ts
  tests/ct/vue/specs/MarkdownFixture.vue
Due: biome-check, typecheck-core

feat(demo): add Markdown import/export UI and refactor shared modules
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/tsconfig.json
  apps/demo/shared/content.ts
  apps/demo/shared/styles/base.css
  apps/demo/shared/utils.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/tsconfig.json
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/styles.css
  apps/demo/vue/tsconfig.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
Due: biome-check, typecheck-core

feat(core): add Markdown import/export support (#56)
  apps/demo/react/src/App.tsx
  apps/demo/react/src/styles.css
  apps/demo/react/tsconfig.json
  apps/demo/shared/content.ts
  apps/demo/shared/styles/base.css
  apps/demo/shared/utils.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/styles.css
  apps/demo/svelte/tsconfig.json
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/styles.css
  apps/demo/vue/tsconfig.json
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/markdown.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  tests/ct/react/specs/Markdown.spec.tsx
  tests/ct/react/specs/MarkdownFixture.tsx
  tests/ct/scenarios/markdown.scenario.ts
  tests/ct/svelte/specs/Markdown.spec.ts
  tests/ct/svelte/specs/MarkdownFixture.svelte
  tests/ct/vue/specs/Markdown.spec.ts
  tests/ct/vue/specs/MarkdownFixture.vue
Due: biome-check, typecheck-core

feat(core): add task list extension with checkbox support
  apps/demo/shared/content.ts
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/task-list.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/task-list.css
  packages/core/src/types.ts
  tests/ct/react/specs/Editor.spec.tsx
  tests/ct/react/specs/SlashMenu.spec.tsx
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/scenarios/slash-menu.scenario.ts
  tests/ct/svelte/specs/Editor.spec.ts
  tests/ct/svelte/specs/SlashMenu.spec.ts
  tests/ct/vue/specs/Editor.spec.ts
  tests/ct/vue/specs/SlashMenu.spec.ts
Due: biome-check, typecheck-core

fix(core): correct task list CSS layout
  packages/core/src/styles/task-list.css
Due: none

fix(core): improve task list checkbox vertical alignment
  packages/core/src/styles/task-list.css
Due: none

style(demo): fix CSS formatting
  apps/demo/shared/styles/base.css
Due: none

feat(core): add task list extension with checkbox support (#57)
  apps/demo/shared/content.ts
  apps/demo/shared/styles/base.css
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/task-list.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/task-list.css
  packages/core/src/types.ts
  tests/ct/react/specs/Editor.spec.tsx
  tests/ct/react/specs/SlashMenu.spec.tsx
  tests/ct/scenarios/editor.scenario.ts
  tests/ct/scenarios/slash-menu.scenario.ts
  tests/ct/svelte/specs/Editor.spec.ts
  tests/ct/svelte/specs/SlashMenu.spec.ts
  tests/ct/vue/specs/Editor.spec.ts
  tests/ct/vue/specs/SlashMenu.spec.ts
Due: biome-check, typecheck-core
