Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: npm run typecheck --workspace=@vizel/core

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: npm run typecheck --workspace=@vizel/react

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: npm run typecheck --workspace=@vizel/vue

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: npm run typecheck --workspace=@vizel/svelte

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: npm run lint

    typecheck:
      run: npm run typecheck

feat(demo): add vite aliases for development HMR
  apps/demo/react/vite.config.ts
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/vite.config.ts
Due: biome-check

feat(demo): add vite aliases for development HMR (#108)
  apps/demo/react/vite.config.ts
  apps/demo/svelte/vite.config.ts
  apps/demo/vue/vite.config.ts
Due: biome-check

fix(publish): add repository field for npm provenance
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix(publish): add repository field for npm provenance (#111)
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

chore: migrate from npm to pnpm
  .claude/CLAUDE.md
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/git.md
  .claude/rules/testing.md
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/test/SKILL.md
  .github/actions/test/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  lefthook.yml
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/tiptap-extensions.ts
  packages/svelte/package.json
  packages/svelte/src/index.ts
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/index.ts
  packages/vue/src/tiptap-extensions.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix: revert demo dependency updates to match main branch
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix: use workspace protocol for internal dependencies
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(ci): remove duplicate -- from test command
  .github/actions/test/action.yml
Due: none

chore: migrate from npm to pnpm (#116)
  .claude/CLAUDE.md
  .claude/rules/code-style.md
  .claude/rules/cross-framework.md
  .claude/rules/git.md
  .claude/rules/testing.md
  .claude/skills/lint-instructions/SKILL.md
  .claude/skills/test/SKILL.md
  .github/actions/test/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  lefthook.yml
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/tiptap-extensions.ts
  packages/svelte/package.json
  packages/svelte/src/index.ts
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/index.ts
  packages/vue/src/tiptap-extensions.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(ci): use exec npm for pkg set command in pnpm filter
  .github/workflows/publish.yml
Due: none

fix(ci): use exec npm for pkg set command in pnpm filter (#126)
  .github/workflows/publish.yml
Due: none

fix(ci): use pnpm workspace:^ protocol for internal dependencies
  .github/workflows/publish.yml
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(ci): use pnpm workspace:^ protocol for internal dependencies (#127)
  .github/workflows/publish.yml
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(ci): use recursive publish for single OIDC token session
  .github/workflows/publish.yml
Due: none

fix(ci): use recursive publish for single OIDC token session (#128)
  .github/workflows/publish.yml
Due: none

fix(ci): use separate jobs for each package to fix OIDC token expiration
  .github/workflows/publish.yml
Due: none

fix(ci): use separate jobs for each package to fix OIDC token expiration (#129)
  .github/workflows/publish.yml
Due: none

fix(ci): prevent OIDC token conflict by publishing packages sequentially
  .github/workflows/publish.yml
Due: none

chore(deps): update all dependencies to latest versions
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

chore(deps): update all dependencies to latest versions (#145)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

fix(core): security, memory leak, and CSS fixes
  biome.json
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/styles/components.scss
Due: biome-check, typecheck-core

perf(core): optimize bundle with dynamic imports and optional peer deps
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/lazy-import.ts
  packages/core/vite.config.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
  pnpm-lock.yaml
  tests/ct/scenarios/markdown.scenario.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

perf(core): optimize bundle with dynamic imports and optional peer deps (#147)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  biome.json
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/styles/components.scss
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/lazy-import.ts
  packages/core/vite.config.ts
  packages/react/src/hooks/useVizelEditor.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/vue/src/composables/useVizelEditor.ts
  pnpm-lock.yaml
  tests/ct/scenarios/markdown.scenario.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs: fix README inconsistencies and separate KaTeX CSS
  README.md
  apps/demo/shared/styles/base.css
  packages/core/package.json
  packages/core/src/styles/index.scss
  packages/core/src/styles/katex-entry.scss
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: biome-check

docs: fix README inconsistencies and separate KaTeX CSS (#148)
  README.md
  apps/demo/shared/styles/base.css
  packages/core/package.json
  packages/core/src/styles/index.scss
  packages/core/src/styles/katex-entry.scss
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: biome-check

refactor(core): replace double type casts with type guards
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/markdown.ts
Due: biome-check, typecheck-core

refactor(core): replace Record<string, unknown> with specific types and add embed error callback
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorHelpers.ts
Due: biome-check, typecheck-core

test(core): add edge case test scenarios for editor, markdown, and formatting
  tests/ct/react/specs/EdgeCases.spec.tsx
  tests/ct/scenarios/edge-cases.scenario.ts
  tests/ct/svelte/specs/EdgeCases.spec.ts
  tests/ct/vue/specs/EdgeCases.spec.ts
Due: biome-check

fix(test): handle browser-dependent empty markdown export in WebKit
  tests/ct/scenarios/edge-cases.scenario.ts
Due: biome-check

fix(core): escape error messages in diagram and mathematics extensions
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/mathematics.ts
Due: biome-check, typecheck-core

test: replace non-retrying assertions and re-enable skipped tests
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/scenarios/image-resize.scenario.ts
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/scenarios/vizel.scenario.ts
  tests/ct/svelte/specs/Vizel.spec.ts
  tests/ct/vue/specs/Vizel.spec.ts
Due: biome-check

fix(core): escape error messages and improve CT test reliability (#152)
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/mathematics.ts
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/scenarios/image-resize.scenario.ts
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/scenarios/vizel.scenario.ts
  tests/ct/svelte/specs/Vizel.spec.ts
  tests/ct/vue/specs/Vizel.spec.ts
Due: biome-check, typecheck-core

fix(core): improve component styles and add bubble menu dividers
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/bubble-menu.scss
  packages/core/src/styles/code-block.scss
  packages/core/src/styles/details.scss
  packages/core/src/styles/diagram.scss
  packages/core/src/styles/drag-handle.scss
  packages/core/src/styles/embed.scss
  packages/core/src/styles/link.scss
  packages/core/src/styles/mathematics.scss
  packages/core/src/styles/save-indicator.scss
  packages/core/src/styles/slash-menu.scss
  packages/core/src/styles/table.scss
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/vue/src/components/VizelBubbleMenuDefault.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(core): resolve table insert button overlap with styling approach
  packages/core/src/extensions/table-controls.ts
  packages/core/src/styles/table-controls.scss
Due: biome-check, typecheck-core

feat(core): add sticky toolbar with formatting actions
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/icons/index.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/components.scss
  packages/core/src/styles/editor.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/toolbar.scss
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/react/src/components/VizelToolbarButton.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/components/VizelToolbarDivider.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/svelte/src/components/VizelToolbarButton.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/VizelToolbarDivider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelToolbar.vue
  packages/vue/src/components/VizelToolbarButton.vue
  packages/vue/src/components/VizelToolbarDefault.vue
  packages/vue/src/components/VizelToolbarDivider.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore: add npm package metadata to all packages
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check
