Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

refactor(core): remove !important from image resize handle styles
  packages/core/src/extensions/image-resize.ts
  packages/core/src/styles/image.scss
Due: biome-check, typecheck-core

refactor(demo): use CSS custom properties for dark mode colors
  apps/demo/shared/styles/base.css
Due: none

feat(core): enhance link editor with new-tab toggle and visit button
  packages/core/src/icons/types.ts
  packages/core/src/styles/link.scss
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Superscript, Subscript, and Typography extensions
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/icons/types.ts
  packages/core/src/types.ts
  packages/react/package.json
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/tiptap-extensions.ts
  packages/svelte/package.json
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/tiptap-extensions.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add callout/admonition extension
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/index.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/callout.scss
  packages/core/src/styles/index.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

fix(core): use z-popover token for BubbleMenu z-index
  packages/core/src/styles/bubble-menu.scss
Due: none

feat(core): add H4-H6 heading support
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/editor.scss
Due: biome-check, typecheck-core

fix(core): increase toolbar disabled button opacity from 0.35 to 0.5
  packages/core/src/styles/toolbar.scss
Due: none

fix(core): improve drag handle discoverability
  packages/core/src/styles/drag-handle.scss
Due: none

build: add sideEffects field to all package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

chore: remove unused root devDependencies and Biome config remnant
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check

fix(react): add dependency array to useVizelState useEffect
  packages/react/src/hooks/useVizelState.ts
Due: biome-check, typecheck-react

fix: cancel requestAnimationFrame on cleanup in useVizelMarkdown
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): standardize focus ring outline-offset with design tokens
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/bubble-menu.scss
  packages/core/src/styles/details.scss
  packages/core/src/styles/diagram.scss
  packages/core/src/styles/drag-handle.scss
  packages/core/src/styles/embed.scss
  packages/core/src/styles/mathematics.scss
  packages/core/src/styles/slash-menu.scss
  packages/core/src/styles/task-list.scss
  packages/core/src/styles/toolbar.scss
Due: none

feat: improve WCAG 2.2 AA keyboard and ARIA accessibility
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat: expose onError callback in Vizel component props
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add copy-to-clipboard button for code blocks
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/code-block.scss
Due: biome-check, typecheck-core

fix(core): increase disabled button opacity from 0.35/0.3 to 0.5
  packages/core/src/styles/bubble-menu.scss
  packages/core/src/styles/toolbar.scss
Due: none

feat(core): improve drag handle discoverability
  packages/core/src/styles/drag-handle.scss
Due: none

refactor(core): standardize focus ring outline-offset to -2px/2px
  packages/core/src/styles/drag-handle.scss
Due: none

docs: fix wikiLink incorrectly documented as enabled-by-default
  README.md
  docs/guide/features.md
  docs/guide/getting-started.md
  packages/core/README.md
Due: none

docs: fix API documentation errors in core reference
  docs/api/core.md
  docs/api/types/features.md
  docs/api/vue.md
Due: none

chore: remove unused root devDependencies and Biome config remnant (#265)
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check

docs: document composition patterns (Vizel vs VizelProvider+VizelEditor) (#266)
  docs/guide/getting-started.md
Due: none

docs: fix framework guide completeness and consistency gaps (#267)
  docs/api/svelte.md
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/vue.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

feat(core): add H4-H6 heading support (#268)
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/editor.scss
Due: biome-check, typecheck-core

refactor(core): improve CSS architecture (tokens docs, print styles, responsive panel) (#269)
  apps/demo/shared/styles/base.css
  packages/core/src/styles/_print.scss
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/index.scss
Due: none

fix: resolve cross-framework component inconsistencies (#270)
  packages/svelte/src/components/VizelEditor.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
Due: biome-check, typecheck-vue, typecheck-svelte

feat(core): add platform-aware keyboard shortcut tooltips (#274)
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/keyboard.ts
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/components/VizelToolbarDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

docs(core): document em-based content spacing rationale in editor.scss (#277)
  packages/core/src/styles/editor.scss
Due: none

refactor(core): remove !important from image resize handle styles (#278)
  packages/core/src/extensions/image-resize.ts
  packages/core/src/styles/image.scss
Due: biome-check, typecheck-core

refactor(demo): use CSS custom properties for dark mode colors (#279)
  apps/demo/shared/styles/base.css
Due: none

feat(core): enhance link editor with new-tab toggle and visit button (#280)
  packages/core/src/icons/types.ts
  packages/core/src/styles/link.scss
  packages/react/src/components/VizelLinkEditor.tsx
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/vue/src/components/VizelLinkEditor.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add callout/admonition extension (#282)
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/index.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/callout.scss
  packages/core/src/styles/index.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

fix(core): use z-popover token for BubbleMenu z-index (#283)
  packages/core/src/styles/bubble-menu.scss
Due: none

build: add sideEffects field to all package.json (#284)
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

fix(react): add dependency array to useVizelState useEffect (#285)
  packages/react/src/hooks/useVizelState.ts
Due: biome-check, typecheck-react

fix: cancel requestAnimationFrame on cleanup in useVizelMarkdown (#286)
  packages/react/src/hooks/useVizelMarkdown.ts
  packages/svelte/src/runes/createVizelMarkdown.svelte.ts
  packages/vue/src/composables/useVizelMarkdown.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add @mention autocomplete extension
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/core/src/styles/mention.scss
  packages/core/src/types.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add @mention autocomplete extension (#288)
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/core/src/styles/mention.scss
  packages/core/src/types.ts
  packages/react/src/components/VizelMentionMenu.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/createVizelMentionMenuRenderer.ts
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelMentionMenu.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createVizelMentionMenuRenderer.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/VizelMentionMenu.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/createVizelMentionMenuRenderer.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte
