Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: bunx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: bun run --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: bun run --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: bun run --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: bun run --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: bun run lint

    typecheck:
      run: bun run typecheck

perf: externalize large dependencies to reduce bundle size
  bun.lock
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/vite.config.ts
  packages/vue/package.json
  packages/vue/vite.config.ts
Due: biome-check

perf(svelte): move @iconify/utils to dependencies for consistency
  bun.lock
  packages/svelte/package.json
Due: biome-check

chore(deps): update all dependencies to latest versions
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  bun.lock
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: biome-check

perf: externalize large dependencies to reduce bundle size (#95)
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  apps/demo/vue/package.json
  bun.lock
  packages/core/package.json
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/vite.config.ts
  packages/svelte/package.json
  packages/vue/package.json
  packages/vue/vite.config.ts
Due: biome-check

docs: add VitePress documentation site with comprehensive API reference
  .claude/CLAUDE.md
  .claude/rules/packages/react.md
  .github/workflows/deploy-docs.yml
  .gitignore
  LICENSE
  README.md
  biome.json
  bun.lock
  docs/.vitepress/config.mts
  docs/api/core.md
  docs/api/css-variables.md
  docs/api/index.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/types.md
  docs/api/vue.md
  docs/guide/auto-save.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/vue.md
  docs/index.md
  docs/public/logo.svg
  package.json
  packages/react/package.json
Due: biome-check

fix(test): prefix unused component parameters with underscore
  tests/ct/scenarios/vizel.scenario.ts
Due: biome-check

refactor: improve API consistency across frameworks
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/image.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelEditor.tsx
  packages/react/src/components/VizelEmbedView.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/react/src/components/VizelToolbarButton.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useVizelEditorState.ts
  packages/svelte/src/components/VizelColorPicker.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/VizelEmbedView.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelPortal.svelte
  packages/svelte/src/components/VizelProvider.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuEmpty.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/svelte/src/components/VizelToolbarButton.svelte
  packages/svelte/src/components/VizelToolbarColorPicker.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/VizelToolbarDivider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/runes/createVizelEditorState.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelColorPicker.vue
  packages/vue/src/components/VizelEmbedView.vue
  packages/vue/src/components/VizelPortal.vue
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useVizelEditorState.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor: add VizelEditorExposed type and fix cross-framework docs
  .claude/rules/cross-framework.md
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelEditor.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/VizelEditor.vue
  packages/vue/src/components/index.ts
Due: biome-check, typecheck-vue, typecheck-svelte

refactor: export missing types for cross-framework consistency
  packages/svelte/src/components/VizelIcon.svelte
  packages/svelte/src/components/VizelThemeProvider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-vue, typecheck-svelte

docs: update useEditorState to useVizelEditorState in skill file
  .claude/skills/test/SKILL.md
Due: none

fix(demo): use getter pattern for useVizelState and useVizelAutoSave in React demo
  apps/demo/react/src/App.tsx
Due: biome-check

fix(demo): use getter pattern for useVizelState and useVizelAutoSave in React demo (#98)
  apps/demo/react/src/App.tsx
Due: biome-check

test(ct): add Vizel + state pattern tests to detect demo-like regressions
  tests/ct/react/specs/VizelRefState.spec.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
  tests/ct/scenarios/vizel-ref-state.scenario.ts
  tests/ct/svelte/specs/VizelRefState.spec.ts
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
  tests/ct/vue/specs/VizelRefState.spec.ts
  tests/ct/vue/specs/VizelRefStateFixture.vue
Due: biome-check

feat(docs): integrate demo apps into VitePress site
  .github/workflows/deploy-docs.yml
  apps/demo/react/src/App.tsx
  apps/demo/shared/logos/react.svg
  apps/demo/shared/logos/svelte.svg
  apps/demo/shared/logos/vue.svg
  apps/demo/shared/styles/base.css
  apps/demo/shared/vite-env.d.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/.vitepress/components/VizelDemo.vue
  docs/.vitepress/config.mts
  docs/demo/index.md
  docs/public/react.svg
  docs/public/svelte.svg
  docs/public/vue.svg
  package.json
Due: biome-check

style(docs): remove emoji icons from features section
  docs/index.md
Due: none

docs: remove marketing language and improve technical writing
  docs/guide/auto-save.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/vue.md
  docs/index.md
Due: none

docs: apply strict technical writing standards
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/index.md
  docs/index.md
Due: none

docs: remove subjective and vague terms across all documentation
  README.md
  docs/api/css-variables/index.md
  docs/api/types/index.md
  docs/demo/index.md
  docs/index.md
Due: none

docs: remove remaining subjective terms (Complete, seamlessly, gracefully, better, various, Full)
  docs/api/core.md
  docs/api/css-variables/index.md
  docs/api/css-variables/integrations.md
  docs/api/types/index.md
  docs/guide/auto-save.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/vue.md
Due: none

test(ct): add Vizel + state pattern tests to detect demo-like regressions (#99)
  .github/workflows/deploy-docs.yml
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/logos/react.svg
  apps/demo/shared/logos/svelte.svg
  apps/demo/shared/logos/vue.svg
  apps/demo/shared/styles/base.css
  apps/demo/shared/vite-env.d.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/.vitepress/components/VizelDemo.vue
  docs/.vitepress/config.mts
  docs/api/core.md
  docs/api/css-variables/index.md
  docs/api/css-variables/integrations.md
  docs/api/types/index.md
  docs/demo/index.md
  docs/guide/auto-save.md
  docs/guide/configuration.md
  docs/guide/features.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/react.md
  docs/guide/svelte.md
  docs/guide/theming.md
  docs/guide/vue.md
  docs/index.md
  docs/public/react.svg
  docs/public/svelte.svg
  docs/public/vue.svg
  package.json
  tests/ct/react/specs/VizelRefState.spec.tsx
  tests/ct/react/specs/VizelRefStateFixture.tsx
  tests/ct/scenarios/vizel-ref-state.scenario.ts
  tests/ct/svelte/specs/VizelRefState.spec.ts
  tests/ct/svelte/specs/VizelRefStateFixture.svelte
  tests/ct/vue/specs/VizelRefState.spec.ts
  tests/ct/vue/specs/VizelRefStateFixture.vue
Due: biome-check

ci: add npm publish workflow with trusted publishing
  .github/workflows/publish.yml
Due: none

docs: add README for each package
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

ci: add npm publish workflow with trusted publishing (#107)
  .github/workflows/publish.yml
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

refactor(ci): extract test steps into composite action
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

refactor(ci): rename summary job to test-summary
  .github/workflows/ci.yml
Due: none

refactor(ci): extract test steps into composite action (#109)
  .github/actions/test/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix(ci): add npm tag for prerelease versions
  .github/workflows/publish.yml
Due: none

fix(ci): add npm tag for prerelease versions (#110)
  .github/workflows/publish.yml
Due: none
