Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

biome-check:
  run: bunx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck-core:
  run: bun run --filter @vizel/core typecheck

typecheck-react:
  run: bun run --filter @vizel/react typecheck

typecheck-vue:
  run: bun run --filter @vizel/vue typecheck

typecheck-svelte:
  run: bun run --filter @vizel/svelte typecheck

feat(core): add character count extension with word count support (#14)
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/character-count.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/UseEditorState.spec.tsx
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/scenarios/use-editor-state.scenario.ts
  tests/ct/svelte/specs/UseEditorState.spec.ts
  tests/ct/svelte/specs/UseEditorStateFixture.svelte
  tests/ct/vue/specs/UseEditorState.spec.ts
  tests/ct/vue/specs/UseEditorStateFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add character count extension with word count support (#14) (#58)
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/character-count.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorHelpers.ts
  packages/core/src/utils/index.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/UseEditorState.spec.tsx
  tests/ct/react/specs/UseEditorStateFixture.tsx
  tests/ct/scenarios/use-editor-state.scenario.ts
  tests/ct/svelte/specs/UseEditorState.spec.ts
  tests/ct/svelte/specs/UseEditorStateFixture.svelte
  tests/ct/vue/specs/UseEditorState.spec.ts
  tests/ct/vue/specs/UseEditorStateFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add underline extension with bubble menu integration (#15)
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/vue/src/components/BubbleMenuToolbar.vue
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add underline extension with bubble menu integration (#15) (#59)
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/vue/src/components/BubbleMenuToolbar.vue
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add text color and highlight extensions with color picker
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/types.ts
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add text color and highlight extensions with color picker (#60)
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/types.ts
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): enhance text color and highlight with rich color picker
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): enhance text color and highlight with rich color picker (#61)
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/text-color.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add code block syntax highlighting with lowlight
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/code-block.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/CodeBlock.spec.tsx
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/svelte/specs/CodeBlock.spec.ts
  tests/ct/vue/specs/CodeBlock.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add code block syntax highlighting with lowlight (#17)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/code-block.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/EditorContext.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/CodeBlock.spec.tsx
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/svelte/specs/CodeBlock.spec.ts
  tests/ct/vue/specs/CodeBlock.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add code block syntax highlighting with lowlight (#17) (#62)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/code-block.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/EditorContext.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/CodeBlock.spec.tsx
  tests/ct/scenarios/code-block.scenario.ts
  tests/ct/svelte/specs/CodeBlock.spec.ts
  tests/ct/vue/specs/CodeBlock.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add LaTeX math support with KaTeX rendering (#20)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/mathematics.css
  packages/core/src/types.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/EditorFixture.tsx
  tests/ct/react/specs/Mathematics.spec.tsx
  tests/ct/scenarios/mathematics.scenario.ts
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/Mathematics.spec.ts
  tests/ct/vue/specs/EditorFixture.vue
  tests/ct/vue/specs/Mathematics.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add LaTeX math support with KaTeX rendering (#20) (#65)
  apps/demo/react/src/App.tsx
  apps/demo/shared/content.ts
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/mathematics.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/mathematics.css
  packages/core/src/types.ts
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/EditorFixture.tsx
  tests/ct/react/specs/Mathematics.spec.tsx
  tests/ct/scenarios/mathematics.scenario.ts
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/Mathematics.spec.ts
  tests/ct/vue/specs/EditorFixture.vue
  tests/ct/vue/specs/Mathematics.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

chore(deps): update bun.lock for vite 7.3.0
  bun.lock
Due: none

refactor(svelte): rename runes to follow Svelte naming conventions
  .claude/rules/cross-framework.md
  .claude/rules/packages/svelte.md
  apps/demo/svelte/src/App.svelte
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/EditorContent.svelte
  packages/svelte/src/components/EditorContext.ts
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createEditorState.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/index.ts
  tests/ct/svelte/specs/CreateEditorState.spec.ts
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/MarkdownFixture.svelte
Due: biome-check, typecheck-svelte

refactor(svelte): rename runes to follow Svelte naming conventions (#66)
  .claude/rules/cross-framework.md
  .claude/rules/packages/svelte.md
  apps/demo/svelte/src/App.svelte
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/EditorContent.svelte
  packages/svelte/src/components/EditorContext.ts
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createEditorState.svelte.ts
  packages/svelte/src/runes/createVizelEditor.svelte.ts
  packages/svelte/src/runes/index.ts
  tests/ct/svelte/specs/CreateEditorState.spec.ts
  tests/ct/svelte/specs/CreateEditorStateFixture.svelte
  tests/ct/svelte/specs/EditorFixture.svelte
  tests/ct/svelte/specs/MarkdownFixture.svelte
Due: biome-check, typecheck-svelte

feat(core): add reusable ColorPicker component with accessibility
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/components/ColorPicker.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/components/ColorPicker.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/components/ColorPicker.vue
  packages/vue/src/components/index.ts
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

fix(vue): resolve exactOptionalPropertyTypes compatibility issues
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/components/ColorPicker.vue
Due: biome-check, typecheck-vue

test(core): add ColorPicker component tests for all frameworks
  apps/demo/react/index.html
  packages/react/src/components/ColorPicker.tsx
  packages/react/src/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/ColorPicker.spec.tsx
  tests/ct/react/specs/ColorPickerFixture.tsx
  tests/ct/scenarios/color-picker.scenario.ts
  tests/ct/svelte/specs/ColorPicker.spec.ts
  tests/ct/svelte/specs/ColorPickerFixture.svelte
  tests/ct/vue/specs/ColorPicker.spec.ts
  tests/ct/vue/specs/ColorPickerFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add reusable ColorPicker component with accessibility (#21) (#67)
  apps/demo/react/index.html
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuColorPicker.tsx
  packages/react/src/components/ColorPicker.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/BubbleMenuColorPicker.svelte
  packages/svelte/src/components/ColorPicker.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/BubbleMenuColorPicker.vue
  packages/vue/src/components/ColorPicker.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/ColorPicker.spec.tsx
  tests/ct/react/specs/ColorPickerFixture.tsx
  tests/ct/scenarios/color-picker.scenario.ts
  tests/ct/svelte/specs/ColorPicker.spec.ts
  tests/ct/svelte/specs/ColorPickerFixture.svelte
  tests/ct/vue/specs/ColorPicker.spec.ts
  tests/ct/vue/specs/ColorPickerFixture.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add horizontal rule slash command and tests (#23)
  apps/demo/shared/content.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/styles/editor.css
  tests/ct/react/specs/HorizontalRule.spec.tsx
  tests/ct/scenarios/horizontal-rule.scenario.ts
  tests/ct/svelte/specs/HorizontalRule.spec.ts
  tests/ct/vue/specs/HorizontalRule.spec.ts
Due: biome-check, typecheck-core

feat(core): add horizontal rule slash command and tests (#23) (#68)
  apps/demo/shared/content.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/styles/editor.css
  tests/ct/react/specs/HorizontalRule.spec.tsx
  tests/ct/scenarios/horizontal-rule.scenario.ts
  tests/ct/svelte/specs/HorizontalRule.spec.ts
  tests/ct/vue/specs/HorizontalRule.spec.ts
Due: biome-check, typecheck-core

feat(core): add node type selector component (#22)
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/NodeSelector.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/NodeSelector.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/NodeSelector.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add node type selector component (#22) (#69)
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/NodeSelector.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/NodeSelector.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/NodeSelector.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add drag handle for block reordering (#30)
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/styles/drag-handle.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/core/vite.config.ts
  tests/ct/react/specs/DragHandle.spec.tsx
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/DragHandle.spec.ts
  tests/ct/vue/specs/DragHandle.spec.ts
Due: biome-check, typecheck-core

fix(core): fix drag handle visibility CSS selector
  packages/core/src/styles/drag-handle.css
Due: none

feat(core): support list item reordering with keyboard shortcuts
  packages/core/src/extensions/drag-handle.ts
Due: biome-check, typecheck-core

fix(core): prevent drag handle from intercepting editor clicks
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/styles/drag-handle.css
  tests/ct/scenarios/mathematics.scenario.ts
Due: biome-check, typecheck-core

fix(react,vue,svelte): fix NodeSelector webkit keyboard navigation
  packages/react/src/components/NodeSelector.tsx
  packages/svelte/src/components/NodeSelector.svelte
  packages/vue/src/components/NodeSelector.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

test: add drag handle hover and keyboard navigation tests
  tests/ct/react/specs/DragHandle.spec.tsx
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/DragHandle.spec.ts
  tests/ct/vue/specs/DragHandle.spec.ts
Due: biome-check

feat(core): add drag handle for block reordering (#30) (#70)
  bun.lock
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/styles/drag-handle.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/core/vite.config.ts
  packages/react/src/components/NodeSelector.tsx
  packages/svelte/src/components/NodeSelector.svelte
  packages/vue/src/components/NodeSelector.vue
  tests/ct/react/specs/DragHandle.spec.tsx
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/scenarios/mathematics.scenario.ts
  tests/ct/svelte/specs/DragHandle.spec.ts
  tests/ct/vue/specs/DragHandle.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add auto-save functionality with SaveIndicator component (#24, #25)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/auto-save.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/save-indicator.css
  packages/react/src/components/SaveIndicator.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAutoSave.ts
  packages/react/src/index.ts
  packages/svelte/src/components/SaveIndicator.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createAutoSave.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/SaveIndicator.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useAutoSave.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/SaveIndicator.spec.tsx
  tests/ct/react/specs/SaveIndicatorFixture.tsx
  tests/ct/scenarios/save-indicator.scenario.ts
  tests/ct/svelte/specs/SaveIndicator.spec.ts
  tests/ct/svelte/specs/SaveIndicatorFixture.svelte
  tests/ct/vue/specs/SaveIndicator.spec.ts
  tests/ct/vue/specs/SaveIndicatorFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add auto-save functionality with SaveIndicator component (#24, #25) (#71)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/auto-save.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.css
  packages/core/src/styles/save-indicator.css
  packages/react/src/components/SaveIndicator.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAutoSave.ts
  packages/react/src/index.ts
  packages/svelte/src/components/SaveIndicator.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/createAutoSave.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/SaveIndicator.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useAutoSave.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/SaveIndicator.spec.tsx
  tests/ct/react/specs/SaveIndicatorFixture.tsx
  tests/ct/scenarios/save-indicator.scenario.ts
  tests/ct/svelte/specs/SaveIndicator.spec.ts
  tests/ct/svelte/specs/SaveIndicatorFixture.svelte
  tests/ct/vue/specs/SaveIndicator.spec.ts
  tests/ct/vue/specs/SaveIndicatorFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add dark mode support with ThemeProvider
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
  packages/core/src/index.ts
  packages/core/src/styles/save-indicator.css
  packages/core/src/styles/variables.css
  packages/core/src/theme.ts
  packages/react/src/components/ThemeProvider.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/ThemeProvider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/getTheme.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/NodeSelector.vue
  packages/vue/src/components/ThemeContext.ts
  packages/vue/src/components/ThemeProvider.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useTheme.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/ThemeProvider.spec.tsx
  tests/ct/react/specs/ThemeProviderFixture.tsx
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/svelte/specs/ThemeContent.svelte
  tests/ct/svelte/specs/ThemeProvider.spec.ts
  tests/ct/svelte/specs/ThemeProviderFixture.svelte
  tests/ct/vue/specs/ThemeContent.vue
  tests/ct/vue/specs/ThemeProvider.spec.ts
  tests/ct/vue/specs/ThemeProviderFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add dark mode support with ThemeProvider (#72)
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/svelte/src/ThemeToggle.svelte
  apps/demo/vue/src/App.vue
  apps/demo/vue/src/ThemeToggle.vue
  packages/core/src/index.ts
  packages/core/src/styles/save-indicator.css
  packages/core/src/styles/variables.css
  packages/core/src/theme.ts
  packages/react/src/components/ThemeProvider.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/ThemeProvider.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/svelte/src/runes/getTheme.svelte.ts
  packages/svelte/src/runes/index.ts
  packages/vue/src/components/NodeSelector.vue
  packages/vue/src/components/ThemeContext.ts
  packages/vue/src/components/ThemeProvider.vue
  packages/vue/src/components/index.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useTheme.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/ThemeProvider.spec.tsx
  tests/ct/react/specs/ThemeProviderFixture.tsx
  tests/ct/scenarios/theme-provider.scenario.ts
  tests/ct/svelte/specs/ThemeContent.svelte
  tests/ct/svelte/specs/ThemeProvider.spec.ts
  tests/ct/svelte/specs/ThemeProviderFixture.svelte
  tests/ct/vue/specs/ThemeContent.vue
  tests/ct/vue/specs/ThemeProvider.spec.ts
  tests/ct/vue/specs/ThemeProviderFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement enhanced slash command menu with fuzzy search (#28)
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/slash-menu.css
  packages/react/src/components/BubbleMenuLinkEditor.tsx
  packages/react/src/components/SlashMenu.tsx
  packages/react/src/components/SlashMenuItem.tsx
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/components/SlashMenuItem.svelte
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/components/SlashMenuItem.vue
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/react/specs/SlashMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/scenarios/slash-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/svelte/specs/SlashMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/SlashMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement enhanced slash command menu with fuzzy search (#28) (#73)
  bun.lock
  packages/core/package.json
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/index.ts
  packages/core/src/styles/bubble-menu.css
  packages/core/src/styles/slash-menu.css
  packages/react/src/components/BubbleMenuLinkEditor.tsx
  packages/react/src/components/SlashMenu.tsx
  packages/react/src/components/SlashMenuItem.tsx
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/SlashMenu.svelte
  packages/svelte/src/components/SlashMenuItem.svelte
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/SlashMenu.vue
  packages/vue/src/components/SlashMenuItem.vue
  tests/ct/react/specs/BubbleMenu.spec.tsx
  tests/ct/react/specs/SlashMenu.spec.tsx
  tests/ct/scenarios/bubble-menu.scenario.ts
  tests/ct/scenarios/slash-menu.scenario.ts
  tests/ct/svelte/specs/BubbleMenu.spec.ts
  tests/ct/svelte/specs/SlashMenu.spec.ts
  tests/ct/vue/specs/BubbleMenu.spec.ts
  tests/ct/vue/specs/SlashMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement universal URL embed with graceful fallback
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/embed.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/components/BubbleMenuLinkEditor.tsx
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/EmbedView.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/EmbedView.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/EmbedView.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/Embed.spec.tsx
  tests/ct/react/specs/EmbedFixture.tsx
  tests/ct/scenarios/embed.scenario.ts
  tests/ct/svelte/specs/Embed.spec.ts
  tests/ct/svelte/specs/EmbedFixture.svelte
  tests/ct/vue/specs/Embed.spec.ts
  tests/ct/vue/specs/EmbedFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): implement universal URL embed with graceful fallback (#75)
  apps/demo/react/src/App.tsx
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/embed.ts
  packages/core/src/extensions/index.ts
  packages/core/src/index.ts
  packages/core/src/styles/embed.css
  packages/core/src/styles/index.css
  packages/core/src/types.ts
  packages/react/src/components/BubbleMenu.tsx
  packages/react/src/components/BubbleMenuLinkEditor.tsx
  packages/react/src/components/BubbleMenuToolbar.tsx
  packages/react/src/components/EmbedView.tsx
  packages/react/src/components/index.ts
  packages/svelte/src/components/BubbleMenu.svelte
  packages/svelte/src/components/BubbleMenuLinkEditor.svelte
  packages/svelte/src/components/BubbleMenuToolbar.svelte
  packages/svelte/src/components/EmbedView.svelte
  packages/svelte/src/components/index.ts
  packages/vue/src/components/BubbleMenu.vue
  packages/vue/src/components/BubbleMenuLinkEditor.vue
  packages/vue/src/components/BubbleMenuToolbar.vue
  packages/vue/src/components/EmbedView.vue
  packages/vue/src/components/index.ts
  tests/ct/react/specs/Embed.spec.tsx
  tests/ct/react/specs/EmbedFixture.tsx
  tests/ct/scenarios/embed.scenario.ts
  tests/ct/svelte/specs/Embed.spec.ts
  tests/ct/svelte/specs/EmbedFixture.svelte
  tests/ct/vue/specs/Embed.spec.ts
  tests/ct/vue/specs/EmbedFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}
  typecheck-core: any of: packages/core/**/*.ts
  typecheck-react: any of: packages/react/**/*.{ts,tsx}
  typecheck-vue: any of: packages/vue/**/*.{ts,vue}
  typecheck-svelte: any of: packages/svelte/**/*.{ts,svelte}
