Repository seijikohara/vizel: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,vue,svelte}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck-core:
      glob: "packages/core/**/*.ts"
      run: pnpm --filter @vizel/core typecheck

    typecheck-react:
      glob: "packages/react/**/*.{ts,tsx}"
      run: pnpm --filter @vizel/react typecheck

    typecheck-vue:
      glob: "packages/vue/**/*.{ts,vue}"
      run: pnpm --filter @vizel/vue typecheck

    typecheck-svelte:
      glob: "packages/svelte/**/*.{ts,svelte}"
      run: pnpm --filter @vizel/svelte typecheck

commit-msg:
  commands:
    commitlint:
      run: |
        # Validate commit message follows Conventional Commits
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Examples:"
          echo "  feat: add new feature"
          echo "  fix(core): resolve bug in editor"
          echo "  docs: update README"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint

    typecheck:
      run: pnpm typecheck

feat: improve WCAG 2.2 AA keyboard and ARIA accessibility (#289)
  packages/react/src/components/VizelBubbleMenu.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelLinkEditor.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelSlashMenu.tsx
  packages/react/src/components/VizelSlashMenuItem.tsx
  packages/react/src/components/VizelToolbar.tsx
  packages/svelte/src/components/VizelBubbleMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelLinkEditor.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelSlashMenu.svelte
  packages/svelte/src/components/VizelSlashMenuItem.svelte
  packages/svelte/src/components/VizelToolbar.svelte
  packages/vue/src/components/VizelBubbleMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelSlashMenu.vue
  packages/vue/src/components/VizelSlashMenuItem.vue
  packages/vue/src/components/VizelToolbar.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Table of Contents extension
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/table-of-contents.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/core/src/styles/table-of-contents.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat(core): add Table of Contents extension (#290)
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/table-of-contents.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/core/src/styles/table-of-contents.scss
  packages/core/src/types.ts
Due: biome-check, typecheck-core

feat: expose onError callback in Vizel component props (#291)
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
Due: biome-check, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add copy-to-clipboard button for code blocks (#292)
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/icons/types.ts
  packages/core/src/styles/code-block.scss
Due: biome-check, typecheck-core

feat(core): add Superscript, Subscript, and Typography extensions
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/icons/types.ts
  packages/core/src/types.ts
  packages/react/package.json
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/tiptap-extensions.ts
  packages/svelte/package.json
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/tiptap-extensions.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Superscript, Subscript, and Typography extensions (#293)
  packages/core/package.json
  packages/core/src/extensions/base.ts
  packages/core/src/icons/types.ts
  packages/core/src/types.ts
  packages/react/package.json
  packages/react/src/components/VizelBubbleMenuDefault.tsx
  packages/react/src/tiptap-extensions.ts
  packages/svelte/package.json
  packages/svelte/src/components/VizelBubbleMenuDefault.svelte
  packages/svelte/src/tiptap-extensions.ts
  packages/vue/package.json
  packages/vue/src/components/VizelBubbleMenuDefault.vue
  packages/vue/src/tiptap-extensions.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(react): add markdown controlled mode props
  packages/react/src/components/Vizel.tsx
Due: biome-check, typecheck-react

feat(react): add markdown controlled mode props (#294)
  packages/react/src/components/Vizel.tsx
Due: biome-check, typecheck-react

fix(core): increase disabled button opacity from 0.35/0.3 to 0.5 (#295)
  packages/core/src/styles/bubble-menu.scss
  packages/core/src/styles/toolbar.scss
Due: none

feat(core): improve drag handle discoverability (#296)
  packages/core/src/styles/drag-handle.scss
Due: none

refactor(core): standardize focus ring outline-offset to -2px/2px (#297)
  packages/core/src/styles/drag-handle.scss
Due: none

docs: fix wikiLink incorrectly documented as enabled-by-default (#298)
  README.md
  docs/guide/features.md
  docs/guide/getting-started.md
  packages/core/README.md
Due: none

docs: fix API documentation errors in core reference (#299)
  docs/api/core.md
  docs/api/types/features.md
  docs/api/vue.md
Due: none

fix(core): add DOMPurify sanitization for oEmbed and diagram HTML
  packages/core/package.json
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

fix(core): add DOMPurify sanitization for oEmbed and diagram HTML (#300)
  packages/core/package.json
  packages/core/src/extensions/diagram.ts
  packages/core/src/extensions/embed.ts
  pnpm-lock.yaml
Due: biome-check, typecheck-core

fix: post-merge consistency for callout exports, React demo styles, and docs
  README.md
  apps/demo/react/src/entry.tsx
  docs/api/types/features.md
  docs/guide/features.md
  packages/core/README.md
  packages/core/src/index.ts
Due: biome-check, typecheck-core

fix: post-merge consistency for callout exports, React demo styles, and docs (#301)
  README.md
  apps/demo/react/src/entry.tsx
  docs/api/types/features.md
  docs/guide/features.md
  packages/core/README.md
  packages/core/src/index.ts
Due: biome-check, typecheck-core

chore: update all dependencies to latest versions
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: biome-check

ci: add Playwright browser cache to improve test reliability
  .github/actions/test/action.yml
Due: none

chore: fix Tiptap peer dependency warnings
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: biome-check

chore: update remaining dependencies and migrate Biome to 2.4.0
  apps/demo/svelte/package.json
  biome.json
  package.json
  packages/svelte/package.json
  packages/vue/src/components/VizelEditor.vue
  pnpm-lock.yaml
Due: biome-check, typecheck-vue

fix: resolve react/react-dom version mismatch via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: biome-check

ci: always install Playwright system dependencies regardless of cache
  .github/actions/test/action.yml
Due: none

chore: update all dependencies to latest versions (#307)
  .github/actions/test/action.yml
  apps/demo/react/package.json
  apps/demo/svelte/package.json
  biome.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/vue/src/components/VizelEditor.vue
  pnpm-lock.yaml
Due: biome-check, typecheck-vue

feat(core): add Markdown flavor selection for output format control
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/guide/features.md
  docs/guide/getting-started.md
  packages/core/README.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
  tests/ct/react/specs/MarkdownFlavors.spec.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/scenarios/markdown-flavors.scenario.ts
  tests/ct/svelte/specs/MarkdownFlavors.spec.ts
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavors.spec.ts
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add Markdown flavor selection for output format control (#308)
  README.md
  apps/demo/react/src/App.tsx
  apps/demo/shared/styles/base.css
  apps/demo/svelte/src/App.svelte
  apps/demo/vue/src/App.vue
  docs/api/core.md
  docs/guide/features.md
  docs/guide/getting-started.md
  packages/core/README.md
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/callout.ts
  packages/core/src/extensions/mention.ts
  packages/core/src/extensions/wiki-link.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/markdown-flavors.ts
  packages/react/src/components/Vizel.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/vue/src/components/Vizel.vue
  tests/ct/react/specs/MarkdownFlavors.spec.tsx
  tests/ct/react/specs/MarkdownFlavorsFixture.tsx
  tests/ct/scenarios/markdown-flavors.scenario.ts
  tests/ct/svelte/specs/MarkdownFlavors.spec.ts
  tests/ct/svelte/specs/MarkdownFlavorsFixture.svelte
  tests/ct/vue/specs/MarkdownFlavors.spec.ts
  tests/ct/vue/specs/MarkdownFlavorsFixture.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add block menu context menu on drag handle click
  .claude/rules/cross-framework.md
  README.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/features.md
  packages/core/src/extensions/block-menu.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/icons/index.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/block-menu.scss
  packages/core/src/styles/index.scss
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/BlockMenu.spec.tsx
  tests/ct/scenarios/block-menu.scenario.ts
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/BlockMenu.spec.ts
  tests/ct/vue/specs/BlockMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add block menu context menu on drag handle click (#309)
  .claude/rules/cross-framework.md
  README.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/features.md
  packages/core/src/extensions/block-menu.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/icons/index.ts
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/block-menu.scss
  packages/core/src/styles/index.scss
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
  tests/ct/react/specs/BlockMenu.spec.tsx
  tests/ct/scenarios/block-menu.scenario.ts
  tests/ct/scenarios/drag-handle.scenario.ts
  tests/ct/svelte/specs/BlockMenu.spec.ts
  tests/ct/vue/specs/BlockMenu.spec.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: add i18n internationalization support for all UI strings (#251)
  docs/guide/configuration.md
  docs/guide/features.md
  packages/core/README.md
  packages/core/src/auto-save.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/block-menu.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/index.ts
  packages/core/src/i18n/types.ts
  packages/core/src/i18n/utils.ts
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelToolbarDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: add i18n internationalization support for all UI strings (#251) (#312)
  docs/guide/configuration.md
  docs/guide/features.md
  packages/core/README.md
  packages/core/src/auto-save.ts
  packages/core/src/commands/slash-items.ts
  packages/core/src/extensions/base.ts
  packages/core/src/extensions/block-menu.ts
  packages/core/src/extensions/code-block-lowlight.ts
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/index.ts
  packages/core/src/extensions/node-types.ts
  packages/core/src/extensions/slash-command.ts
  packages/core/src/i18n/en.ts
  packages/core/src/i18n/index.ts
  packages/core/src/i18n/types.ts
  packages/core/src/i18n/utils.ts
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/core/src/types.ts
  packages/core/src/utils/editorFactory.ts
  packages/react/src/components/Vizel.tsx
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelFindReplace.tsx
  packages/react/src/components/VizelNodeSelector.tsx
  packages/react/src/components/VizelSaveIndicator.tsx
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/svelte/src/components/Vizel.svelte
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelFindReplace.svelte
  packages/svelte/src/components/VizelNodeSelector.svelte
  packages/svelte/src/components/VizelSaveIndicator.svelte
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/vue/src/components/Vizel.vue
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelFindReplace.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelSaveIndicator.vue
  packages/vue/src/components/VizelToolbarDefault.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: add toolbar extensibility with dropdown menus and overflow support (#254)
  docs/api/core.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/features.md
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/toolbar.scss
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelToolbarDefault.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat: add toolbar extensibility with dropdown menus and overflow support (#313)
  docs/api/core.md
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/features.md
  packages/core/src/icons/types.ts
  packages/core/src/index.ts
  packages/core/src/styles/toolbar.scss
  packages/core/src/toolbar/actions.ts
  packages/core/src/toolbar/index.ts
  packages/react/src/components/VizelToolbarDefault.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/react/src/components/index.ts
  packages/react/src/index.ts
  packages/svelte/src/components/VizelToolbarDefault.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  packages/svelte/src/components/index.ts
  packages/svelte/src/index.ts
  packages/vue/src/components/VizelToolbarDefault.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
  packages/vue/src/components/index.ts
  packages/vue/src/index.ts
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

feat(core): add list item keyboard navigation with Tab indent and Alt+Arrow reorder (#236)
  docs/guide/features.md
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/task-list.ts
  packages/core/src/styles/drag-handle.scss
  tests/ct/react/specs/ListDnd.spec.tsx
  tests/ct/scenarios/list-dnd.scenario.ts
  tests/ct/svelte/specs/ListDnd.spec.ts
  tests/ct/vue/specs/ListDnd.spec.ts
Due: biome-check, typecheck-core

feat(core): add list item keyboard navigation with Tab indent and Alt+Arrow reorder (#236) (#314)
  docs/guide/features.md
  packages/core/src/extensions/drag-handle.ts
  packages/core/src/extensions/task-list.ts
  packages/core/src/styles/drag-handle.scss
  tests/ct/react/specs/ListDnd.spec.tsx
  tests/ct/scenarios/list-dnd.scenario.ts
  tests/ct/svelte/specs/ListDnd.spec.ts
  tests/ct/vue/specs/ListDnd.spec.ts
Due: biome-check, typecheck-core

refactor: improve ARIA, Vue lifecycle, CSS tokenization, and docs consistency
  docs/api/react.md
  docs/api/svelte.md
  docs/api/vue.md
  docs/guide/configuration.md
  docs/guide/getting-started.md
  packages/core/src/extensions/block-menu.ts
  packages/core/src/i18n/types.ts
  packages/core/src/i18n/utils.ts
  packages/core/src/index.ts
  packages/core/src/styles/block-menu.scss
  packages/core/src/styles/components.scss
  packages/core/src/styles/components/_find-replace.scss
  packages/core/src/styles/table-controls.scss
  packages/react/README.md
  packages/react/src/components/VizelBlockMenu.tsx
  packages/react/src/components/VizelToolbarDropdown.tsx
  packages/react/src/components/VizelToolbarOverflow.tsx
  packages/svelte/README.md
  packages/svelte/src/components/VizelBlockMenu.svelte
  packages/svelte/src/components/VizelToolbarDropdown.svelte
  packages/svelte/src/components/VizelToolbarOverflow.svelte
  packages/vue/README.md
  packages/vue/src/components/VizelBlockMenu.vue
  packages/vue/src/components/VizelBubbleMenuColorPicker.vue
  packages/vue/src/components/VizelLinkEditor.vue
  packages/vue/src/components/VizelNodeSelector.vue
  packages/vue/src/components/VizelToolbarDropdown.vue
  packages/vue/src/components/VizelToolbarOverflow.vue
Due: biome-check, typecheck-core, typecheck-react, typecheck-vue, typecheck-svelte

refactor(core): extract groupByConsecutiveField utility from duplicate grouping functions (#316)
  docs/api/core.md
  packages/core/src/extensions/block-menu.ts
  packages/core/src/index.ts
  packages/core/src/toolbar/actions.ts
  packages/core/src/utils/groupByField.ts
  packages/core/src/utils/index.ts
Due: biome-check, typecheck-core
